<div class="container-y workflow-message">
  <div class="container-x">
    <!-- Avatar column -->
    <div class="container-y">
      <img class="avatar space-top space-right" src="images/svg/avatar_placeholder.svg">
    </div>
    <!-- Arrow head -->
    <div class="arrow-left"></div>
    <!-- Message panel -->
    <div class="flex-1 panel container-y">
      <!-- Message title -->
      <div class="message-title">
        <span>Feedback Received</span>
      </div>
      <!-- Message body -->
      <div class="text-i space-bottom-2x">
        <span>Here's your feedback from</span>
        <span>{Buyer}:</span>
      </div>
      <!-- Public feedback ratings -->
      <div class="space-top space-bottom-2x">
        <!-- Rating -->
        <div class="container-x space-bottom">
          <div class="flex-1 text-i">Overall</div>
          <div class="flex-1 text-p">
            <div class="container-x">
              <!-- Repeat: full stars -->
              <div class="text-yellow">
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
              </div>
              <!-- Repeat: empty stars -->
              <div class="text-yellow">
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
              </div>
            </div>
          </div>
        </div>
        <!-- Rating -->
        <div class="container-x space-bottom">
          <div class="flex-1 text-i">Quality of work</div>
          <div class="flex-1 text-p">
            <div class="container-x">
              <!-- Repeat: full stars -->
              <div class="text-yellow">
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
              </div>
              <!-- Repeat: empty stars -->
              <div class="text-yellow">
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
              </div>
            </div>
          </div>
        </div>
        <!-- Rating -->
        <div class="container-x space-bottom">
          <div class="flex-1 text-i">Service rendered as described</div>
          <div class="flex-1 text-p">
            <div class="container-x">
              <!-- Repeat: full stars -->
              <div class="text-yellow">
                <span class="glyphicon glyphicon-star"></span>
              </div>
              <!-- Repeat: empty stars -->
              <div class="text-yellow">
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
              </div>
            </div>
          </div>
        </div>
        <!-- Rating -->
        <div class="container-x space-bottom">
          <div class="flex-1 text-i">Communication / cooperation</div>
          <div class="flex-1 text-p">
            <div class="container-x">
              <!-- Repeat: full stars -->
              <div class="text-yellow">
                <span class="glyphicon glyphicon-star"></span>
              </div>
              <!-- Repeat: empty stars -->
              <div class="text-yellow">
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Comments -->
      <div class="flex-1 text-p-bold">Comments</div>
      <div class="highlighted bg-grey95 space-top-05 text-i italic">
        {feedback_comments}
      </div>
    </div>
  </div>
  <div class="container-x flex-content-end">
    <div class="text-grey text-i">Nov 17, 2014</div>
  </div>
</div>
