<div class="container-y workflow-message">
  <div class="container-x">
    <!-- Avatar column -->
    <div class="container-y">
      <img class="avatar space-top space-right" src="images/svg/avatar_placeholder.svg">
    </div>
    <!-- Arrow head -->
    <div class="arrow-left"></div>
    <!-- Message panel -->
    <div class="flex-1 panel container-y">
      <!-- Message title -->
      <div class="message-title">View your feedback</div>
      <!-- Message body -->
      <div class="text-i space-bottom-2x">
        <span>{Buyer}</span>
        <span> just left you a review.  To view your feedback score, please leave a review for the</span>
        <span>{Buyer}</span>
      </div>
      <div class="container-x flex-content-end">
        <button class="btn btn-blue btn-m text-i space-left">Lead</button>
      </div>
    </div>
  </div>
  <div class="container-x flex-content-end">
    <div class="text-grey text-i">Nov 17, 2014</div>
  </div>
</div>
