<div class="container-y workflow-message">
  <div class="container-x">
    <!-- Avatar column -->
    <div class="container-y">
      <img class="avatar space-top space-right" src="images/seller0.png">
    </div>
    <!-- Arrow head -->
    <div class="arrow-left"></div>
    <!-- Message panel -->
    <div class="flex-1 panel container-y">
      <!-- Message title -->
      <div class="message-title">Refund Request Accepted</div>
      <!-- Message body -->
      <div class="text-i space-bottom-2x">
        <span>Your refund request sent on</span>
        <span>{refund_request_date}</span>
        <span>was accepted by</span>
        <span>{Seller}</span>
        <span>. Your advance payment of</span>
        <span>{order_amount}</span>
        <span> has been refunded to your</span>
        <a href="#action_wallet">DigiServed Wallet</a>
      </div>
      <div class="text-p-bold space-bottom-2x">Reason for Cancellation</div>
      <div class="highlighted bg-grey95 text-i italic">{refund_request_reason}</div>
    </div>
  </div>
  <div class="container-x flex-content-end">
    <div class="text-grey text-i">Nov 17, 2014</div>
  </div>
</div>
