<div class="container-y workflow-message">
  <div class="container-x">
    <!-- Avatar column -->
    <div class="container-y">
      <img class="avatar space-top space-right" src="images/seller0.png">
    </div>
    <!-- Arrow head -->
    <div class="arrow-left"></div>
    <!-- Message panel -->
    <div class="flex-1 panel container-y">
      <!-- Message title -->
      <div class="message-title">Refund Requested</div>
      <!-- Message body -->
      <div class="text-i space-bottom-2x">
        You have requested to cancel your order and get a refund for the following reason:
      </div>
      <div class="highlighted bg-grey95 space-bottom-2x text-i italic">{refund_request_reason}</div>
      <div class="text-i space-bottom">
        <span>{Seller}</span>
        <span>has been informed about your cancellation request, and has until</span>
        <span>{refund_action_deadline}</span>
        <span>to accept or dispute the request. You can cancel the request at any time before then.</span>
      </div>
      <!-- Action buttons -->
      <div class="container-x flex-content-end flex-items-centered space-top-2x ">
        <button class="btn btn-blue btn-m text-i space-left-05" type="submit" value="Submit dispute">Cancel</button>
      </div>
    </div>
  </div>
  <div class="container-x flex-content-end">
    <div class="text-grey text-i">Nov 17, 2014</div>
  </div>
</div>
