<div class="container-y workflow-message">
  <div class="container-x">
    <!-- Avatar column -->
    <div class="container-y">
      <img class="avatar space-top space-right" src="images/seller0.png">
    </div>
    <!-- Arrow head -->
    <div class="arrow-left"></div>
    <!-- Message panel -->
    <div class="flex-1 panel container-y">
      <!-- Message title -->
      <div class="message-title">Refund Requested - Reminder</div>
      <!-- Message body -->
      <div class="text-i space-bottom-2x">
        <span>{Buyer}</span>
        <span>requested to cancel this order and get a refund on</span>
        <span>{Date}</span>
        <span>. If you haven't done so already, please respond to the cancellation request by</span>
        <span>{Date}</span>
        <span>, otherwise the request will be automatically accepted and the funds refunded to the buyer.</span>
      </div>
      <div class="text-p-bold space-bottom-2x">Reason for Cancellation</div>
      <div class="highlighted bg-grey95 space-bottom-2x text-i italic">
        Seller is not responsive and project deadline has passed
      </div>
      <div class="text-i space-bottom">
        <span>You can either accept the cancellation, in which case the advance payment of</span>
        <span>{$30}</span>
        <span>will be refunded to</span>
        <span>{Buyer}</span>
        <span>, or you can open a dispute. Should you choose to open a dispute, a Customer Service Representative will get in touch with you and</span>
        <span>{Buyer}</span>
        <span>to resolve the dispute for a fair outcome.</span>
      </div>
      <div class="space-top warning-note highlighted text-i">
        <span class="text-bold">Important:</span>
        Opening a dispute should be a last resort measure, after exhausting all means of reaching a mutually-beneficial outcome. Bear in mind disputes often affect ratings.
      </div>
      <!-- Action buttons -->
      <div class="container-x flex-content-end flex-items-centered">
        <a class="btn btn-link space-right text-i">Dispute</a>
        <button class="btn btn-blue btn-m text-i space-left-05" type="submit" value="Submit dispute">Accept</button>
      </div>
    </div>
  </div>
  <div class="container-x flex-content-end">
    <div class="text-grey text-i">Nov 17, 2014</div>
  </div>
</div>
