<div class="container-y workflow-message">
  <div class="container-x">
    <!-- Avatar column -->
    <div class="container-y">
      <img class="avatar space-top space-right" src="images/seller0.png">
    </div>
    <!-- Arrow head -->
    <div class="arrow-left"></div>
    <!-- Message panel -->
    <div class="flex-1 panel container-y">
      <!-- Message title -->
      <div class="message-title">Order Delivery Rejected</div>
      <!-- Message body -->
      <div class="text-i space-bottom">
        <span>You rejected the Delivery Approval Request sent by</span>
        <span>{Seller}</span>
        <span>on</span>
        <span>{Mon, 07 Nov, 2014}</span>
        <span>. Please get in touch with</span>
        <span>{Seller}</span>
        <span>to explain why the work was not acceptable and for more instructions or information on your specific needs.</span>
      </div>
      <div class="text-p-bold space-top space-bottom">Reason for rejection</div>
      <div class="highlighted bg-grey95 space-top-05 space-bottom-2x text-i italic">
        "I don't like the logo. I need some extra revisions"
      </div>
      <div class="text-p-bold space-top space-bottom">Delivery Approval Request</div>
      <div class="highlighted bg-grey95 space-top-05 text-i italic">
        "Thank you very much for your order once again. Pls find your logo with the agreed deliverables attached. It was a pleasure working with you and I am looking forward to working again with you in the future"
      </div>
      <!-- Attachments -->
      <div class="attachments space-top-2x container-y text-i">
        <!-- Repeat 0-5 times -->
        <!-- attachment: doc file -->
        <div class="container-x flex-content-spread flex-items-centered">
          <div class="container-x">
            <div class="wrapper-file-img">
              <img class="img-responsive" src="images/svg/file-doc.svg">
            </div>
            <!-- Bind: file name -->
            <div class="container-x flex-items-centered">Documentation.doc</div>
          </div>
          <!-- Bind: file size -->
          <div class="container-x">
            <div class="space-right-05">
              <span>150</span>
              <span>KB</span>
            </div>
            <a class="space-left space-right-4x" href="" target="_blank">
              <img class="img-responsive img-download" src="images/svg/download.svg">
            </a>
          </div>
        </div>
        <div class="divider"></div>
        <!-- attachment: pdf file -->
        <div class="container-x flex-content-spread flex-items-centered">
          <div class="container-x">
            <div class="wrapper-file-img">
              <img class="img-responsive" src="images/svg/file-pdf.svg">
            </div>
            <!-- Bind: file name -->
            <div class="container-x flex-items-centered">Documentation.pdf</div>
          </div>
          <!-- Bind: file size -->
          <div class="container-x">
            <div class="space-right-05">
              <span>150</span>
              <span>KB</span>
            </div>
            <a class="space-left space-right-4x" href="" target="_blank">
              <img class="img-responsive img-download" src="images/svg/download.svg">
            </a>
          </div>
        </div>
        <div class="divider"></div>
        <!-- attachment: xls file -->
        <div class="container-x flex-content-spread flex-items-centered">
          <div class="container-x">
            <div class="wrapper-file-img">
              <img class="img-responsive" src="images/svg/file-excel.svg">
            </div>
            <!-- Bind: file name -->
            <div class="container-x flex-items-centered">Timesheet.xsl</div>
          </div>
          <!-- Bind: file size -->
          <div class="container-x">
            <div class="space-right-05">
              <span>150</span>
              <span>KB</span>
            </div>
            <a class="space-left space-right-4x" href="" target="_blank">
              <img class="img-responsive img-download" src="images/svg/download.svg">
            </a>
          </div>
        </div>
        <!-- Conditional class: last. Add on the last visible divider -->
        <div class="divider last"></div>
      </div>
    </div>
  </div>
  <div class="container-x flex-content-end">
    <div class="text-grey text-i">Nov 17, 2014</div>
  </div>
</div>
