<div class="container-y workflow-message">
  <div class="container-x">
    <!-- Avatar column -->
    <div class="container-y">
      <img class="avatar space-top space-right" src="images/seller0.png">
    </div>
    <!-- Arrow head -->
    <div class="arrow-left"></div>
    <!-- Message panel -->
    <div class="flex-1 panel container-y">
      <!-- Message title -->
      <div class="message-title">Dispute resolved</div>
      <!-- Message body -->
      <div class="text-i space-bottom-2x">
        Our team has reviewed the case thoroughly and has come to the following decision:
      </div>
      <div class="highlighted bg-grey95 text-i italic">
        Buyer is entitled to a full refund as Seller didn't submit the required deliverables and the delivery date has passed
      </div>
    </div>
  </div>
  <div class="container-x flex-content-end">
    <div class="text-grey text-i">Nov 17, 2014</div>
  </div>
</div>
