<div class="container-y workflow-message">
  <div class="container-x">
    <!-- Avatar column -->
    <div class="container-y">
      <img class="avatar space-top space-right" src="images/seller0.png">
    </div>
    <!-- Arrow head -->
    <div class="arrow-left"></div>
    <!-- Message panel -->
    <div class="flex-1 panel container-y">
      <!-- Message title -->
      <div class="message-title">Requirements Received - Order Started</div>
      <!-- Message body -->
      <div class="text-i space-bottom">
        <span>You received the required information from</span>
        <span>{Buyer}</span>
        <span>to get started on the order. Please get in touch with your buyer if you need more information. During the course of the project we encourage you to stay in touch with</span>
        <span>{Buyer}</span>
        <span>and provide timely updates on progress. Good communication is key to a successful project!</span>
      </div>
      <div class="space-top space-bottom text-p-bold">
        <span>Your deadline for this order is</span>
        <span>{order_delivery_date}</span>
      </div>
      <div class="text-i space-bottom">Deadlines are strictly enforced. If you miss your deadline your buyer may cancel the order and also provide a poor review.</div>
      <div class="space-bottom text-p-bold space-top-05">Order requirements</div>
      <div class="highlighted bg-grey95 space-top-05 text-i italic">{requirements_msg}</div>
      <!-- Attachments -->
      <div class="attachments space-top-2x container-y text-i">
        <!-- Repeat 0-5 times -->
        <!-- attachment: doc file -->
        <div class="container-x flex-content-spread flex-items-centered">
          <div class="container-x">
            <div class="wrapper-file-img">
              <img class="img-responsive" src="images/svg/file-doc.svg">
            </div>
            <!-- Bind: file name -->
            <div class="container-x flex-items-centered">Documentation.doc</div>
          </div>
          <!-- Bind: file size -->
          <div class="container-x">
            <div class="space-right-05">
              <span>150</span>
              <span>KB</span>
            </div>
            <a class="space-left space-right-4x" href="" target="_blank">
              <img class="img-responsive img-download" src="images/svg/download.svg">
            </a>
          </div>
        </div>
        <div class="divider"></div>
        <!-- attachment: pdf file -->
        <div class="container-x flex-content-spread flex-items-centered">
          <div class="container-x">
            <div class="wrapper-file-img">
              <img class="img-responsive" src="images/svg/file-pdf.svg">
            </div>
            <!-- Bind: file name -->
            <div class="container-x flex-items-centered">Documentation.pdf</div>
          </div>
          <!-- Bind: file size -->
          <div class="container-x">
            <div class="space-right-05">
              <span>150</span>
              <span>KB</span>
            </div>
            <a class="space-left space-right-4x" href="" target="_blank">
              <img class="img-responsive img-download" src="images/svg/download.svg">
            </a>
          </div>
        </div>
        <div class="divider"></div>
        <!-- attachment: xls file -->
        <div class="container-x flex-content-spread flex-items-centered">
          <div class="container-x">
            <div class="wrapper-file-img">
              <img class="img-responsive" src="images/svg/file-excel.svg">
            </div>
            <!-- Bind: file name -->
            <div class="container-x flex-items-centered">Timesheet.xsl</div>
          </div>
          <!-- Bind: file size -->
          <div class="container-x">
            <div class="space-right-05">
              <span>150</span>
              <span>KB</span>
            </div>
            <a class="space-left space-right-4x" href="" target="_blank">
              <img class="img-responsive img-download" src="images/svg/download.svg">
            </a>
          </div>
        </div>
        <!-- Conditional class: last. Add on the last visible divider -->
        <div class="divider last"></div>
      </div>
    </div>
  </div>
  <div class="container-x flex-content-end">
    <div class="text-grey text-i">Nov 17, 2014</div>
  </div>
</div>
