<div class="container-y workflow-message">
  <div class="container-x">
    <!-- Avatar column -->
    <div class="container-y">
      <img class="avatar space-top space-right" src="images/svg/avatar_placeholder.svg">
    </div>
    <!-- Arrow head -->
    <div class="arrow-left"></div>
    <!-- Message panel -->
    <div class="flex-1 panel container-y">
      <!-- Message title -->
      <div class="message-title">
        <span>Feedback to</span>
        <span>{Buyer}</span>
      </div>
      <!-- Message body -->
      <div class="text-i space-bottom-2x">
        <span>Thank you for taking the time to rate your experience with</span>
        <span>{Buyer}</span>
        <span>. Your feedback will only be used internally by the DigiServed team, and will not be shared publicly or with</span>
        <span>{Buyer}</span>
      </div>
      <div class="text-i">
        How likely are you to buy again or recommend this service or seller to a friend or coworker?
      </div>
      <div class="rating-box space-bottom">
        <div class="text-i container-y flex-1">
          <div>Not at all</div>
          <div>likely</div>
        </div>
        <!-- Toggle checked and disabled input attributes accordingly -->
        <form class="container-x flex-3 flex-content-spread">
          <div class="text-i container-y flex-items-centered">
            <input type="radio" value="1" disabled>
            <label class="text-">1</label>
          </div>
          <div class="text-i container-y flex-items-centered">
            <input type="radio" value="2" disabled>
            <label class="text-">2</label>
          </div>
          <div class="text-i container-y flex-items-centered">
            <input type="radio" value="3" disabled>
            <label class="text-">3</label>
          </div>
          <div class="text-i container-y flex-items-centered">
            <input type="radio" value="4" disabled>
            <label class="text-">4</label>
          </div>
          <div class="text-i container-y flex-items-centered">
            <input type="radio" value="5" disabled>
            <label class="text-">5</label>
          </div>
          <div class="text-i container-y flex-items-centered">
            <input type="radio" value="6" disabled>
            <label class="text-">6</label>
          </div>
          <div class="text-i container-y flex-items-centered">
            <input type="radio" value="7" checked>
            <label class="text-">7</label>
          </div>
          <div class="text-i container-y flex-items-centered">
            <input type="radio" value="8" disabled>
            <label class="text-">8</label>
          </div>
          <div class="text-i container-y flex-items-centered">
            <input type="radio" value="9" disabled>
            <label class="text-">9</label>
          </div>
          <div class="text-i container-y flex-items-centered">
            <input type="radio" value="10" disabled>
            <label class="text-">10</label>
          </div>
        </form>
        <div class="text-i container-y flex-items-end flex-1">
          <div>Extremely</div>
          <div>likely</div>
        </div>
      </div>
      <!-- Public feedback ratings -->
      <div class="space-top-2x space-bottom-2x">
        <!-- Rating -->
        <div class="container-x space-bottom">
          <div class="flex-1 text-i">Communication / cooperation</div>
          <div class="flex-1 text-p">
            <div class="container-x">
              <!-- Repeat: full stars -->
              <div class="text-yellow">
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
              </div>
              <!-- Repeat: empty stars -->
              <div class="text-yellow">
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
              </div>
            </div>
          </div>
        </div>
        <!-- Rating -->
        <div class="container-x space-bottom">
          <div class="flex-1 text-i">Requirements clarity</div>
          <div class="flex-1 text-p">
            <div class="container-x">
              <!-- Repeat: full stars -->
              <div class="text-yellow">
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
              </div>
              <!-- Repeat: empty stars -->
              <div class="text-yellow">
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
              </div>
            </div>
          </div>
        </div>
        <!-- Rating -->
        <div class="container-x space-bottom">
          <div class="flex-1 text-i">Feedback received</div>
          <div class="flex-1 text-p">
            <div class="container-x">
              <!-- Repeat: full stars -->
              <div class="text-yellow">
                <span class="glyphicon glyphicon-star"></span>
              </div>
              <!-- Repeat: empty stars -->
              <div class="text-yellow">
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
              </div>
            </div>
          </div>
        </div>
        <!-- Rating -->
        <div class="container-x space-bottom">
          <div class="flex-1 text-i">Realistic expectations</div>
          <div class="flex-1 text-p">
            <div class="container-x">
              <!-- Repeat: full stars -->
              <div class="text-yellow">
                <span class="glyphicon glyphicon-star"></span>
              </div>
              <!-- Repeat: empty stars -->
              <div class="text-yellow">
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Comments -->
      <div class="flex-1 text-p-bold">Comments</div>
      <div class="highlighted bg-grey95 space-top-05 text-i italic">{feedback_comments}</div>
    </div>
  </div>
  <div class="container-x flex-content-end">
    <div class="text-grey text-i">Nov 17, 2014</div>
  </div>
</div>
