<div class="container-y workflow-message">
  <div class="container-x">
    <!-- Avatar column -->
    <div class="container-y">
      <img class="avatar space-top space-right" src="images/seller0.png">
    </div>
    <!-- Arrow head -->
    <div class="arrow-left"></div>
    <!-- Message panel -->
    <div class="flex-1 panel container-y">
      <!-- Message title -->
      <div class="message-title">Order Requirements Pending</div>
      <!-- Message body -->
      <div class="text-i space-bottom">
        <span>{Buyer}</span>
          should send you the following information to help you get started. It's always a good idea to proactively get in touch with your buyer to introduce yourself and offer assistance, in case they have any questions or need help. A simple gesture like saying 'hello' says a lot about your professionalism and can also speed things up.
      </div>
      <!-- Order requirements -->
      <div class="text-t italic space-top-05 space-bottom-05">{service_buyer_requirements}</div>
<!--
      <ul class="text-t italic list-unstyled space-top-05 space-bottom-05">
        <li class="order-requirement">
          <svg class="icon icon-green text-p">
            <use xlink:href="#tick"></use>
          </svg>
          <span>Your pre-existing high-resolution logo file in one of the following vector formats: .AI, .EPS, .PSD</span>
        </li>
        <li class="order-requirement">
          <svg class="icon icon-green text-p">
            <use xlink:href="#tick"></use>
          </svg>
          <span>Website URL</span>
        </li>
        <li class="order-requirement">
          <svg class="icon icon-green text-p">
            <use xlink:href="#tick"></use>
          </svg>
          <span>Examples of logo animations that you like, or any aesthetic style that you have in mind</span>
        </li>
        <li class="order-requirement">
          <svg class="icon icon-green text-p">
            <use xlink:href="#tick"></use>
          </svg>
          <span>Any pre-existing guidelines for colour schemes in relation to your branding</span>
        </li>
        <li class="order-requirement">
          <svg class="icon icon-green text-p">
            <use xlink:href="#tick"></use>
          </svg>
          <span>Brief description of your customers/target audience and any additional specific information regarding their buying habits</span>
        </li>
        <li class="order-requirement">
          <svg class="icon icon-green text-p">
            <use xlink:href="#tick"></use>
          </svg>
          <span>Any ethical considerations that need to be raised</span>
        </li>
        <li class="order-requirement">
          <svg class="icon icon-green text-p">
            <use xlink:href="#tick"></use>
          </svg>
          <span>Any aspects or elements you would like to include or avoid</span>
        </li>
      </ul>
-->
    </div>
  </div>
  <div class="container-x flex-content-end">
    <div class="text-grey text-i">Nov 17, 2014</div>
  </div>
</div>
