// Bootstrap override
// -------------------------

.btn {
  &:focus {
    outline: none !important;
  }
}

.btn-flat {
  &:active {
    box-shadow: none !important;
  }
}

// Navbar Login & Registration links
// -------------------------

.nav-link-wrap {
  display: flex;
  justify-content: space-between;
}

.nav-link {
  .text-white;
  font-size: 20px;
  &:hover {
    text-decoration: none;
    .text-white;
    .text-w-700;
  }
  &:focus {
    .text-white;
    outline: none;
    text-decoration: none;
  }
  &:hover:focus {
    outline: none;
  }
}

// Color
// -------------------------

.bg-darkblue {
  border-color: @darkBlue;
  background-color: @darkBlue;
  &:hover {
    background-color: #5962c9;
  }
}

.bg-lightgrey {
  border-color: @lightGrey;
  background-color: @lightGrey;
  &:hover {
    border-color: @lightGrey;
    background-color: @lightGrey;
  }
}

.bg-darkgrey {
  border-color: @darkGrey;
  background-color: @darkGrey;
  &:hover {
    border-color: @darkGrey;
    background-color: @darkGrey;
  }
}

.bg-darkgrey[disabled] {
  .bg-lightgrey;
}

// Custom button classes
// -------------------------

.btn-fb {
  background-color: @fbBlue;
}

.btn-apply {
  .bg-darkblue;
  padding: 20px 40px;
  white-space: normal;
}

.link-box-darkblue {
  .text-darkBlue;
  margin-left: 5px;
  padding: 4px 8px 6px;
  border: 1px solid @darkBlue;
  border-radius: 6px;
  &:hover {
    .text-white;
    cursor: pointer;
    background-color: @darkSlateBlue;
    border-color: @darkSlateBlue;
  }
}

// Navigation button
.nav-btn-wrap {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  z-index: 2;
}

.nav-btn {
  display: flex;
  width: 50px;
  height: 50px;
  .text-50;
  .text-white;
  .text-w-300;
  -webkit-font-smoothing: antialiased;
  transform: rotate(-90deg);
  text-rendering: optimizeLegibility;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, .1);
  cursor: pointer;
}

.nav-btn.up {
  transform: rotate(90deg);
}

.nav-btn:hover {
  background-color: rgba(255, 255, 255, .2);
}

.nav-btn p:before {
  content:"\2039";
  position: absolute;
  bottom: 16px;
  width: 50px;
  height: 50px;
}
