// Bootstrap override
// -------------------------

.btn {
  &:focus {
    outline: none !important;
  }
  &:hover:focus {
    outline: none !important;
  }
}

.btn-flat {
  &:active {
    box-shadow: none !important;
  }
}

.btn-link {
  color: @blueDefault !important;
  text-decoration: none !important;
  &:focus {
    outline: none;
  }
}

// Navbar Login & Registration links
// ---------------------------------

.nav-link-wrap {
  display: flex;
  justify-content: space-between;
}

.nav-link {
  .text-white;
  .text-p;
  &:hover {
    text-decoration: none;
    .text-white;
    .text-w-700;
  }
  &:focus {
    .text-white;
    text-decoration: none;
  }
}

// Size
// -------------------------

.btn-big {
  .text-p;
  height: 58px;
  border-radius: 4px;
  padding: 20px 30px;
}

.btn-normal {
  height: 48px;
  border-radius: 4px;
  padding: 15px 40px;
  font-size: calc(14 / 48em);
}

.btn-small {
  height: 38px;
  border-radius: 4px;
  font-size: 12px;
}

// Color
// -------------------------

.btn-blue {
  font-family: GothamBold;
  .text-white;
  border-color: @blueDefault;
  background-color: @blueDefault;
  &:hover {
    .text-white;
    background-color: @blueActive;
    border-color: @blueActive;
    drop-shadow: 3px;
  }
}

.bg-lightgrey {
  border-color: @lightGrey;
  background-color: @lightGrey;
  &:hover {
    border-color: @lightGrey;
    background-color: @lightGrey;
  }
}

.bg-darkgrey {
  border-color: @greyDark;
  background-color: @greyDark;
  &:hover {
    border-color: @greyDark;
    background-color: @greyDark;
  }
}

.bg-darkgrey[disabled] {
  .bg-lightgrey;
}

// Custom button classes
// -------------------------

.social-btn-wrap {
  button {
    margin: 2px;
    span {
      margin-left: 8px;
    }
  }
  div {
    margin: 10px 0;
  }
}

.btn-fb {
  background-color: @blueFb;
  border: 1px solid @blueFb;
  &:hover {
    background-color: @blueFbHover;
    border: 1px solid @blueFbHover;
  }
}

.btn-li {
  background-color: @blueLi;
  border: 1px solid @blueLi;
  &:hover {
    background-color: @blueLiHover;
    border: 1px solid @blueLiHover;
  }
}

.btn-apply {
  .btn-blue;
  padding: 20px 40px;
  white-space: normal;
}

// Navigation button
.nav-btn-wrap {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  z-index: 2;
  bottom: 50px;
  @media screen and (max-height: 768px) {
    bottom: 25px;
  }
}

// Save button: apply page 1
.btn-save {
  .btn-flat;
  .text-white;
  .bg-darkgrey;
  margin-left: 14px;
}

.btn-save[disabled] {
  .bg-lightgrey;
}

// Continue button: apply page 1
.btn-continue {
  .btn-blue;
  .btn-big;
  .flex-1;
  .flex-content-centered;
  .text-m;
}

.nav-btn {
  .text-white;
  .text-w-300;
  .container-x;
  .flex-content-centered;
  .text-centered;
  width: 50px;
  height: 50px;
  -webkit-font-smoothing: antialiased;
  transform: rotate(-90deg);
  text-rendering: optimizeLegibility;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, .1);
  cursor: pointer;

  &.up {
    transform: rotate(90deg);
  }

  &:hover {
    background-color: rgba(255, 255, 255, .2);
  }

  p {
    margin-top: 8px;
    margin-right: 3px;
    font-size: 38px;
    &:before {
      padding-bottom: 6px;
      content:"\2039";
    }
  }
}
