// Navigation
// -------------------------

.navbar-main {
  display: flex;
  flex-direction: column !important;
  .flex-content-centered;

  .btn-right {
    padding-right: 0;
  }

  .btn-left {
    padding-left: 0;
  }

  .dropdown-toggle {
    .text-white;
    font-family: OpenSansRegular;
    font-size: 13px;
  }

  .wrapper-avatar {
    .space-right;
    .container-y;
    .flex-content-centered;
    img {
      .round;
      width: 30px;
      height: 30px;
    }
  }

  .secondary {
    .container-x;
    .flex-content-centered;
    background-color: @grey95;
    height: 34px;

    .navbar-link {
      .text-t;
      .text-black;
      margin-right: 40px;
    }
  }

  .navbar-inner {
    &.main {
      height: 54px;
    }
  }
}

.navbar-transparent {
  background: rgba(0, 0, 0, .3);
  border: none;
  padding: 0 40px;
}

.navbar-dark {
  background-color: @blackMagenta;
  .icon-dark {
    stroke: @blackMagenta;
    fill: @blackMagenta;
    path {
      stroke: @blackMagenta;
      fill: @blackMagenta;
    }
    &.nofill {
      fill: none;
      path {
        fill: none;
      }
    }
  }
}

.navbar-main, .navbar-footer {
  .container-x;
  .text-white;
  align-items: center;
  border: 0;
}

.navbar-footer {
  .flex-content-spread;
  .navbar-dark;
  border-radius: 0;
  margin-bottom: 0;
  margin-top: 130px;
  height: 74px;

  .wrapper-social-icon {
    .bg-white;
    .text-black;
    .wrapper-round;
    .flex-content-centered;
    width: 34px;
    height: 34px;
  }
}

.navbar-inner {
  .container-x;
  .flex-content-centered;
  height: 100%;
  width: 80%;
  @media screen and (max-width: 1366px) {
    width: 90%;
  }
  @media screen and (max-width: 1024px) {
    width: 100%;
  }
}

.navbar-wrapper {
  .container-x;
  height: 100%;
  width: calc(200% / 3);
  max-width: 980px;
  @media screen and (max-width: 1366px) {
    width: 80%;
  }
  @media screen and (max-width: 1024px) {
    width: 90%;

  }
}

.navbar-float-bottom {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.wrapper-logo {
  width: 145px;
}

.link-footer {
  padding: 8px;
  .flex-content-centered;
  a {
    .text-white;
    font-size: 13px;
    font-family: OpenSansRegular;
    &:hover {
      .text-white;
    }
  }
}

.pagination {
  li {
    a {
      .flex;
      .flex-content-centered;
      .flex-items-centered;
      .text-light;
      .text-blue;
      font-size: 13px;
      border: 1px solid @grey80;
      margin: 5px;
      border-radius: 50%;
      width: 34px;
      height: 34px;
      &:hover {
        background: white;
        border: 1px solid @blueDefault;
      }
      &:focus {
        outline: 0;
        background-color: white;
      }
      span {
        vertical-align: middle;
      }
    }
    &.active {
      a {
        color: white;
        background-color: @blueDefault;
        border-color: @blueDefault;
        &:hover {
          background-color: @blueDefault;
          border: 1px solid @blueDefault;
        }
        &:focus {
          outline: 0;
          background-color: @blueDefault;
        }
      }
    }
  }
  li:first-child, li:last-child {
    a {
      .text-h2;
      color: @grey;
      border: 0;
      span {
        padding-bottom: 5px;
      }
    }
  }
  li:first-child {
    a {
      .container-x;
      .flex-content-end;
      padding: 0;
      text-align: right;
    }
  }
  li:last-child {
    a {
      .container-x;
      .flex-content-start;
      padding: 0;
      text-align: left;
    }
  }
}

// Dividers
// -------------------------

.divider-fancy {
  overflow:hidden;
  height:20px;
  &:after {
    content: '';
    display: block;
    margin:-25px auto 0;
    width: 100%;
    height: 25px;
    border-radius: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, .5);
  }
}

.divider {
  text-align: center;
  border-bottom: 1px solid @lightGrey;
  line-height: 0.1em;
  margin: 35px 10px 0 10px;
}

.divider span {
  .text-silver;
  background-color: white;
  padding: 0 10px;
}

.divider-thumb-overlay {
  font-size: 6px;
  width: .1em;
  background-color: white;
  opacity: 0.3;
  height: calc(100% / 3);
}

// Profile import links
// -------------------------

.import-link-wrap {
  .container-y;
  .flex-content-centered;
  .text-white;
  > div {
    transition: .2s;
  }
  &.selected {
    .import-link {
      background-color: @greyDark;
      border: 1px solid @greyDark;
    }
    .label-import-link {
      .text-grey-dark;
    }
    .icon {
      .icon-light;
    }
  }
  &:hover {
    .import-link {
      background-color: @blueActive;
      border: 1px solid @blueActive;
      cursor: pointer;
      .icon-thirdparty {
        display: none;
      }
      .icon-plus {
        display: flex;
      }
    }
    .label-import-link {
      color: @greyDark;
    }
    &.selected {
      .import-link {
        background-color: @greyDark;
        border: 1px solid @greyDark;
        .icon-plus {
          display: none;
        }
        .icon-thirdparty {
          display: flex;
        }
      }
    }
  }
}

.import-link {
  .wrapper-round;
  .wrapper-icon-s;
  .flex-content-centered;
  margin: 0 23px;
  @media screen and (max-width: 1366px) {
    margin: 0 16px;
  }
  @media screen and (max-width: 1024px) {
    margin: 0 12px;
  }

  .icon-plus {
    .text-light;
    .text-white;
    font-size: 1.2em;
    display: none;
  }
}

.import-link-s {
  .flex-content-centered;
  width: 37px;
  height: 37px;
  margin-right: 14px;
  .icon {
    width: 17px;
    height: 17px;
  }
  .icon-odesk {
    width: 27px;
    height: 27px;
  }
}

.import-link-min {
  .flex-content-centered;
  width: 20px;
  height: 20px;
  .icon {
    width: 15px;
    height: 15px;
  }
}

// Icon wrappers
// -------------------------

.wrapper-icon-m {
  @media screen and (max-height: 768px) {
    height: 100px;
    width: 100px;
  }
  @media screen and (min-height: 768px) {
    height: 130px;
    width: 130px;
  }
  margin-bottom: 30px;
  position: relative;
  display: flex;
  align-self: center;
}

.wrapper-icon-l {
  @media screen and (max-height: 768px) {
    height: 125px;
    width: 125px;
  }
  @media screen and (min-height: 768px) {
    height: 150px;
    width: 150px;
  }
  position: relative;
  display: flex;
  align-self: center;
}

.wrapper-icon-s {
  height: 76px;
  width: 76px;
}

// Labels
// -------------------------

.label {
  .border-radius-standard;
}

.label-import-link {
  .text-centered;
  .text-t;
  padding: 12px 0;
  &:hover {
    cursor: pointer;
  }
}

.label-s {
  .text-i;
  margin: 5px 0 -6px;
  display: flex;
  font-style: italic;
}

.has-error .control-label {
  color: @redError;
}

// Dropdowns
// -------------------------

// copy bootstrap .dropdown-menu > li > a
.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  cursor: pointer;

  &:hover {
    cursor: pointer;
    color: #262626;
    background-color: #f5f5f5;
  }

  &.active {
    color:red;
  }
}

.dropdown-menu {
  .text-p;
  max-height: 200px;
  overflow-x: hidden;
}

.wrapper-drop-city {
  padding-left: 20px;
  margin-left: 0px;
  margin-right: -1px;

  > button {
    width: 100%;
    text-align: left;
    span {
      float: right;
      margin-top: 8px;
    }
  }
}

.dropdown {
  button {
    height: 32px;
  }
}

.dropdown-menu {
  min-width: 180px;
  padding: 0;
  li {
    height: 31px;
    border-bottom: 1px solid @lightGrey;
    a {
      padding-top: 7px;
      padding-bottom: 7px;
    }
  }
}

// Tables
// -------------------------

.table-l {
  border-color: @lightGrey;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);

  thead {
    &.bordered {
      /* Bootstrap override */
      border: 1px solid @lightGrey;
      th, tr {
        border: 0;
      }
    }
    tr {
      .bg-grey95;
      .text-i;
      .text-light;
      th {
        padding: 15px;
        /* Bootstrap override */
        vertical-align: middle !important;
        height: 42px;
      }
    }
  }

  tbody {
    tr {
      border-left: 1px solid @lightGrey;
      border-right: 1px solid @lightGrey;
      border-bottom: 1px solid @lightGrey;
      td {
        padding: 15px;
        vertical-align: middle;
      }
    }
  }
}

// Panels
// -------------------------

.panel-group .panel {
  margin-bottom: 10px;
}

.panel-heading {
  height: 48px;
  display: flex;
  align-items: center;
  padding: 0 15px;

  .panel-title {
    .flex-1;
    align-items: center;
    height: 100%;
    > a {
      .flex-1;
      align-items: center;
      height: 100%;
      > span {
        padding-right: 10px;
      }
    }
  }

  .icon-check {
    .text-p;
    font-family: FontAwesome;
  }
}

.panel-success > .panel-heading {
  background-color: rgba(2, 196, 102, .2);
  border-color: rgba(2, 196, 102, .2);
  color: @greyDark;
}

.panel-body {
  padding: 30px;
}

.panel-inner {
  .container-x;
  .flex-content-spread;
  .flex-items-centered;
  min-height: 35px;
  background-color: rgba(245, 245, 245, 1); // default panel-heading color
  margin: 10px;
  padding: 0 10px;
}

// Reviews
// -------------------------

.review {
  border-bottom: 1px solid @lightGrey;
  padding: 20px 0;
  max-width: 800px;
  margin: 0 auto;

  &.last {
    border-bottom: 1px solid transparent;
  }

  .content {
    min-height: 70px;
  }

  .wrapper-reviewer-img {
    .container-y;
    .flex-content-centered;
    padding-bottom: 15px;
    margin-right: 20px;
    width: 55px;
    height: 70px;
  }

  .review-text {
    .text-p;
    padding: 5px 55px 20px 0;
  }
}

.reviewer-img {
  .flex-content-centered;
  .text-h2;
  .text-lightGrey;
  .wrapper-lightgrey;
  .wrapper-round;
  .flex-1;
  width: 100%;
}

// Tabs
// -------------------------

.fv-tabs {
  .container-x;
  min-height: 59px;
  padding: 0;
  line-height: 50px;
  border-bottom: 1px solid @lightGrey;
  border-left: 1px solid @lightGrey;
  border-right: 1px solid @lightGrey;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  .placeholder {
    width: 155px;
  }
}

.fv-tab {
  .text-grey;
  .text-p;
  .flex-content-centered;
  margin: 0 15px;
  border-bottom: 2px solid white;
  cursor: pointer;
  z-index: 3;
  &.active {
    .text-black;
    border-color: @blueDefault;
  }
}

// Workflow components
// -------------------------

/* panel: workflow message */
.workflow-message {
  margin-bottom: 28px;

  /* submit and attach files should have the same width */
  .btn-m {
    min-width: 134px;
  }

  .panel {
    .border-radius-standard;
    padding: 15px 18px 25px;
    border: 1px solid @lightGrey;
    margin-left: -6px;
    margin-bottom: 10px;
    z-index: 0;
  }

  .attachments {
    .divider {
      margin: 10px 0;
      &.last {
        margin: 10px 0 15px;
      }
    }
  }
  .order-requirement {
    .container-x;
    .space-bottom-05;

    .icon {
      margin-top: 2px;
      margin-right: 7px;
      width: 14px;
      min-width: 14px;
      height: 14px;
    }

    span {
      align-self: center
    }
  }

  .arrow-left {
    width: 12px;
    height: 12px;
    border-left: 1px solid @lightGrey;
    border-bottom: 1px solid @lightGrey;
    transform: rotate(45deg);
    margin-top: 22px;
    background-color: white;
    z-index: 1;
  }

  textarea {
    width: 100%;
    padding: 10px 16px;
    resize: none;
  }

  textarea::-webkit-input-placeholder {
    .text-silver;
  }
  textarea:-moz-placeholder {
    .text-silver;
  }
  textarea::-moz-placeholder {
    .text-silver;
  }
  textarea:-ms-input-placeholder {
    .text-silver;
  }

  input[type=submit] {
    .text-i;
    font-family: OpenSansRegular;
  }

  .message-title {
    .text-m;
    margin: 3px 0 16px;
  }

  .highlighted {
    .border-radius-standard;
    padding: 12px 16px;
  }

  .rating-box {
    .bg-greyMed;
    .space-top;
    .container-x;
    .flex-items-start;
    .space-bottom-05;
    .border-radius-standard;
    padding: 20px;
  }

  .subtitle {
    .text-min;
    .text-grey;
    margin-top: 2px;
  }
}

/* panel: details box */
.detail-box {
  margin-bottom: 28px;

  .panel-body {
    padding: 10px 15px;
  }

  li {
    margin-bottom: 8px;
    &.no-margin {
      margin: 0;
    }
  }

  .state-label {
    .container-x;
    .flex-content-spread;
    .flex-items-centered;
    .icon {
      margin-right: 8px;
      &.icon-red-error {
        margin-right: 10px;
      }
    }
    .loader {
      width: 15px;
      height: 15px;
      margin-right: 9px;
      margin-left: -2px;
    }
  }

  .divider {
    margin: 15px 0;
  }

  .arrow-right {
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid @blueDefault;
    margin-right: 8px;
  }
}

// images
// -------------------------

.thumbnail-s {
  width: 86px;
  height: 64px;
}

.thumbnail-grid {
  margin: 20px -15px 0px;
}

.thumbnail {
  cursor: pointer;

  .wrapper-img {
    overflow: hidden;
    border-top-right-radius: 4px;
  }

  .caption {
    height: 70px;
    overflow: overlay;
  }

  &:hover {
    border: 1px solid @blueDefault;
    box-shadow: 0px 0px 10px lightgrey;
    .thumb-overlay {
      visibility: visible;
    }
  }
}

.thumb-overlay {
  top: 1px;
  right: 15px; // thumbnails have padding 15px
  bottom: 90px; //90px = 20px thumbnail margin + 70px caption height
  left: 15px;
  background-color: @blueDefault;
  visibility: hidden;
  border-top-right-radius: 3px;
  border-top-left-radius: 2px;
  transition: visibility .1s ease-in-out .1s;
  color: white;
  opacity: .9;
}

.thumb-overlay-inner {
  .flex-1;
  .text-h2;
  justify-content: center;
  align-items: center;
  height: 100%;
  .icon {
    width: 20%;
    height: 20px;
  }
}

.thumb-overlay, .showcase-overlay {
  .text-light;
  .flex-content-centered;
  position: absolute;
}

.showcase {
  width: 150px;
  height: 150px;
  margin: 10px;
  cursor: pointer;

  .caption {
    margin-top: 4px;
    max-height: 33px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    cursor: auto;

    .textarea-caption {
      font-size: 10px;
      width: 100%;
      padding-top: 0;
      padding-bottom: 0;
      margin-top: 5px;
      max-height: 40px;
      cursor: pointer;
      overflow: hidden;
      svg {
        opacity: 0;
        margin-top: 8px;
      }
      &:hover {
        text-decoration: underline;
        svg {
          opacity: 1;
        }
      }
    }

  }
}

.showcase-overlay {
  border-radius: 4px;

  &.selected {
    // needed to hide the thumbnail hover border
    margin-top: -1px;
    margin-left: -1px;
    //fade @green background to .8
    background-color: rgba(2, 196, 102, .8);
    svg {
      width: calc(100% / 3px);
      height: calc(100% / 3px);
    }
    &.disabled {
      background-color: @lightGrey;
    }
  }

  &.preview {
    background-color: white;
    opacity: .8;
    width: 148px;
    height: 110.5px;
  }

  .drag-over & {
    border: 2px dashed white;
    background-color: rgba(0, 0, 0, .7);
  }
}

.showcase-item, .showcase-overlay {
  width: 150px;
  height: 112.5px;
}

.showcase-item {
  border-radius: 4px;
  background-color: white;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;

  &.progress {
    border: 1px dashed @lightGrey;
    box-shadow: none;
  }

  &.bg-img-small-centered {
    background-size: initial;
    background-position: center;
  }

  .wrapper-loader {
    padding: 50px;
  }
}

.wrapper-thumb-placeholder {
  .flex-content-centered;
  .text-light;
  .bg-grey95;
  .clickable;
  flex: 1;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 20px;
  margin-left: 15px;
  border-radius: 4px;
  padding: 0;
  max-width: 232px;
  width: 100%;
  min-height: 223px;
}

.wrapper-showcase-action {
  .round;
  .flex-content-centered;
  background: @redError;
  margin: -10px;
  border: 4px solid white;
  width: 24px;
  height: 24px;
}

// Various components
// -------------------------

.link-box {
  .flex-content-centered;
  margin-top: 55px;
  height: 70px;
  border: 1px solid @lightGrey;
  border-radius: 4px;
  span {
    margin: 0 5px;
  }
  .text-darkBlue {
    cursor: pointer;
  }
}

.profile-picture-m {
  .wrapper-round;
  width: 110px;
  height: 110px;

  &.default {
    .bg-grey95;
    border: 1px solid @grey95;
    box-shadow: 0 0 2px @grey95;
  }

  > input {
    width: 1px;
    height: 1px;
    opacity: 0;
    position: absolute;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
  }

  .icon-camera {
    width: calc(100% / 3);
    height: calc(100% / 3);
  }
}

a {
  color: @blueDefault;
  &:hover {
    text-decoration: none;
    color: @blueDefault;
  }
}
