// Bootstrap override
// -------------------------

.form-group {
  margin-bottom: 10px;
}

// Navbar
// -------------------------

.navbar-main {
  .text-white;
  height: 54px;
  padding: 0 67px;
  .navbar-left {
    line-height: 54px;
  }
  .navbar-right {
    line-height: 24px;
  }
}

.navbar-transparent {
  background: rgba(0, 0, 0, .3);
  border: none;
}

.navbar-dark {
  background-color: black;
}

// Dividers
// -------------------------
.divider-fancy {
  overflow:hidden;
  height:20px;
  &:after {
    content: '';
    display: block;
    margin:-25px auto 0;
    width: 100%;
    height: 25px;
    border-radius: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, .5);
  }
}

// Profile import links
// -------------------------
.import-link-wrap {
  .container-y;
  .flex-content-centered;
  .icon-minus {
    display: none;
  }
  > div, i {
    transition: .2s;
  }
  &:hover {
    .import-link {
      background-color: @darkBlue;
      border: 1px solid @darkBlue;
      cursor: pointer;
      .icon-thirdparty {
        display: none;
      }
      .icon-plus {
        display: flex;
      }
    }
    .label-import-link {
      color: black;
    }
    &.selected {
      .import-link {
        background-color: @lightGrey;
        border: 1px solid @lightGrey;
        .icon-plus {
          display: none;
        }
        .icon-minus {
          display: flex;
        }
      }
      .label-import-link {
        color: @lightGrey;
      }
    }
  }
}

.import-link {
  .wrapper-round;
  .wrapper-icon-s;
  .bg-white;
  margin: 0 23px;
  @media screen and (max-width: 1366px) {
    margin: 0 16px;
  }
  @media screen and (max-width: 1024px) {
    margin: 0 12px;
  }

  .flex-content-centered;
  .icon-thirdparty {
    .cover;
    .icon-centered;
  }

  .icon-plus, icon-minus {
    display: flex;
    .icon-centered;
    display: none;
    > i {
      color: white;
    }
  }
}


// Icon wrappers
// -------------------------
.wrapper-icon-m {
  @media screen and (max-height: 768px) {
    height: 100px;
    width: 100px;
  }
  @media screen and (min-height: 768px) {
    height: 130px;
    width: 130px;
  }
  margin-bottom: 30px;
  position: relative;
  display: flex;
  align-self: center;
}

.wrapper-icon-l {
  @media screen and (max-height: 768px) {
    height: 125px;
    width: 125px;
  }
  @media screen and (min-height: 768px) {
    height: 150px;
    width: 150px;
  }
  margin-bottom: 30px;
  position: relative;
  display: flex;
  align-self: center;
}

.wrapper-icon-s {
  height: 80px;
  width: 80px;
}

// Labels
// -------------------------

.label-import-link {
  .text-centered;
  padding: 12px 0;
  letter-spacing: .5px;
  &:hover {
    cursor: pointer;
  }
}

.label-s {
  margin: 5px 0 -6px;
  display: flex;
  font-style: italic;
}

// Various components
// -------------------------

.link-box {
  .flex-content-centered;
  margin-top: 55px;
  height: 70px;
  border: 1px solid @lightGrey;
  border-radius: 4px;
  span {
    margin: 0 5px;
  }
  .text-darkBlue {
    cursor: pointer;
  }
}
