// Modal
// -------------------------

.modal-big {
  width: 90%;
  height: 90%;
  margin: 1% 5%;
  position: absolute;
}

.modal-image-crop {
  .bg-grey95;

  .divider {
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    span {
      .bg-grey95;
    }
  }

  .wrapper-text {
    .flex-content-centered;
    margin: 30px 0;
  }

  .link-box {
    .text-grey-dark;
    .bg-white;
    border: 1px solid silver;
    height: auto;
    padding: 15px;
    margin: 0;
    cursor: pointer;
  }

  .header {
    .container-x;
    .flex-content-end;
    padding: 10px;
  }

  .footer {
    padding: 15px;
    .btn-blue {
      margin-right: 15px;
    }
  }
}

.wrapper-modal-inner {
  position: absolute;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
}

.fv-modal {
  .close {
    .text-light;
    .text-grey-dark;
    opacity: 1;
    width: 16px;
    &:focus {
      outline: none;
    }
  }
}

.fv-modal-header {
  .container-page-inner;
  .container-y;
  .flex-content-centered;
  padding: 60px 0 50px;
  .close {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  .header-message {
    .text-centered;
    .text-m-os;
    .text-grey;
    margin-top: 10px;
  }
}

.fv-modal-body {
  .container-y;
  .flex-content-centered;
  padding-bottom: 73px;

  .wrapper-form {
    width: 50%;
    padding-left: 30px;
    .btn-link {
      padding: 0;
      &:focus {
        outline: none;
      }
      > span {
        &:focus{
          outline: none;
        }
      }
    }
  }

  .wrapper-btn-remove {
    .flex-content-centered;
    .text-grey-dark;
    padding: 0 10px;
  }

  .wrapper-btn-done {
    padding-right: 34px;
  }

  .btn-done {
    width: 100%;
    max-height: 38px;
    padding: 0;
  }
}
