<div class="alert" ng-class="[type ? 'alert-' + type : null]">
  <strong ng-bind="title"></strong>&nbsp;
  <div ng-switch on="type" class="alert-content-icon flex-content-centered">
    <span class="glyphicon glyphicon-remove-circle" ng-switch-when="error"></span>
    <span class="glyphicon glyphicon-ok-circle"  ng-switch-when="success"></span>
    <span class="flex-content-centered" ng-switch-when="warning">
      <svg class="icon icon-light text-h2">
        <use xlink:href="#exclamation-circle"></use>
      </svg>
    </span>
  </div>
  <span class="alert-content" ng-bind-html="content"></span>
  <button type="button" class="close" ng-if="dismissable" ng-click="$hide()">&times;</button>
</div>
