<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-content modal-big container-y modal-image-crop">
    <div class="header">
      <button type="button" class="close" ng-click="closeModal()">&times;</button>
    </div>
    <!-- Centered container -->
    <div class="flex-1 flex-content-centered container-y" ng-file-drop="onFileSelect($files)" accept="image/*" fv-on-drop="init(true)">
      <!-- Image crop area -->
      <div ng-show="uncroppedImage" class="wrapper-modal-inner">
        <img-crop image="uncroppedImage" on-change="updateCroppedImage($dataURI)" result-image="tempImage" on-load-done="setProgress(false)">
        </img-crop>
      </div>
      <div class="container-x flex-content-centered">
        <div ng-show="inProgress">
          <i class="fa fa-spinner fa-spin fa-1 text-silver"></i>
        </div>
        <div ng-hide="inProgress" class="container-y text-silver">
          <div class="flex-1">
            <i class="fa-centered fa fa-picture-o"></i>
          </div>
          <div class="flex-1 wrapper-text text-h2">Drag a photo here</div>
          <div class="flex-1">
            <div class="divider text-p"><span>OR</span></div>
          </div>
          <div class="flex-1 wrapper-text text-p" ng-file-select="onFileSelect($files)" ng-click="setProgress(true)" accept="image/*">
            <div class="link-box">Select a photo from your computer</div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer container-x bg-white">
      <button class="btn btn-blue btn-small" ng-click="saveProfileImage()">Set as profile photo</button>
      <button class="btn btn-small btn-lightgrey" ng-click="closeModal()">Cancel</button>
    </div>
  </div>
</div>
