<div class="modal fv-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
    <div class="modal-content container-page-inner">
      <div class="fv-modal-header">
        <div class="container-x">
          <div class="modal-title text-h2">Choose a method below to submit your video</div>
          <button type="button" class="close" ng-click="closeCameraTagModal()">&times;</button>
        </div>
        <div class="header-message">
          Click on the settings button to set up your camera
        </div>
      </div>
      <div class="fv-modal-body text-h3">
        <camera id='fvcam' data-app-id='a-94692420-3662-0132-cf65-12313914f10b' data-cssurl="styles/cameratag.css"></camera>
<!--        <video id='interviewPlayer' data-uuid='v-0e97a180-6386-0132-13c3-22000a8c0328'></video>-->
      </div>
    </div>
  </div>
</div>
