<div class="order-box">
  <form name="orderForm">
    <!-- Section: price discriminators -->
    <div ng-repeat="priceDiscriminator in priceDiscriminators">
      <div ng-form class="form-group order-box-row" name="innerForm">
        <div class="flex-2 text-t">
          <input type="radio" fv-dynamic-name=$index ng-model="$parent.priceDiscriminatorChoice" value={{priceDiscriminator}}>
          <span>{{ priceDiscriminator.text }}</span>
        </div>
        <div class="text-p-bold">$ {{ priceDiscriminator.value }}</div>
      </div>
    </div>
    <!-- Divider -->
    <div class="divider"></div>
    <!-- Section: price discriminators -->
    <div ng-repeat="addon in addons">
      <div ng-form class="form-group order-box-row" name="innerForm">
        <div class="flex-2 text-t">
          <input type="checkbox" fv-dynamic-name=$index ng-model="$parent.chosenAddons[$index]" ng-true-value={{addon}}>
          <span>{{ addon.text }}</span>
        </div>
        <span class="text-p-bold">{{ addon.value }}</span>
      </div>
    </div>
  </form>
  <!-- Divider -->
  <div class="divider"></div>
  <div class="container-x">
    <div class="flex-content-centered text-t">
      <i class="fa fa-clock-o"></i>
    </div>
    <div class="space-after text-t">delivers in</div>
    <div class="text-t-bold">5 days</div>
  </div>
</div>
