<div class="timeline-container">
  <!--  The actual timeline and nodes-->
  <div class="timeline-horizontal">
    <span class="circle-timeline active"></span>
    <div class="divider-h">
      <div class="line"></div>
    </div>
    <span class="circle-timeline"></span>
    <div class="divider-h">
      <div class="line"></div>
    </div>
    <span class="circle-timeline"></span>
  </div>
  <!--  Node labels-->
  <div class="timeline-label-container">
    <span class="timeline-label active text-t">Import Profiles</span>
    <span class="timeline-label text-t">Create Profile</span>
    <span class="timeline-label text-t">Open Storefront</span>
  </div>
</div>
