<div class="timeline-container">
  <!--  The actual timeline and nodes-->
  <div class="timeline-horizontal">
    <span class="circle-timeline clickable" ng-class="{'active': activeStep === 'import'}" ng-click="navigateTo(0)"></span>
    <div class="divider-h">
      <div class="line"></div>
    </div>
    <span class="circle-timeline clickable" ng-class="{'active': activeStep === 'info'}" ng-click="navigateTo(1)"></span>
    <div class="divider-h">
      <div class="line"></div>
    </div>
    <span class="circle-timeline"
          ng-class="{'active': activeStep === 'service_selection' || activeStep === 'offer_config', 'clickable': currentUser && currentUser.Profile && currentUser.Profile.Moniker}"
          ng-click="navigateTo(2)"></span>
    <div class="divider-h">
      <div class="line"></div>
    </div>
    <span ng-if="currentUser.Profile && currentUser.Profile.Moniker" class="circle-timeline clickable" ng-class="{'active': activeStep === 'storefront'}" ng-click="navigateTo(3)"></span>
    <span ng-if="!currentUser.Profile || !currentUser.Profile.Moniker" class="circle-timeline" ng-class="{'active': activeStep === 'storefront'}"></span>
  </div>
  <!--  Node labels-->
  <div class="timeline-label-container">
    <span class="timeline-label text-t clickable" ng-class="{'active': activeStep === 'import'}" ng-click="navigateTo(0)">Import Profiles</span>
    <span class="timeline-label text-t clickable" ng-class="{'active': activeStep === 'info'}" ng-click="navigateTo(1)">Complete Profile</span>
    <span class="timeline-label text-t"
          ng-class="{'active': activeStep === 'service_selection' || activeStep === 'offer_config', 'clickable': currentUser && currentUser.Profile && currentUser.Profile.Moniker}"
          ng-click="navigateTo(2)">
      Open Storefront
    </span>
    <a ng-if="currentUser.Profile && currentUser.Profile.Moniker" ng-href="#{{currentUser.Profile && currentUser.Profile.Moniker}}" target="">
      <span class="timeline-label text-t text-lightGrey clickable" ng-class="{'active': activeStep === 'storefront'}">Completed</span>
    </a>
    <span ng-if="!currentUser.Profile || !currentUser.Profile.Moniker" class="timeline-label text-t text-lightGrey" ng-class="{'active': activeStep === 'storefront'}">Completed</span>
  </div>
</div>
