<div class="container-y workflow-message">
  <div class="container-x">
    <!-- Avatar column -->
    <div class="container-y">
      <img class="avatar space-top space-right" src="images/seller0.png">
    </div>
    <!-- Arrow head -->
    <div class="arrow-left"></div>
    <!-- Message panel -->
    <div class="flex-1 panel container-y">
      <!-- Message title -->
      <div class="message-title">Accept order delivery</div>
      <!-- Message body -->
      <div class="text-i space-bottom">
        <span>By approving </span>
        <!-- Bind: sender moniker, name -->
        <a href="/user/moniker">[Sender]</a>
        <span>'s delivery note, you confirm the work has been successfully delivered and that your advance payment of </span>
        <!-- Bind: price -->
        <span>$30 </span>
        <span>will be released to </span>
        <!-- Bind: recipient moniker, name -->
        <a href="/user/moniker">[Sender]</a>
      </div>
      <!-- Rate seller call to action -->
      <div class="space-top-2x space-bottom-2x">
        <div class="text-p text-bold">Please rate your experience</div>
        <div class="text-p space-bottom">
          <span>
            We are trying to make Digiserved a high-quality community for only the best Sellers. To achieve this, we rely on your honest feedback.
            So we would really appreciate it if you could take a few seconds to rate your overall experience with
          </span>
          <!-- Bind: recipient moniker, name -->
          <a href="/user/moniker"> [Sender]</a>
        </div>
      </div>
      <!-- Private feedback -->
      <div class="text-p text-bold">Privare feedback</div>
      <div class="subtitle space-bottom">
        (this feedback will be used only by the Digiserved team and never shared with the Seller or anyone else)
      </div>
      <div class="text-i space-top-05">
        How likely are you to buy again or recommend this service/seller to a friend or colleague?
      </div>
      <div class="rating-box">
        <div class="text-i container-y flex-1">
          <div>Not at all</div>
          <div>likely</div>
        </div>
        <form class="container-x flex-3 flex-content-spread">
          <div class="text-i container-y flex-items-centered">
            <input type="radio" value="1">
            <label class="text-">1</label>
          </div>
          <div class="text-i container-y flex-items-centered">
            <input type="radio" value="2">
            <label class="text-">2</label>
          </div>
          <div class="text-i container-y flex-items-centered">
            <input type="radio" value="3">
            <label class="text-">3</label>
          </div>
          <div class="text-i container-y flex-items-centered">
            <input type="radio" value="4">
            <label class="text-">4</label>
          </div>
          <div class="text-i container-y flex-items-centered">
            <input type="radio" value="5">
            <label class="text-">5</label>
          </div>
          <div class="text-i container-y flex-items-centered">
            <input type="radio" value="6">
            <label class="text-">6</label>
          </div>
          <div class="text-i container-y flex-items-centered">
            <input type="radio" value="7">
            <label class="text-">7</label>
          </div>
          <div class="text-i container-y flex-items-centered">
            <input type="radio" value="8">
            <label class="text-">8</label>
          </div>
          <div class="text-i container-y flex-items-centered">
            <input type="radio" value="9">
            <label class="text-">9</label>
          </div>
          <div class="text-i container-y flex-items-centered">
            <input type="radio" value="10">
            <label class="text-">10</label>
          </div>
        </form>
        <div class="text-i container-y flex-items-end flex-1">
          <div>Extremely</div>
          <div>likely</div>
        </div>
      </div>
      <!-- Public feedback -->
      <div class="space-top-2x space-bottom-2x">
        <div class="text-p text-bold">Public feedback</div>
        <div class="subtitle">
          <span>(will be shared on</span>
          <!-- Bind: seller name -->
          <span> [Seller]</span>
          <span>'s profile. Seller on their end cannot leave public feedback for you.)</span>
        </div>
      </div>
      <!-- Public feedback ratings -->
      <div class="space-top-05 space-bottom-4x">
        <!-- Rating -->
        <div class="container-x space-bottom">
          <div class="flex-1 text-i">Quality of work</div>
          <div class="flex-1 text-p">
            <div class="container-x">
              <!-- Repeat: full stars -->
              <div class="text-yellow">
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
              </div>
              <!-- Repeat: empty stars -->
              <div class="text-yellow">
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
              </div>
            </div>
          </div>
        </div>
        <!-- Rating -->
        <div class="container-x space-bottom">
          <div class="flex-1 text-i">Services as described</div>
          <div class="flex-1 text-p">
            <div class="container-x">
              <!-- Repeat: full stars -->
              <div class="text-yellow">
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
              </div>
              <!-- Repeat: empty stars -->
              <div class="text-yellow">
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
              </div>
            </div>
          </div>
        </div>
        <!-- Rating -->
        <div class="container-x space-bottom">
          <div class="flex-1 text-i">Communication/cooperation</div>
          <div class="flex-1 text-p">
            <div class="container-x">
              <!-- Repeat: full stars -->
              <div class="text-yellow">
                <span class="glyphicon glyphicon-star"></span>
              </div>
              <!-- Repeat: empty stars -->
              <div class="text-yellow">
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Comments form -->
      <form class="space-top-bottom">
        <textarea rows="5" placeholder="Help the community by sharing your experience"></textarea>
        <!-- Action buttons -->
        <div class="container-x flex-content-end">
          <button class="btn btn-link space-right-x text-i">Close</button>
          <input class="btn btn-blue btn-m text-i space-left-05" type="submit" value="Accept">
        </div>
      </form>
    </div>
  </div>
  <div class="container-x flex-content-end">
    <div class="text-grey text-i">Nov 17, 2014</div>
  </div>
</div>
