<div class="container-y apply-content apply-info" ng-controller="ApplyInfoCtrl">
  <!-- Header -->
  <div class="fv-page-header text-centered">Tell us a little about yourself</div>
  <button class="btn btn-link text-p" ng-click="goToStep(0)">
    <span>Ready to import profiles?</span>
  </button>
  <!-- Content -->
  <div class="container-y">
    <!-- Profile Picture -->
    <div class="container-x wrapper-profile">
      <div class="label-l label-picture">Add your photo</div>
      <div class="flex-2">
        <div class="modal-lg profile-picture-m default wrapper-round clickable flex-content-centered" ng-click="showImageCropModal()">
          <div class="flex-content-centered" ng-if="!profileImage">
            <svg class="icon icon-lightGrey icon-camera">
              <use xlink:href="#camera"></use>
            </svg>
          </div>
          <div ng-if="profileImage" fv-bg-image="{{profileImage}}" class="image-profile">
            <div class="flex-content-centered">
              <svg class="icon icon-light icon-camera">
                <use xlink:href="#camera"></use>
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-1"></div>
    </div>
    <!-- Profile Form -->
    <form class="form-horizontal" name="profileInfoForm" role="form" ng-submit="saveProfileInfo()">
      <!-- Personal url -->
      <div class="form-group container-x" ng-class="{'has-error': urlExists}">
        <div class="label-l">Your Personal Url</div>
        <div class="flex-2">
          <input type="text" class="form-control flex-1 input-info-url input-s" name="infoUrl" ng-model="moniker" autocomplete="on">
          <div class="label-r">.servicebucket.com</div>
        </div>
        <div class="flex-1 flex-items-centered">
          <svg ng-if="moniker" class="icon icon-green text-p space-left">
            <use xlink:href="#tick"></use>
          </svg>
        </div>
        <label ng-show="urlExists" class="control-label label-s col-md-6">
          This url is already taken. Please provide a new url.
        </label>
      </div>
      <!-- Title -->
      <div class="form-group container-x">
        <div class="label-l">Headline / Title</div>
        <div class="flex-2">
          <input type="text" class="form-control input-s" name="infoTitle" ng-model="profile.headline" placeholder="eg. UX Designer">
        </div>
        <div class="flex-1 flex-items-centered">
          <svg ng-if="profile.headline" class="icon icon-green text-p space-left">
            <use xlink:href="#tick"></use>
          </svg>
        </div>
      </div>
      <!-- Textarea-->
      <div class="form-group container-x">
        <div class="label-l label-bio">Bio</div>
        <div class="flex-2 textarea-wrapper">
          <textarea class="textarea-info" name="infoBio" placeholder="Try to be as detailed and personal as possible" ng-model="profile.bio"></textarea>
        </div>
        <div class="flex-1 flex-items-centered ">
          <svg ng-if="bio" class="icon icon-green text-p space-left">
            <use xlink:href="#tick"></use>
          </svg>
        </div>
      </div>
      <!-- Location -->
      <div class="form-group container-x">
        <div class="label-l label-location">Location</div>
        <div class="flex-2 location-wrapper flex-content-spread">
          <div class="btn-group flex-1">
            <button type="button" class="select-country btn btn-default" ng-model="countryName" data-html="1" ng-options="countryName for countryName in countryNames"
                    data-placeholder="Country" bs-select>
              Action <span class="caret"></span>
            </button>
          </div>
          <div class="form-group container-x flex-2 wrapper-drop-city">
            <input type="text" class="form-control input-s" name="infoCity" placeholder="City"
                   ng-model="selectedCity"
                   ng-options="city for city in cities"
                   ng-disabled="!countryName"
                   ng-minlength="3"
                   ng-keyup="searchCity(profileInfoForm.infoCity.$viewValue)"
                   bs-typeahead>
          </div>
        </div>
        <div class="flex-1 flex-items-centered">
          <svg ng-if="city && country" class="icon-tick-location">
            <use xlink:href="#tick"></use>
          </svg>
        </div>
      </div>
    </form>
    <!-- Continue button -->
    <div class="container-x flex-content-centered">
      <div class="flex-1"></div>
      <div class="wrapper-continue-2">
        <button type="submit" class="btn btn-continue" ng-disabled="!(city && country && bio && personalUrl && profileImage)" ng-click="continue()">Continue</button>
      </div>
      <div class="flex-1"></div>
    </div>
  </div>
</div>
