<div class="container-y apply-content" ng-controller="ApplyImportCtrl">
  <div class="text-header-s text-centered">Import your profile info, portfolio, and reviews from other sites</div>
  <div class="text-centered text-16 text-silver">
    Compile profile information from multiple sites and showcase your expertise with pushbutton ease
  </div>
  <div class="icons-import content-center">
    <!--LinkedIn-->
    <div class="import-link-wrap"
         ng-class="{'selected': isSelected('linkedIn')}"
         ng-click="toggleSelection('linkedIn')">
      <div class="col-xs-1 import-link wrapper-lightgrey">
        <div class="icon-thirdparty">
          <i class="fa-centered fa fa-linkedin fa-2x"></i>
        </div>
        <div class="icon-plus">
          <i class="fa-centered fa fa-plus fa-2x"></i>
        </div>
        <div class="icon-minus">
          <i class="fa-centered fa fa-minus fa-2x"></i>
        </div>
      </div>
      <div class="label-import-link text-lightGrey">LinkedIn</div>
    </div>
    <!--oDesk-->
    <div class="import-link-wrap"
         ng-class="{'selected': isSelected('oDesk')}"
         ng-click="toggleSelection('oDesk')">
      <div class="col-xs-1 import-link wrapper-lightgrey">
        <div class="icon-odesk icon-thirdparty"></div>
        <div class="icon-plus">
          <i class="fa-centered fa fa-plus fa-2x"></i>
        </div>
        <div class="icon-minus">
          <i class="fa-centered fa fa-minus fa-2x"></i>
        </div>
      </div>
      <div class="label-import-link text-lightGrey">oDesk</div>
    </div>
    <!--Elance-->
    <div class="import-link-wrap"
         ng-class="{'selected': isSelected('elance')}"
         ng-click="toggleSelection('elance')">
      <div class="col-xs-1 import-link wrapper-lightgrey">
        <div class="icon-thirdparty container-y">
          <div class="icon-elance">E</div>
        </div>
        <div class="icon-plus">
          <i class="fa-centered fa fa-plus fa-2x"></i>
        </div>
        <div class="icon-minus">
          <i class="fa-centered fa fa-minus fa-2x"></i>
        </div>
      </div>
      <div class="label-import-link text-lightGrey">Elance</div>
    </div>
    <!--PeoplePerHour-->
    <div class="import-link-wrap"
         ng-class="{'selected': isSelected('peoplePerHour')}"
         ng-click="toggleSelection('peoplePerHour')">
      <div class="col-xs-1 import-link wrapper-lightgrey">
        <div class="icon-thirdparty">
          <div class="col-xs-1 wrapper-round icon-pph wrapper-s bg-white">
            <div class="quarter-tl">
              <span class="circle-s"></span>
            </div>
            <div class="quarter-tr">
              <span class="circle-s"></span>
            </div>
          </div>
        </div>
        <div class="icon-plus">
          <i class="fa-centered fa fa-plus fa-2x"></i>
        </div>
        <div class="icon-minus">
          <i class="fa-centered fa fa-minus fa-2x"></i>
        </div>
      </div>
      <div class="label-import-link text-lightGrey">PeoplePerHour</div>
    </div>
    <!--Freelancer-->
    <div class="import-link-wrap"
         ng-class="{'selected': isSelected('freelancer')}"
         ng-click="toggleSelection('freelancer')">
      <div class="col-xs-1 import-link wrapper-lightgrey">
        <div class="icon-freelancer icon-thirdparty"></div>
        <div class="icon-plus">
          <i class="fa-centered fa fa-plus fa-2x"></i>
        </div>
        <div class="icon-minus">
          <i class="fa-centered fa fa-minus fa-2x"></i>
        </div>
      </div>
      <div class="label-import-link text-lightGrey">Freelancer</div>
    </div>
    <!--Behance-->
    <div class="import-link-wrap"
         ng-class="{'selected': isSelected('behance')}"
         ng-click="toggleSelection('behance')">
      <div class="col-xs-1 import-link wrapper-lightgrey">
        <div class="icon-thirdparty">
          <i class="fa-centered fa fa-behance fa-2x"></i>
        </div>
        <div class="icon-plus">
          <i class="fa-centered fa fa-plus fa-2x"></i>
        </div>
        <div class="icon-minus">
          <i class="fa-centered fa fa-minus fa-2x"></i>
        </div>
      </div>
      <div class="label-import-link text-lightGrey">Behance</div>
    </div>
    <!--Dribbble-->
    <div class="import-link-wrap"
         ng-class="{'selected': isSelected('dribbble')}"
         ng-click="toggleSelection('dribbble')">
      <div class="col-xs-1 import-link wrapper-lightgrey">
        <div class="icon-thirdparty">
          <i class="fa-centered fa fa-dribbble fa-3x"></i>
        </div>
        <div class="icon-plus">
          <i class="fa-centered fa fa-plus fa-2x"></i>
        </div>
        <div class="icon-minus">
          <i class="fa-centered fa fa-minus fa-2x"></i>
        </div>
      </div>
      <div class="label-import-link text-lightGrey">Dribbble</div>
    </div>
    <!--Github-->
    <div class="import-link-wrap"
         ng-class="{'selected': isSelected('github')}"
         ng-click="toggleSelection('github')">
      <div class="col-xs-1 import-link wrapper-lightgrey">
        <div class="icon-thirdparty">
          <i class="fa-centered fa fa-github fa-3x"></i>
        </div>
        <div class="icon-plus">
          <i class="fa-centered fa fa-plus fa-2x"></i>
        </div>
        <div class="icon-minus">
          <i class="fa-centered fa fa-minus fa-2x"></i>
        </div>
      </div>
      <div class="label-import-link text-lightGrey">Github</div>
    </div>
  </div>
  <div>
  </div>

  <div ng-show="getSelectedProviders().length" >
    <div class="container-y col-md-8 col-sm-offset-2">
      <div class="divider-fancy"></div>
    </div>
  </div>
  <!--Apply page footer - skip-->
  <div ng-hide="getSelectedProviders().length" class="apply-footer">
    <button class="btn btn-link link-apply-skip">
      <span>Nothing to import? Skip>></span>
    </button>
  </div>
</div>
