<div class="container-y apply-content" ng-controller="ApplyImportCtrl">
  <div class="apply-header">Import your profile info, portfolio, and reviews from other sites</div>
  <div class="text-centered text-h3 text-silver">
    Compile profile information from multiple sites and showcase your expertise with pushbutton ease
  </div>
  <div class="icons-import content-center flex-content-centered">
    <!--LinkedIn-->
    <div class="import-link-wrap"
         ng-class="{'selected': isSelected('linkedIn')}"
         ng-click="toggleSelection('linkedIn')">
      <div class="col-xs-1 import-link wrapper-lightgrey">
        <div class="icon-thirdparty">
          <i class="fa-centered fa fa-linkedin icon-linkedIn"></i>
        </div>
        <div class="icon-plus">
          <i class="fa-centered fa fa-plus"></i>
        </div>
      </div>
      <div class="label-import-link text-lightGrey">LinkedIn</div>
    </div>
    <!--oDesk-->
    <div class="import-link-wrap"
         ng-class="{'selected': isSelected('oDesk')}"
         ng-click="toggleSelection('oDesk')">
      <div class="col-xs-1 import-link wrapper-lightgrey">
        <div class="icon-odesk icon-thirdparty"></div>
        <div class="icon-plus">
          <i class="fa-centered fa fa-plus"></i>
        </div>
      </div>
      <div class="label-import-link text-lightGrey">oDesk</div>
    </div>
    <!--Elance-->
    <div class="import-link-wrap"
         ng-class="{'selected': isSelected('elance')}"
         ng-click="toggleSelection('elance')">
      <div class="col-xs-1 import-link wrapper-lightgrey">
        <div class="icon-thirdparty container-y">
          <div class="icon-elance">E</div>
        </div>
        <div class="icon-plus">
          <i class="fa-centered fa fa-plus"></i>
        </div>
      </div>
      <div class="label-import-link text-lightGrey">Elance</div>
    </div>
    <!--PeoplePerHour-->
    <div class="import-link-wrap"
         ng-class="{'selected': isSelected('peoplePerHour')}"
         ng-click="toggleSelection('peoplePerHour')">
      <div class="col-xs-1 import-link wrapper-lightgrey">
        <div class="icon-thirdparty">
          <div class="col-xs-1 wrapper-round icon-pph icon-wrapper-s bg-white">
            <div class="quarter-tl">
              <span class="circle-s"></span>
            </div>
            <div class="quarter-tr">
              <span class="circle-s"></span>
            </div>
          </div>
        </div>
        <div class="icon-plus">
          <i class="fa-centered fa fa-plus"></i>
        </div>
      </div>
      <div class="label-import-link text-lightGrey">PeoplePerHour</div>
    </div>
    <!--Freelancer-->
    <div class="import-link-wrap"
         ng-class="{'selected': isSelected('freelancer')}"
         ng-click="toggleSelection('freelancer')">
      <div class="col-xs-1 import-link wrapper-lightgrey">
        <div class="icon-freelancer icon-thirdparty"></div>
        <div class="icon-plus">
          <i class="fa-centered fa fa-plus"></i>
        </div>
      </div>
      <div class="label-import-link text-lightGrey">Freelancer</div>
    </div>
    <!--Behance-->
    <div class="import-link-wrap"
         ng-class="{'selected': isSelected('behance')}"
         ng-click="toggleSelection('behance')">
      <div class="col-xs-1 import-link wrapper-lightgrey">
        <div class="icon-thirdparty">
          <i class="fa-centered fa fa-behance icon-behance"></i>
        </div>
        <div class="icon-plus">
          <i class="fa-centered fa fa-plus"></i>
        </div>
      </div>
      <div class="label-import-link text-lightGrey">Behance</div>
    </div>
    <!--Dribbble-->
    <div class="import-link-wrap"
         ng-class="{'selected': isSelected('dribbble')}"
         ng-click="toggleSelection('dribbble')">
      <div class="col-xs-1 import-link wrapper-lightgrey">
        <div class="icon-thirdparty">
          <i class="fa-centered fa fa-dribbble icon-dribbble"></i>
        </div>
        <div class="icon-plus">
          <i class="fa-centered fa fa-plus"></i>
        </div>
      </div>
      <div class="label-import-link text-lightGrey">Dribbble</div>
    </div>
    <!--Github-->
    <div class="import-link-wrap"
         ng-class="{'selected': isSelected('github')}"
         ng-click="toggleSelection('github')">
      <div class="col-xs-1 import-link wrapper-lightgrey">
        <div class="icon-thirdparty">
          <i class="fa-centered fa fa-github"></i>
        </div>
        <div class="icon-plus">
          <i class="fa-centered fa fa-plus"></i>
        </div>
      </div>
      <div class="label-import-link text-lightGrey">Github</div>
    </div>
  </div>
  <div ng-show="selectedProviders.length" >
    <div class="container-y col-md-8 col-sm-offset-2">
      <div class="divider-fancy"></div>
      <!--Import profiles form-->
      <div class="providers-form-wrapper">
        <form fv-scroll-bottom scrollTrigger="ui-provider-selected" class="form-horizontal" name="providersForm" role="form">
          <div class="container-y">
            <div ng-repeat="provider in selectedProviders">

                <div class="form-group" ng-class="{'has-error': providersForm['\{\{provider.name\}\}'].$error.url}">
                  <div class="container-x flex-content-centered">
                    <div class="flex-1 flex-content-end">
                      <div class="import-link-s wrapper-darkGrey wrapper-round bg-darkgrey"></div>
                    </div>
                    <div class="flex-2">
                      <input fv-auto-focus type="url" class="form-control input-l" name="{{provider.name}}"
                             ng-model="provider.url" placeholder="enter your {{provider.name}} profile url">
                    </div>
                    <div class="flex-1">
                      <button ng-show="!provider.inProgress && !provider.saved" class="btn btn-save"
                              ng-disabled="providersForm.$invalid || !provider.url" ng-click="saveProvider(provider.name)">save</button>
                      <div ng-show="provider.inProgress" class="text-darkGrey text-m flex-1">
                        <i class="fa fa-spinner fa-spin fa-1"></i>
                      </div>
                      <div ng-show="!provider.inProgress && provider.saved" class="label-r status-icon text-darkGrey text-h3 flex-1" ng-click="removeProvider(provider.name)">
                        <i class="fa fa-times fa-1"></i>
                      </div>
                    </div>
                  </div>
                  <div class="container-x flex-content-centered">
                    <label ng-show="providersForm['\{\{provider.name\}\}'].$error.url" class="control-label label-s col-md-6" for="'\{\{provider.name\}\}'">
                      Please provide a valid url: 'http://...'
                    </label>
                  </div>
                </div>

            </div>
            <div class="container-x flex-content-centered">
              <div class="flex-1"></div>
              <div class="wrapper-continue-1">
                <button type="submit" class="btn btn-continue" ng-disabled="providersForm.$invalid" ng-click="goToStep(1)">Continue</button>
              </div>
              <div class="flex-1"></div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!--Apply page footer - skip-->
  <div ng-show="selectedProviders.length === 0" class="apply-footer">
    <button class="btn btn-link link-apply-skip text-p" ng-click="goToStep(1)">
      <span>Nothing to import? Skip>></span>
    </button>
  </div>
</div>
