<div class="container-y apply-content apply-info" ng-controller="ApplyInfoCtrl">
  <!-- Header -->
  <div class="text-h1 text-centered">Tell us a little about yourself</div>
  <button class="btn btn-link text-p" ng-click="goToStep(0)">
    <span>Ready to import profiles?</span>
  </button>
  <!-- Content -->
  <div class="container-y">
    <!-- Profile Picture -->
    <div class="container-x wrapper-profile">
      <div class="label-l label-picture">Add your photo</div>
      <div class="flex-2">
        <div class="modal-lg profile-picture-m default wrapper-round" ng-click="showImageCrop()">
          <i class="fa-centered fa fa-camera"></i>
        </div>
      </div>
      <div class="flex-1"></div>
    </div>
    <!-- Profile Form -->
    <form class="form-horizontal" name="profileInfoForm" role="form" ng-submit="saveProfileInfo()">
      <!-- Personal url -->
      <div class="form-group container-x">
        <div class="label-l">Your Personal Url</div>
        <div class="flex-2">
          <input type="text" class="form-control input-info-url input-l" name="infoUrl" ng-model="url">
          <div class="label-r">.servicebucket.com</div>
        </div>
        <div class="flex-1"></div>
      </div>
      <!-- Title -->
      <div class="form-group container-x">
        <div class="label-l">Headline / Title</div>
        <div class="flex-2">
          <input type="text" class="form-control input-l" name="infoTitle" ng-model="title" placeholder="eg. UX Designer">
        </div>
        <div class="flex-1"></div>
      </div>
      <!-- Rate -->
<!--
      <div class="form-group container-x">
        <div class="label-l">Rate</div>
        <div class="flex-1">
          <input type="number" class="form-control input-l input-info-rate" name="infoRate" ng-model="rate">
          <div class="label-r">$ / h</div>
        </div>
        <div class="flex-2"></div>
      </div>
-->
      <!-- Textarea-->
      <div class="form-group container-x">
        <div class="flex-1"></div>
        <div class="flex-2 textarea-wrapper">
          <textarea class="textarea-info"></textarea>
        </div>
        <div class="flex-1"></div>
      </div>
    </form>
    <!-- Location -->
    <div class="form-group container-x">
      <div class="label-l label-location">Location</div>
      <div class="flex-2">
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Action <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Action <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
      </div>
      <div class="flex-1"></div>
    </div>
    <!-- Continue button -->
    <div class="container-x flex-content-centered">
      <div class="flex-1"></div>
      <div class="wrapper-continue-2">
        <button type="submit" class="btn btn-continue" ng-disabled="profileInfoForm.$invalid" ng-click="goToStep(2)">Continue</button>
      </div>
      <div class="flex-1"></div>
    </div>
  </div>
</div>
