<div class="container-y apply-content apply-info" ng-controller="ApplyInfoCtrl">
  <!-- Header -->
  <div class="fv-page-header text-centered">Tell us a little about yourself</div>
  <button class="btn btn-link text-p" ng-click="goToStep(0)">
    <span>Ready to import profiles?</span>
  </button>
  <!-- Content -->
  <div class="container-y">
    <!-- Profile Picture -->
    <div class="container-x wrapper-profile">
      <div class="label-l label-picture">Add your photo</div>
      <div class="flex-2">
        <div class="modal-lg profile-picture-m default wrapper-round clickable flex-content-centered" ng-click="showImageCropModal()">
          <!-- No avatar available -->
          <div class="flex-content-centered" ng-if="!avatar">
            <svg class="icon icon-lightGrey icon-camera" ng-if="$parent.avatarLoading === false">
              <use xlink:href="#camera"></use>
            </svg>
            <div class="wrapper-loader" ng-if="$parent.avatarLoading === true">
              <div class="loader"></div>
            </div>
          </div>
          <!--Avatar available -->
          <div ng-if="avatar" class="wrapper-avatar">
            <img class="img-responsive" ng-src="{{avatar}}">
            <div class="overlay">
              <svg class="icon icon-light icon-camera">
                <use xlink:href="#camera"></use>
              </svg>
            </div>
          </div>
        </div>
        <div class="container-y flex-content-centered">
          <svg ng-if="avatar" class="icon icon-green text-p space-left">
            <use xlink:href="#tick"></use>
          </svg>
        </div>
      </div>
      <div class="flex-1"></div>
    </div>
    <!-- Profile Form -->
    <form class="form-horizontal" name="profileInfoForm" role="form" ng-submit="saveProfileInfo()">
      <!-- Personal url -->
      <div class="form-group container-x" ng-class="{'has-error': urlExists}">
        <div class="label-l">Your Personal Url</div>
        <div class="container-x flex-2 input-borderless-wrapper">
          <div class="text-p text-silver input-borderless-placeholder">http://digiserved.com/</div>
          <input type="text" class="form-control input-info-url input-s"
                 name="infoUrl"
                 ng-minlength="3"
                 ng-maxlength="20"
                 ng-model="profile.Moniker"
                 ui-validate="{englishAndNum: 'engAndNum($value)'}">
        </div>
        <div class="flex-1 flex-items-centered">
          <svg ng-if="profile.Moniker" class="icon icon-green text-p space-left">
            <use xlink:href="#tick"></use>
          </svg>
        </div>
      </div>
      <div class="container-x space-bottom-2x" ng-show="urlExists">
        <div class="flex-1"></div>
        <label class="label-s text-grey flex-2" for="inputPassword">
          This url is already taken. Please provide a new url.
        </label>
        <div class="flex-1"></div>
      </div>
      <div class="container-x space-bottom-2x" ng-show="profileInfoForm.infoUrl.$error.minlength">
        <div class="flex-1"></div>
        <label class="label-s text-grey flex-2" for="inputPassword">
          This input must be at least 3 characters long
        </label>
        <div class="flex-1"></div>
      </div>
      <div class="container-x space-bottom-2x" ng-show="profileInfoForm.infoUrl.$error.maxlength">
        <div class="flex-1"></div>
        <label class="label-s text-grey flex-2" for="inputPassword">
          This input must be at most 20 characters long
        </label>
        <div class="flex-1"></div>
      </div>
      <div class="container-x space-bottom-2x" ng-show="profileInfoForm.infoUrl.$error.englishAndNum && profileInfoForm.infoUrl.$viewValue.length > 3">
        <div class="flex-1"></div>
        <label class="label-s text-grey flex-2" for="inputPassword">
            Your moniker can only contain latin characters and numbers.
          </label>
        <div class="flex-1"></div>
      </div>
      <!-- Title -->
      <div class="form-group container-x">
        <div class="label-l">Headline / Title</div>
        <div class="flex-2">
          <input type="text" class="form-control input-s" name="infoTitle" ng-model="profile.Title.Literals[0].Text" placeholder="eg. UX Designer">
        </div>
        <div class="flex-1 flex-items-centered">
          <svg ng-if="profile.Title.Literals[0].Text" class="icon icon-green text-p space-left">
            <use xlink:href="#tick"></use>
          </svg>
        </div>
      </div>
      <!-- Textarea-->
      <div class="form-group container-x">
        <div class="label-l label-bio">Bio</div>
        <div class="flex-2 textarea-wrapper">
          <textarea class="textarea-info" name="infoBio" placeholder="Try to be as detailed and personal as possible" ng-model="profile.Description.Literals[0].Text"></textarea>
        </div>
        <div class="flex-1 flex-items-centered ">
          <svg ng-if="profile.Description.Literals[0].Text" class="icon icon-green text-p space-left">
            <use xlink:href="#tick"></use>
          </svg>
        </div>
      </div>
      <!-- Location -->
      <div class="form-group container-x">
        <div class="label-l label-location">Location</div>
        <div class="flex-2 location-wrapper flex-content-spread">
          <div class="btn-group flex-1">
            <button type="button" class="select-country btn btn-default" ng-model="countryName" data-html="1" ng-options="countryName for countryName in countryNames"
                    data-placeholder="Country" bs-select>
              Action <span class="caret"></span>
            </button>
          </div>
          <div class="form-group container-x flex-2 wrapper-drop-city">
            <input type="text" class="form-control input-s disabled-unstyled" name="infoCity" placeholder="City"
                   ng-model="cityName"
                   minLength="0"
                   limit="25"
                   ng-options="name for name in cityNames"
                   ng-disabled="!countryName"
                   ng-change="searchCity(profileInfoForm.infoCity.$viewValue)"
                   bs-typeahead>
          </div>
        </div>
        <div class="flex-1 flex-items-centered space-inner-bottom">
          <svg ng-if="city && countryName" class="icon-tick-location">
            <use xlink:href="#tick"></use>
          </svg>
        </div>
      </div>
      <!-- Continue button -->
      <div class="container-x flex-content-centered">
        <div class="flex-1"></div>
        <div class="wrapper-continue-2">
          <button type="submit" class="btn btn-continue"
                  ng-disabled="!(profile.Moniker && profile.Title && profile.Description && profile.Description.Literals[0].Text && city && currentUser.Avatar) || saveProfileInProgress"
                  ng-click="continue()">
            <div class="container-x flex-content-centered">
              <div>Continue</div>
              <div class="wrapper-loader space-left" ng-show="saveProfileInProgress">
                <div class="loader"></div>
              </div>
            </div>
          </button>
        </div>
        <div class="flex-1"></div>
      </div>
    </form>
  </div>
</div>
