<div class="container-y workflow-message">
  <div class="container-x">
    <!-- Avatar column -->
    <div class="container-y">
      <img class="avatar space-top space-right" src="images/seller0.png">
    </div>
    <!-- Arrow head -->
    <div class="arrow-left"></div>
    <!-- Message panel -->
    <div class="flex-1 panel container-y">
      <!-- Message title -->
      <div class="message-title">Submit delivery note</div>
      <!-- Message body -->
      <div class="text-i space-bottom-2x">
        <span>
          If you beleieve the work successfully completed, send
        </span>
        <!-- Bind recipient moniker, name -->
        <a href="/user/moniker">[Recipient]</a>
        <span class="space after">
          a delivery note. When
        </span>
        <!-- Bind recipient moniker, name -->
        <a class="space-after" href="/user/moniker">[Recipient]</a>
        <span class="space-after">
          approves the work and accepts the delivery note, their advance payment of
        </span>
        <!-- bind: price -->
        <span class="space-after">30$,</span>
        currently held in escrow, will be released to you.
      </div>
      <!-- Expected deliverables -->
      <div class="text-p text-bold">Expected deliverables</div>
      <ul class="text-i italic list-unstyled space-bottom-2x">
        <!-- Repeat: deliverable in deliverables -->
        <li class="order-requirement">
          <svg class="icon icon-green text-p">
            <use xlink:href="#tick"></use>
          </svg>
          <span>Full Logo pack ready for web display or printing</span>
        </li>
        <li class="order-requirement">
          <svg class="icon icon-green text-p">
            <use xlink:href="#tick"></use>
          </svg>
          <span>Website URL</span>
        </li>
        <li class="order-requirement">
          <svg class="icon icon-green text-p">
            <use xlink:href="#tick"></use>
          </svg>
          <span>Fully editable Photoshop .PSD or Illustrator .AI source file</span>
        </li>
        <li class="order-requirement">
          <svg class="icon icon-green text-p">
            <use xlink:href="#tick"></use>
          </svg>
          <span>Two of the following formats: .PNG, .JPG, .GIF, .SVG</span>
        </li>
        <li class="order-requirement">
          <svg class="icon icon-green text-p">
            <use xlink:href="#tick"></use>
          </svg>
          <span>Color models: CMYK (for print) or RGB (for web) in transparent background (if needed)</span>
        </li>
        <li class="order-requirement">
          <svg class="icon icon-green text-p">
            <use xlink:href="#tick"></use>
          </svg>
          <span>Font and color specification</span>
        </li>
      </ul>
      <!-- Warning note -->
      <div class="warning-note highlighted text-i">
        <span class="text-bold space-after">Important:</span>
        <span class="space-after">
          Before you send this delivery note, make sure you have successfully completed all service requirements. If work is incomplete,
        </span>
        <!-- bind: recipient name -->
        <span class="space-after">[Recipient]</span>
        can reject the delivery note. Multiple rejections may result in the project's cancellation.
      </div>
      <!-- Post message form -->
      <form class="space-top">
        <textarea class="bg-grey95" rows="5" placeholder="Type your message here"></textarea>
        <div class="container-x flex-content-spread">
          <!-- File input: the accept attribute is bound to the digiserved supported file list -->
          <div class="container-x flex-content-centered">
            <button class="btn btn-white btn-m text-i space-right-05">Attach files</button>
            <div class="container-y space-left">
              <div class="text-i italic text-lightGrey">Max 5 attachments</div>
              <div class="text-i italic text-lightGrey">Max 5 MB/ attachment</div>
            </div>
          </div>
          <input class="btn btn-blue btn-m text-i" type="submit">
        </div>
      </form>
    </div>
  </div>
  <div class="container-x flex-content-end">
    <div class="text-grey text-i">Nov 17, 2014</div>
  </div>
</div>
