<div class="container-y workflow-message">
  <div class="container-x">
    <!-- Avatar column -->
    <div class="container-y">
      <!-- Systyem message "avatar" -->
      <img class="avatar space-top space-right" src="images/svg/system.svg">
    </div>
    <!-- Arrow head -->
    <div class="arrow-left"></div>
    <!-- Message panel -->
    <div class="flex-1 panel container-y">
      <!-- Message title -->
      <div class="message-title">Delivery note cancelled</div>
      <!-- Message body -->
      <div class="text-i space-bottom-2x">
        <span class="space-after">You have cancelled the following delivery note you sent to</span>
        <!-- Bind: buyer name -->
        <span class="space-after">[Buyer]</a>
        <span class="space-after">on</a>
        <!-- Bind: delivery date -->
        <span class="space-after">Mon 07 Nov, 2014.</a>
        <span class="space after">
          You can submit a new delivery note at any time.
        </span>
      </div>
      <!-- Cancellation reason -->
      <div class="text-p text-bold">Cancellation</div>
      <!-- Bind: cancellation reason -->
      <div class="highlighted bg-grey95 space-top-05 space-bottom-2x text-i italic">
        "I realized that there were some pending iterations/fixes to make.
        So I am cancelling this and I will resubmit tommorow"
      </div>
      <!-- Delivery note -->
      <div class="text-p text-bold">Delivery note</div>
      <!-- Bind: delivery note -->
      <div class="highlighted bg-grey95 space-top-05 space-bottom-2x text-i italic">
        "Thank you very much for your order once again. Please find your logo with the agreed
        deliverables attached. it was a pleasure working with you and I am looking forward to working
        with you again in the future"
      </div>
      <!-- Post message form -->
      <form class="space-top">
        <textarea  class="bg-grey95" rows="5" placeholder="Type your message here"></textarea>
        <!-- Attachments -->
        <div class="attachments container-y text-i">
          <!-- Repeat 0-5 times -->
          <!-- attachment: doc file -->
          <div class="container-x flex-content-spread flex-items-centered">
            <div class="container-x">
              <div class="wrapper-file-img">
                <img class="img-responsive" src="images/svg/file-doc.svg">
              </div>
              <!-- Bind: file name -->
              <div class="container-x flex-items-centered">Documentation.doc</div>
            </div>
            <!-- Bind: file size -->
            <div class="container-x flex-items-centered">
              <div class="space-right">
                <span>120</span>
                <span>KB</span>
              </div>
              <!-- Bind: file path -->
              <a class="space-left space-right-4x" href="" target="_blank">
                <img class="img-responsive img-download" src="images/svg/download.svg"></img>
              </a>
          </div>
          </div>
          <div class="divider"></div>
          <!-- attachment: pdf file -->
          <div class="container-x flex-content-spread flex-items-centered">
            <div class="container-x">
              <div class="wrapper-file-img">
                <img class="img-responsive" src="images/svg/file-pdf.svg">
              </div>
              <!-- Bind: file name -->
              <div class="container-x flex-items-centered">Documentation.pdf</div>
            </div>
            <!-- Bind: file size -->
            <div class="container-x flex-items-centered">
              <div class="space-right">
                <span>150</span>
                <span>KB</span>
              </div>
              <!-- Bind: file path -->
              <a class="space-left space-right-4x" href="" target="_blank">
                <img class="img-responsive img-download" src="images/svg/download.svg"></img>
              </a>
            </div>
          </div>
          <div class="divider"></div>
          <!-- attachment: xls file -->
          <div class="container-x flex-content-spread flex-items-centered">
            <div class="container-x">
              <div class="wrapper-file-img">
                <img class="img-responsive" src="images/svg/file-excel.svg">
              </div>
              <!-- Bind: file name -->
              <div class="container-x flex-items-centered">Timesheet.xsl</div>
            </div>
            <!-- Bind: file size -->
            <div class="container-x flex-items-centered">
              <div class="space-right">
                <span>120</span>
                <span>KB</span>
              </div>
              <!-- Bind: file path -->
              <a class="space-left space-right-4x" href="" target="_blank">
                <img class="img-responsive img-download" src="images/svg/download.svg"></img>
              </a>
            </div>
          </div>
          <!-- Conditional class: last. Add on the last visible divider -->
          <div class="divider last"></div>
        </div>
        <!-- Action buttons -->
        <div class="container-x flex-content-end">
          <button class="btn btn-blue btn-m text-i">Create delivery note</button>
        </div>
      </form>
    </div>
  </div>
  <div class="container-x flex-content-end">
    <div class="text-grey text-i">Nov 17, 2014</div>
  </div>
</div>
