<div ng-switch on="provider.name">
  <div ng-switch-when="linkedIn" class="flex-content-centered">
    <svg class="icon icon-light icon-linkedIn">
      <use xlink:href="#linkedIn"></use>
    </svg>
  </div>
  <div ng-switch-when="oDesk" class="flex-content-centered">
    <svg class="icon icon-light icon-odesk">
      <use xlink:href="#odesk"></use>
    </svg>
  </div>
  <div ng-switch-when="elance" class="flex-content-centered">
    <svg class="icon icon-light icon-elance">
      <use xlink:href="#elance"></use>
    </svg>
  </div>
  <div ng-switch-when="pph" class="flex-content-centered">
    <svg class="icon icon-light icon-pph">
      <use xlink:href="#pph"></use>
    </svg>
  </div>
  <div ng-switch-when="freelancer" class="flex-content-centered">
    <svg class="icon icon-light icon-freelancer">
      <use xlink:href="#freelancer"></use>
    </svg>
  </div>
  <div ng-switch-when="behance" class="flex-content-centered">
    <svg class="icon icon-light icon-behance">
      <use xlink:href="#behance"></use>
    </svg>
  </div>
  <div ng-switch-when="dribbble" class="flex-content-centered">
    <svg class="icon icon-light icon-dribbble">
      <use xlink:href="#dribbble"></use>
    </svg>
  </div>
  <div ng-switch-when="github" class="flex-content-centered">
    <svg class="icon icon-light icon-github">
      <use xlink:href="#github"></use>
    </svg>
  </div>
</div>
