<nav class="navbar navbar-default navbar-fixed-top navbar-main"
     ng-class="locationAt('/') ? 'navbar-transparent' : 'navbar-dark'"
     ng-controller="HeaderCtrl">
  <div ng-class="{'navbar-inner': !locationAt('/'), 'flex-1': locationAt('/')}">
    <div class="navbar-wrapper" ng-class="{'flex-1': locationAt('/')}">
      <div class="container-y flex-content-centered">
        <button class="btn btn-link nav-link navbar-btn btn-left" ng-click="go('/')">SERVICE BUCKET</button>
      </div>
      <div class="container-x flex-1 flex-content-end">
        <button ng-if="!session.hasRegistered && !locationAt('/register')" class="btn btn-link nav-link" ng-click="go('/register')">Sign up</button>
        <button ng-if="!session.hasRegistered && !locationAt('/login')" class="btn btn-link nav-link" ng-click="go('/login')">Login</button>
        <div ng-if="session.hasRegistered" class="container-x">
          <button class="btn btn-link nav-link" ng-click="logout()">
            <span>Logout</span>
          </button>
          <button type="button" class="btn btn-header-dropdown" data-animation="am-flip-x" bs-dropdown="dropdown">
            <span>{{ currentUser.firstName || session.email }}</span>
            <span class="glyphicon glyphicon-chevron-down"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
