<nav class="navbar navbar-default navbar-fixed-top navbar-main container-y"
     ng-class="locationAt('/') ? 'navbar-transparent' : 'navbar-dark'">
  <div class="navbar-inner main flex">
    <div class="navbar-wrapper">
      <div class="container-y flex-content-centered">
        <a href="/" class="wrapper-logo container-y flex-content-centered">
          <img src="/images/logo_01.png" class="img-responsive">
        </a>
      </div>
      <!-- Search -->
      <form class="navbar-search container-y flex-content-centered" role="search" ng-if="locationAt('workstream') || locationAt('myOrders')">
        <div class="search-box">
          <div class="inner-addon left-addon">
            <svg class="icon">
              <use xlink:href="#search-dark"></use>
            </svg>
            <input type="text" class="form-control text-p">
          </div>
        </div>
      </form>
      <!-- If user is not signed in -->
      <!--
<div class="container-x flex-1 flex-content-end flex-items-centered">
<button class="btn btn-link nav-link">Sign up</button>
<button class="btn btn-link nav-link">Login</button>
<button class="btn btn-blue nav-link space-left">Start selling</button>
</div>
-->
      <!-- If user is signed in -->
      <div class="container-x flex-1 flex-content-end">
        <!-- User avatar -->
        <div class="wrapper-avatar">
          <img src="images/seller0.png">
        </div>
        <!-- User & name dropdown -->
        <div class="container-x">
          <div class="dropdown flex-content-centered">
            <!-- Dropdown -->
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Doug<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Optional: not visible on all pages -->
  <div class="fullscreen-x secondary" ng-if="locationAt('/myOrders')">
    <div class="navbar-wrapper flex-items-centered">
      <a href="#" class="navbar-link">Graphics & Design</a>
      <a href="#" class="navbar-link">Web Development</a>
      <a href="#" class="navbar-link">Writing & Translation</a>
      <a href="#" class="navbar-link">Online Marketing</a>
      <a href="#" class="navbar-link">Business & Admin</a>
    </div>
  </div>
</nav>
