<nav class="navbar navbar-default navbar-fixed-top navbar-main text-white"
     ng-class="locationAt('/') ? 'navbar-transparent' : 'navbar-dark'">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="nav-link-wrap col-m-2 col-m-offset-9">
        <button class="btn btn-link nav-link btn-left" ng-click="go('/')">SERVICE BUCKET</button>
        <div>
          <button ng-if="!isAuthenticated() && !locationAt('/register')" class="btn btn-link nav-link" ng-click="go('/register')">Sign up</button>
          <button ng-if="!isAuthenticated() && !locationAt('/login')" class="btn btn-link nav-link" ng-click="go('/login')">Login</button>
        </div>
        <div ng-if="isAuthenticated()">
          <button class="btn btn-link nav-link">
            <span>{{currentUser.firstName}}</span>
            <span>{{currentUser.lastName}}</span>
          </button>
          <button class="btn btn-link nav-link" ng-controller="LoginCtrl" ng-click="logout()">
            <span>Logout</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
