<div ng-switch on="$index" class="landing container-page flex-content-centered">
  <!--  Page 0-->
  <div ng-switch-when="0" class="page-0 container-y box text-white">
    <div class="container-y">
      <div class="text-centered text-h1">FREELANCING REVOLUTIONIZED</div>
      <div class="subtitle text-centered text-h3">
          ServiceBucket is where freelancing meets ecommerce. It's like your very own creative storefront,
          stocked with the services you want to sell. Open your store to see the new face of online work.
      </div>
    </div>
    <div class="container-x flex-content-centered">
      <button type="button" class="btn btn-lg btn-blue btn-big" ng-click="isAuthenticated() ? go('/apply') : go('/register')">Apply to Join in less than a minute</button>
    </div>
  </div>
  <!-- Page 1-->
  <div ng-switch-when="1" class="page-1 text-white container-y">
    <div class="text-centered text-h1">ALL YOUR PROFILES UNDER ONE ROOF</div>
    <div class="subtitle text-centered text-h3">
      Work on multiple freelance sites? We will compile all your feedback, reviews and even entire portfolios from all your accounts.
      Simply enter the URLs and we'll do the rest. More work history means more jobs for you.
    </div>
    <!--    Profile import third party icons-->
    <div class="icons-import">
      <div class="col-xs-1 import-link wrapper-black">
        <div class="icon-thirdparty">
          <i class="fa-centered fa fa-linkedin"></i>
        </div>
      </div>
      <div class="col-xs-1 import-link wrapper-black">
        <div class="icon-odesk icon-thirdparty"></div>
      </div>
      <div class="col-xs-1 import-link wrapper-black">
        <div class="icon-elance">E</div>
      </div>
      <div class="col-xs-1 import-link wrapper-black">
        <div class="icon-freelancer icon-thirdparty"></div>
      </div>
      <div class="col-xs-1 import-link wrapper-black">
        <div class="col-xs-1 wrapper-round icon-pph icon-wrapper-s bg-white">
          <div class="quarter-tl">
            <span class="circle-s"></span>
          </div>
          <div class="quarter-tr">
            <span class="circle-s"></span>
          </div>
        </div>
      </div>
      <div class="col-xs-1 import-link wrapper-black">
        <div class="icon-thirdparty">
          <i class="fa-centered fa fa-behance"></i>
        </div>
      </div>
      <div class="col-xs-1 import-link wrapper-black">
        <div class="icon-thirdparty">
          <i class="fa-centered fa fa-dribbble"></i>
        </div>
      </div>
      <div class="col-xs-1 import-link wrapper-black">
        <div class="icon-thirdparty">
          <i class="fa-centered fa fa-github"></i>
        </div>
      </div>
    </div>
    <div class="container-x flex-content-centered">
      <button type="button" class="btn btn-lg btn-blue btn-big" ng-click="isAuthenticated() ? go('/apply') : go('/register')">
        Apply to Join in less than a minute
      </button>
    </div>
  </div>
  <!-- Page 2-->
  <div ng-switch-when="2" class="page-2 text-white container-y">
    <div class="text-centered text-h1">FREELANCE FLEXIBILITY, ECOMMERCE CONVENIENCE</div>
    <div class="content-center">
      <div class="container-y box-s flex-1">
        <div class="wrapper-round wrapper-icon-m bg-white wrapper-black flex-content-centered">
          <i class="fa-centered fa fa-list"></i>
        </div>
        <div class="text-h2 text-centered">SERVICE CATALOGUE</div>
        <div class="text-p text-centered">
          Select services and set your price. A comprehensive catalogue with ready-made, professional service descriptions makes it super easy.
        </div>
      </div>
      <div class="container-y box-s flex-1">
        <div class="wrapper-round wrapper-icon-m bg-white wrapper-black flex-content-centered">
          <i class="fa-centered fa fa-usd"></i>
        </div>
        <div class="text-h2 text-centered">OPEN 24/7</div>
        <div class="text-p text-centered">
          Say goodbye to bids and cover letters. Clients will now come to you, not the other way round.
        </div>
      </div>
      <div class="container-y box-s flex-1">
        <div class="wrapper-round wrapper-icon-m bg-white wrapper-black flex-content-centered">
          <i class="fa-centered fa fa-briefcase"></i>
        </div>
        <div class="text-h2 text-centered"><span class="degree">360</span> SUPPORT</div>
        <div class="text-p text-centered">
          You keep selling your services, we handle the rest. From communications to invoicing to reviews, you're in good hands.
        </div>
      </div>
    </div>
    <div class="container-x flex-content-centered">
      <button type="button" class="btn btn-lg btn-blue btn-big" ng-click="isAuthenticated() ? go('/apply') : go('/register')">Apply to Join in less than a minute</button>
    </div>
  </div>
  <!-- Page 3-->
  <div ng-switch-when="3" class="text-white container-y">
    <div class="text-h1 text-centered">OUR SELLERS ARE THE CREAM OF THE CROP</div>
    <div class="container-page-inner">
      <div class="text-h3 text-centered">
        We only let the best in. Higher-quality freelancers attract clients who are willing to pay for excellence. That's more bussiness for you.
      </div>
    </div>
    <div class="content-center">
      <div class="container-y flex-1">
        <div class="wrapper-icon-l">
          <img class="img-responsive img-circle" src="../../images/seller0.png"></img>
        </div>
        <div class="text-centered text-h2">TOM</div>
        <div class="text-centered text-p">web designer</div>
      </div>
      <div class="container-y flex-1">
        <div class="wrapper-icon-l">
          <img class="img-responsive img-circle" src="../../images/seller1.png"></img>
        </div>
        <div class="text-h2 text-centered">HELEN</div>
        <div class="text-p text-centered">photographer</div>
      </div>
      <div class="container-y flex-1">
        <div class="wrapper-icon-l">
          <img class="img-responsive img-circle" src="../../images/seller2.png"></img>
        </div>
      <div class="text-h2 text-centered">DAMON</div>
      <div class="text-p text-centered">copywriter</div>
      </div>
      <div class="container-y flex-1">
        <div class="wrapper-icon-l">
          <img class="img-responsive img-circle" src="../../images/seller3.png"></img>
        </div>
        <div class="text-h2 text-centered">LUISA</div>
        <div class="text-p text-centered">web developer</div>
      </div>
    </div>
  <div class="container-x flex-content-centered">
    <button type="button" class="btn btn-lg btn-blue btn-big" ng-click="isAuthenticated() ? go('/apply') : go('/register')">Apply to Join in less than a minute</button>
  </div>
  </div>
</div>
