<!-- Orders table -->
<table class="table table-l space-top-2x" id="table-my-orders">
  <thead class="bordered">
    <tr>
      <th>DESCRIPTION</th>
      <th>ORDER DATE</th>
      <th>DUE DATE</th>
      <th>AMOUNT</th>
    </tr>
  </thead>
  <tbody>
    <!-- Order row -->
    <tr>
      <!-- Description -->
      <td class="text-t text-grey" valign="middle">
        <a href="">3d Logo animation</a>
      </td>
      <!-- Order date -->
      <td class="text-t text-grey" valign="middle">7 Nov 14</td>
      <!-- Due date -->
      <td class="text-t text-grey" valign="middle">10 Nov 14</td>
      <!-- Amount -->
      <td class="text-t" valign="middle"><span>$30</span></td>
    </tr>
    <!-- Order row -->
    <tr>
      <!-- Description -->
      <td class="text-t text-grey" valign="middle">
        <a href="">3d Logo animation</a>
      </td>
      <!-- Order date -->
      <td class="text-t text-grey" valign="middle">7 Nov 14</td>
      <!-- Due date -->
      <td class="text-t text-grey" valign="middle">10 Nov 14</td>
      <!-- Amount -->
      <td class="text-t" valign="middle"><span>$30</span></td>
    </tr>
    <!-- Order row -->
    <tr>
      <!-- Description -->
      <td class="text-t text-grey" valign="middle">
        <a href="">3d Logo animation</a>
      </td>
      <!-- Order date -->
      <td class="text-t text-grey" valign="middle">7 Nov 14</td>
      <!-- Due date -->
      <td class="text-t text-grey" valign="middle">10 Nov 14</td>
      <!-- Amount -->
      <td class="text-t" valign="middle"><span>$30</span></td>
    </tr>
    <!-- Order row -->
    <tr>
      <!-- Description -->
      <td class="text-t text-grey" valign="middle">
        <a href="">3d Logo animation</a>
      </td>
      <!-- Order date -->
      <td class="text-t text-grey" valign="middle">7 Nov 14</td>
      <!-- Due date -->
      <td class="text-t text-grey" valign="middle">10 Nov 14</td>
      <!-- Amount -->
      <td class="text-t" valign="middle"><span>$30</span></td>
    </tr>
    <!-- Order row -->
    <tr>
      <!-- Description -->
      <td class="text-t text-grey" valign="middle">
        <a href="">3d Logo animation</a>
      </td>
      <!-- Order date -->
      <td class="text-t text-grey" valign="middle">7 Nov 14</td>
      <!-- Due date -->
      <td class="text-t text-grey" valign="middle">10 Nov 14</td>
      <!-- Amount -->
      <td class="text-t" valign="middle"><span>$30</span></td>
    </tr>
    <!-- Order row -->
    <tr>
      <!-- Description -->
      <td class="text-t text-grey" valign="middle">
        <a href="">3d Logo animation</a>
      </td>
      <!-- Order date -->
      <td class="text-t text-grey" valign="middle">7 Nov 14</td>
      <!-- Due date -->
      <td class="text-t text-grey" valign="middle">10 Nov 14</td>
      <!-- Amount -->
      <td class="text-t" valign="middle"><span>$30</span></td>
    </tr>
  </tbody>
</table>
