<div ng-cloak class="container-y apply-content apply-service-config" ng-controller="OfferConfigCtrl">
  <div class="container-x">
    <!-- Navigate to myOffers Page -->
    <a class="btn btn-link text-p" ng-click="goToStep(2)">
      <span class="space-after">&lt;&lt;</span>
      <span>Back to service catalogue</span>
    </a>
  </div>
  <!-- Service Thumbnail -->
  <div class="container-x">
    <div class="wrapper-img">
      <img ng-if="service.thumbnail.link" ng-src="{{service.thumbnail.link}}" class="img-responsive">
    </div>
    <div class="wrapper-title text-h2">{{ service.title }}</div>
  </div>
  <div class="panel-group" ng-model="panels.activePanel" startCollapsed="false" animation="am-slide-top" bs-collapse role="tablist" aria-multiselectable="true">
    <div ng-repeat="panel in panels">
      <div ng-class="{'panel':true, 'panel-success': panel.state === 'done', 'panel-default': panel.state === 'default'}">
        <div class="panel-heading container-x flex-content-spread">
          <div class="panel-title">
            <a bs-collapse-toggle ng-click=" panel.state === 'done' && $index !== panels.activePanel && setPanelState(panel, 'default')">
              <span class="text-blue" ng-show="$index !== panels.activePanel">+</span>
              <span class="text-blue icon-collapse" ng-show="$index === panels.activePanel">-</span>
              {{ panel.title }}
            </a>
          </div>
          <svg ng-if="panel.state === 'done'" class="icon icon-green text-p">
            <use xlink:href="#tick"></use>
          </svg>
        </div>
        <div class="panel-collapse" bs-collapse-target>
          <div class="panel-body" ng-switch on="panels.activePanel">
            <!-- Service Description Panel -->
            <div ng-switch-when="0">
              <div ng-include="'views/partials/editOffer/serviceDescription.html'"></div>
            </div>
            <!-- Work Samples Panel -->
            <div ng-switch-when="1">
              <!-- Owned Work Samples -->
              <div ng-if="activeWorkSamples === 'owned'" ng-include="'views/partials/editOffer/ownedWorkSamples.html'"></div>
              <!-- Imported Work Samples -->
              <div ng-if="activeWorkSamples === 'imported'" ng-include="'views/partials/editOffer/importedWorkSamples.html'"></div>
            </div>
            <!-- Personalize Offer Panel -->
            <div ng-switch-when="2">
              <div ng-include="'views/partials/editOffer/personalizeOffer.html'"></div>
            </div>
            <!-- Offer Pricing Panel -->
            <div ng-switch-when="3" class="pricing">
              <div ng-include="'views/partials/editOffer/offerPricing.html'"></div>
            </div>
          </div>
        </div>
      </div>
      <div ng-if="panels.activePanel === $index && !($index === 1 && activeWorkSamples === 'imported')" class="wrapper-btn-done flex-content-end">
        <button class="button btn btn-blue" ng-click="closePanel(panel)">
          <span ng-if="panels.activePanel === 0">I got it</span>
          <span ng-if="panels.activePanel > 0" ng-disabled="uploadInProgress">Save</span>
        </button>
      </div>
      <div ng-if="$index === 1 && activeWorkSamples === 'imported'" class="wrapper-btn-done flex-content-end">
        <button class="button btn btn-blue" ng-click="saveImportedPortfolios()" ng-disabled="saveImportedDataInProgress">
          <div class="container-x flex-content-centered">
            <span ng-if="panels.activePanel > 0">Save</span>
            <div class="wrapper-loader space-left" ng-show="saveImportedDataInProgress">
              <div class="loader"></div>
            </div>
          </div>
        </button>
      </div>
    </div>
  </div>
</div>
