<div class="container-y apply-content apply-service-config" ng-controller="OfferConfigCtrl">
  <div class="container-x">
    <button class="btn btn-link text-p" ng-click="goToStep(2)">
      <i class="fa fa-angle-double-left"></i>
      <span>Back to service catalogue</span>
    </button>
  </div>
  <div class="panel-group" ng-model="panels.activePanel" startCollapsed="false" animation="am-slide-top" bs-collapse>
    <div ng-repeat="panel in panels">
      <div ng-class="{'panel':true, 'panel-success': panel.state === 'done', 'panel-default': panel.state === 'default'}">
        <div class="panel-heading container-x flex-content-spread">
          <div class="panel-title">
            <a bs-collapse-toggle ng-click=" panel.state === 'done' && $index !== panels.activePanel && setPanelState(panel, 'default')">
              <span class="text-blue" ng-show="$index !== panels.activePanel">+</span>
              <span class="text-blue" ng-show="$index === panels.activePanel">-</span>
              {{ panel.title }}
            </a>
          </div>
          <i ng-if="panel.state === 'done'" class="icon-check fa-check"></i>
        </div>
        <div class="panel-collapse" bs-collapse-target>
          <div class="panel-body" ng-switch on="panels.activePanel">
            <!-- Service Description -->
            <div ng-switch-when="0">
              <div class="service-description" ng-bind-html="service.Description"></div>
            </div>
            <!-- Work Samples -->
            <div ng-switch-when="1">
              <div class="wrapper-icons">
                <div class="container-y" ng-file-select="onFileSelect($files)" data-multiple="true">
                  <div class="import-link bg-grey-dark text-white">
                    <i class="fa fa-cloud-upload"></i>
                  </div>
                  <div class="label-import-link">Upload</div>
                </div>
                <!-- divider -->
                <div class="import-link"></div>
                <div class="container-y" ng-click="showEmbedUrlModal()">
                  <div class="import-link bg-grey-dark text-white embed">@</div>
                  <div class="label-import-link">Embed Url</div>
                </div>
              </div>
              <div class="showcase-msg" ng-show="showcaseItems.length > 0">
                Click to select samples you want to showcase. You can also reorder them. The first one will be used as cover image.
              </div>
              <!-- Showcase -->
              <div class="flex-wrap">
                <div class="showcase" ng-repeat="item in showcaseItems">
                  <div ng-class="{'showcase-item': true, 'progress': item.state === 'loading'}"
                       ng-click="toggleSelection(item)"
                       fv-bg-image={{item.link}}
                       fv-data={{item.link}}
                       fv-draggable="item.state !== 'loading'"
                       fv-drop-class="drag-over"
                       fv-on-drop="rearangeShowcaseItems"
                       fv-droppable>
                    <!-- Spinner -->
                    <div class="wrapper-loader" ng-show="item.state === 'loading'">
                      <div class="loader"></div>
                    </div>
                    <!-- Overlay: selected -->
                    <div class="showcase-overlay selected" ng-show="item.state === 'selected'">
                      <i class="icon-check fa fa-check"></i>
                    </div>
                    <!-- Overlay: drag-over -->
                    <div class="showcase-overlay"></div>
                  </div>
                  <div class="caption">{{item.name}}</div>
                </div>
              </div>
            </div>
            <!-- Personalize -->
            <div ng-switch-when="2">
              <div class="container-x text-p-bold">
                Introduce yourself to potential Buyers
                <span class="optional-header-part" ng-if="service.interview === 'optional'">(strongly reccomended)</span>
              </div>
              <div class="wrapper-icons" ng-show="!panels[2].textonly">
                <div class="container-y flex-content-centered" ng-click="showCameraTagModal()">
                  <div class="import-link bg-grey-dark text-white">
                    <i class="fa fa-video-camera"></i>
                  </div>
                  <div class="label-import-link">Upload or record a video from your webcam or phone</div>
                </div>
              </div>
              <!-- Description -->
              <div ng-show="!panels[2].textonly">
                <div class="text-p">A picture is 1000 words and a video is 1000 pictures. In a minute, video tells Buyers why the should buy  from you.</div>
                <p class="text-p">In your recording, try to give short sharp answers within 1 minute to the following:</p>
              </div>
              <div class="text-p-bold" ng-if="service.interview === 'optional' || service.interview === 'recommended'" ng-bind-html="service.questions"></div>
              <!-- Switch textonly state -->
              <div class="text-p">You will be able to view the video at the end of the recoring if you want.</div>
              <button class="btn no-padding btn-link text-p" ng-click="toggleTextOnly()">
                <span ng-show="!panels[2].textonly">Switch to text instead</span>
                <div ng-show="panels[2].textonly">
                  <i class="fa fa-video-camera"></i>
                  <span >Record a video and increase your chances to be approved</span>
                </div>
              </button>
              <!-- Textonly answers -->
              <div>
                <textarea class="extra-offer" placeholder="Type your answers here" ng-show="panels[2].textonly"></textarea>
              </div>
              <!-- Extra offerings -->
              <p class="text-p-bold">Do you offer anything extra as part of this service?</p>
              <textarea class="extra-offer"></textarea>
            </div>
            <!-- Pricing -->
            <div ng-switch-when="3" class="pricing">
              <!-- Price Discriminator Choices > 1 -->
              <div ng-if="service.ServiceOptions.length > 1">
                <div class="container-x">
                  <div class="text-p-bold">Set your price and deadline for the following service configurations</div>
                  <div class="optional-header-part text-i text-grey">(leave blank if you don't want to offer a particular one)</div>
                </div>
                <div class="wrapper-disc">
                  <form name="PriceDiscriminatorForm" role="form">
                    <div class="container-y">
                      <div ng-repeat="choice in offer.choices">
                        <div ng-form class="form-group" name="innerForm" ng-if="choice.isPriceDiscriminator && !choice.isOptional">
                          <div class="container-x">
                            <div class="container-x wrapper-half">
                              <div class="choice-name">{{ choice.name }}</div>
                              <div class="flex-1">
                                <div class="separator-text">$</div>
                                <div class="wrapper-price">
                                  <input type="number" fv-dynamic-name=$index class="form-control input-s" ng-model="choice.price" placeholder="0" ng-required="true"></input>
                                </div>
                                <div class="separator-text text-grey">in</div>
                                <button type="button" class="btn btn-default text-p-bold btn-small select-deadline"
                                        ng-model="choice.value" data-html="1" ng-options="deadline for deadline in deadlines" placeholder="1 day" bs-select></button>
                              </div>
                            </div>
                            <div class="flex-shrink-10"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <!-- Price Discriminator Choices === 1 -->
              <div ng-if="service.ServiceOptions.length > 0">
                <div class="text-p-bold">Set your price and deadline for this service</div>
                <div class="wrapper-disc">
                  <form name="PriceDiscriminatorForm" role="form">
                    <div class="container-x">
                      <div class="container-x wrapper-half">
                        <div class="flex-1">
                          <div class="text-m text-light flex-content-centered separator-text-l">$</div>
                          <input type="number" name="inoutPrice" class="form-control input-s input-price" ng-model="offer.choices[0].price" placeholder="0" ng-required="true"></input>
                          <div class="separator-text text-grey">to be delivered in</div>
                          <button type="button" class="btn btn-default text-p-bold btn-small select-deadline"
                                  ng-model="offer.choices[0].value" data-html="1" ng-options="deadline for deadline in deadlines" placeholder="1 day" bs-select></button>
                        </div>
                      </div>
                      <div class="flex-shrink-10"></div>
                    </div>
                  </form>
                </div>
              </div>
              <!-- Price Addons -->
              <div ng-if="hasAddons()">
                <div class="container-x flex-wrap">
                  <div class="text-p-bold">Set the extra price you charge and the extra time you need for the following add-ons</div>
                  <div class="optional-header-part text-i text-grey">(leave blank if you don't want to offer a particular one)</div>
                </div>
                <div class="wrapper-disc">
                  <form name="OfferAddonsForm" role="form">
                    <div class="container-y">
                      <div ng-repeat="choice in offer.choices">
                        <div ng-form class="form-group" name="innerForm" ng-if="choice.isPriceDiscriminator && choice.isOptional">
                          <div class="container-x">
                            <div class="container-x wrapper-half">
                              <div class="choice-name">{{ choice.name }}</div>
                              <div class="flex-2">
                                <div class="container-x">
                                  <div class="separator-text-l">extra</div>
                                  <div class="separator-text">$</div>
                                </div>
                                <div class="wrapper-price">
                                  <input type="number" fv-dynamic-name=$index class="form-control input-s input-price" ng-model="choice.price" placeholder="0" ng-required="true"></input>
                                </div>
                                <div class="separator-text text-grey">in</div>
                                <button type="button" class="btn btn-default text-p-bold btn-small select-deadline"
                                      ng-model="choice.value" data-html="1" ng-options="deadline for deadline in extraDeadlines" placeholder="1 extra day" bs-select></button>
                              </div>
                            </div>
                            <div class="flex-shrink-10"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div ng-if="panels.activePanel === $index" class="wrapper-btn-done flex-content-end">
        <button class="button btn btn-blue" ng-click="closePanel(panel)">
          <span ng-if="panels.activePanel === 0">I got it</span>
          <span ng-if="panels.activePanel > 0">Done</span>
        </button>
      </div>
    </div>
  </div>
</div>
