<div class="container-y apply-content apply-service-config" ng-controller="ServiceConfigCtrl">
  <div class="container-x">
    <button class="btn btn-link text-p" ng-click="goToStep(2)">
      <i class="fa fa-angle-double-left"></i>
      <span>Back to service catalogue</span>
    </button>
  </div>
  <div class="panel-group" ng-model="panels.activePanel" startCollapsed="false" animation="am-slide-top" bs-collapse>
    <div ng-repeat="panel in panels">
      <div ng-class="{'panel':true, 'panel-success': panel.state === 'done', 'panel-default': panel.state === 'default'}">
        <div class="panel-heading container-x flex-content-spread">
          <div class="panel-title">
            <a bs-collapse-toggle ng-click=" panel.state === 'done' && $index !== panels.activePanel && setPanelState(panel, 'default')">
              <span class="text-blue" ng-show="$index !== panels.activePanel">+</span>
              <span class="text-blue" ng-show="$index === panels.activePanel">-</span>
              {{ panel.title }}
            </a>
          </div>
          <i ng-if="panel.state === 'done'" class="icon-check fa-check"></i>
        </div>
        <div class="panel-collapse" bs-collapse-target>
          <div class="panel-body" ng-switch on="panels.activePanel">
            <!-- Service Description -->
            <div ng-switch-when="0">
              <div class="service-description" ng-bind-html="service.Description"></div>
            </div>
            <!-- Work Samples -->
            <div ng-switch-when="1">
              <div class="wrapper-icons">
                <div class="container-y" ng-file-select="onFileSelect($files)" data-multiple="true">
                  <div class="import-link bg-grey-dark text-white">
                    <i class="fa fa-cloud-upload"></i>
                  </div>
                  <div class="label-import-link">Upload</div>
                </div>
                <!-- divider -->
                <div class="import-link"></div>
                <div class="container-y" ng-click="showEmbedUrlModal()">
                  <div class="import-link bg-grey-dark text-white embed">@</div>
                  <div class="label-import-link">Embed Url</div>
                </div>
              </div>
              <div class="text-p">
                Click to select samples you want to showcase. You can also reorder them. The first one will be used as cover image.
              </div>
              <!-- Showcase -->
              <div class="flex-wrap">
                <div></div>
              </div>
            </div>
            <!-- Personalize -->
            <div ng-switch-when="2">
              three
            </div>
            <!-- Pricing -->
            <div ng-switch-when="3">
              four
            </div>
          </div>
        </div>
      </div>
      <div ng-if="panels.activePanel === $index" class="wrapper-btn-done flex-content-end">
        <button class="button btn btn-blue" ng-click="closePanel(panel)">
          <span ng-if="panels.activePanel === 0">I got it</span>
          <span ng-if="panels.activePanel > 0">Done</span>
        </button>
      </div>
    </div>
  </div>
</div>
