<!-- Transactions table -->
<table class="table table-l space-top-2x" id="table-transactions">
  <thead class="bordered">
    <tr>
      <th>DATE</th>
      <th>TRANSACTION</th>
      <th>AMOUNT</th>
    </tr>
  </thead>
  <tbody>
    <!-- Transaction row -->
    <tr>
      <!-- Transaction date -->
      <td class="text-t text-grey" valign="middle">7 Nov 14</td>
      <!-- Transaction description -->
      <td class="text-t" valign="middle">
        <span>Payment to</span>
        <a href="">Seller1</a>
        <span>for</span>
        <a href="">3D logo animation</a>
      </td>
      <!-- Amount -->
      <td class="text-t" valign="middle"><span>$30</span></td>
    </tr>
    <!-- Transaction row -->
    <tr>
      <!-- Transaction date -->
      <td class="text-t text-grey" valign="middle">7 Nov 14</td>
      <!-- Transaction description -->
      <td class="text-t" valign="middle">
        <span>Payment to</span>
        <a href="">Seller1</a>
        <span>for</span>
        <a href="">3D logo animation</a>
      </td>
      <!-- Amount -->
      <td class="text-t" valign="middle">
        <span>$30</span>
        <a href="">View Invoice (PDF)</a>
      </td>
    </tr>
    <!-- Transaction row -->
    <tr>
      <!-- Transaction date -->
      <td class="text-t text-grey" valign="middle">8 Nov 14</td>
      <!-- Transaction description -->
      <td class="text-t" valign="middle">
        <span>Payment to</span>
        <a href="">Seller1</a>
        <span>for</span>
        <a href="">3D logo animation</a>
      </td>
      <!-- Amount -->
      <td class="text-t" valign="middle">
        <span>$30</span>
        <a href="">View Invoice (PDF)</a>
      </td>
    </tr>
    <!-- Transaction row -->
    <tr>
      <!-- Transaction date -->
      <td class="text-t text-grey" valign="middle">8 Nov 14</td>
      <!-- Transaction description -->
      <td class="text-t" valign="middle">
        <span>Payment to</span>
        <a href="">Seller1</a>
        <span>for</span>
        <a href="">3D logo animation</a>
      </td>
      <!-- Amount -->
      <td class="text-t" valign="middle">
        <span>$30</span>
        <a href="">View Invoice (PDF)</a>
      </td>
    </tr>
    <!-- Transaction row -->
    <tr>
      <!-- Transaction date -->
      <td class="text-t text-grey" valign="middle">8 Nov 14</td>
      <!-- Transaction description -->
      <td class="text-t" valign="middle">
        <span>Payment to</span>
        <a href="">Seller1</a>
        <span>for</span>
        <a href="">3D logo animation</a>
      </td>
      <!-- Amount -->
      <td class="text-t" valign="middle">
        <span>$30</span>
        <a href="">View Invoice (PDF)</a>
      </td>
    </tr>
    <!-- Transaction row -->
    <tr>
      <!-- Transaction date -->
      <td class="text-t text-grey" valign="middle">8 Nov 14</td>
      <!-- Transaction description -->
      <td class="text-t" valign="middle">
        <span>Payment to</span>
        <a href="">Seller1</a>
        <span>for</span>
        <a href="">3D logo animation</a>
      </td>
      <!-- Amount -->
      <td class="text-t" valign="middle">
        <span>$30</span>
        <a href="">View Invoice (PDF)</a>
      </td>
    </tr>
  </tbody>
</table>
