.apply {
  margin-bottom: 150px;

  .apply-header {
    .text-centered;
    .text-h1;
    max-width: 989px;
    margin: 0 auto;
    @media screen and (max-width: 1600px) {
      .text-h2;
    }
    @media screen and (min-width: 1600px) {
      font-size: 34px;
    }
  }

  .apply-content {
    margin-top: 35px;
  }

  .apply-footer {
    .container-x;
    .flex-content-centered;
  }

  // Bootstrap override
  .form-horizontal .control-label {
    padding-top: 0px;
  }

  .content-center {
    padding: 55px 0 65px;
  }

  .providers-form-wrapper {
    padding-top: 20px;
  }

  .action-icon {
    .wrapper-round;
    .flex-content-centered;
    align-items: center;
    cursor: pointer;
    width: 37px;
    height: 37px;
    &.remove {
      border: 1px solid @redError;
      color: @redError;
      &:hover {
        background-color: @redError;
        color: white;
      }
    }
    &.edit {
      border: 1px solid @defaultBlue;
      color: @defaultBlue;
      &:hover {
        background-color: @defaultBlue;
        color: white;
      }
    }
  }

  .action-icon-wrapper {
    padding-left: 15px;
  }

  .spinner-icon {
    color: @defaultBlue;
    margin-left: 15px;
  }

  .form-group {
    .btn-save {
      min-height: 38px !important;
      width: 65px !important;
    }
    .btn {
      min-height: 38px !important;
    }
  }

  .input-provider {
    &:disabled {
      .bg-white;
      border: 1px solid @green;
    }
  }

  .wrapper-continue-1 {
    .flex-2;
    margin: 0 -15px;
    padding-top: 29px;
  }

  .wrapper-continue-2 {
    .flex-2;
    margin-right: -14px;
    padding-top: 29px;
  }

  .wrapper-profile {
    margin: 30px 0 15px;
  }

  .label-l {
    .flex-1;
    .text-h3;
    .flex-content-end;
    align-items: center;
    margin-right: 15px;
    &.label-bio {
      align-items: flex-start;
      margin-right: 0px;
      padding-top: 12px;
    }
  }

  .label-picture {
    margin-left: -10px;
  }

  .label-r {
    .text-p;
    .flex-content-start;
    align-items: center;
    margin-left: 15px;
  }

  .label-location {
    margin-left: -11px;
  }

  .input-info-url {
    max-width: 378px;
  }

  .textarea-wrapper {
    margin-left: 14px;
  }

  .textarea-info {
    min-width: 100%;
    min-height: 144px;
  }

  .location-wrapper {
    margin-right: -14px;
    margin-left: -4px;
    height: 48px;
  }

  .image-profile {
    .flex-content-centered;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    display: flex;

    &:hover {
      > div {
        display: block;
      }
    }

    div {
      .text-white;
      .text-h3;
      display: none;
      align-self: center;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, .7);
      cursor: pointer;
      width: calc(100% / 3);
      height: calc(100% / 3);
    }
  }

  .progress-bar {
    width: calc(200% / 3);
  }
}
