.apply {
  margin-bottom: 150px;

  .apply-header {
    .text-centered;
    max-width: 989px;
    margin: 0 auto;
    .text-h1;
    @media screen and (max-width: 1600px) {
      .text-h2;
    }
    @media screen and (min-width: 1600px) {
      font-size: 34px;
    }
  }

  .apply-content {
    margin-top: 35px;
  }

  .apply-footer {
    .container-x;
    .flex-content-centered;
  }

  // Bootstrap override
  .form-horizontal .control-label {
    padding-top: 0px;
  }

  .content-center {
    padding: 55px 0 65px;
  }

  .providers-form-wrapper {
    padding-top: 20px;
  }

  .action-icon {
    .wrapper-round;
    .flex-content-centered;
    align-items: center;
    cursor: pointer;
    padding-left: 15px;
  }

  .action-icon-wrapper {
    padding-left: 15px;
  }

  .spinner-icon {
    .text-grey-dark;
    .text-h3;
    margin-left: 15px;
  }

  .form-group {
    .btn-save {
      height: 38px;
      width: 65px;
    }
    .btn {
      height: 38px;
    }
  }

  .input-provider {
    &:disabled {
      .bg-white;
    }
  }

  .wrapper-continue-1 {
    .flex-2;
    margin: 0 -15px;
    padding-top: 29px;
  }

  .wrapper-continue-2 {
    .flex-2;
    margin-right: -14px;
    padding-top: 29px;
  }

  .wrapper-profile {
    margin: 30px 0 15px;
  }

  .label-l {
    .flex-1;
    .text-h3;
    .flex-content-end;
    font-family: OpenSansRegular;
    align-items: center;
    margin-right: 15px;
    &.label-bio {
      align-items: flex-start;
      margin-right: 0px;
      padding-top: 5px;
    }
  }

  .label-picture {
    margin-left: -10px;
  }

  .label-r {
    .text-p;
    .flex-content-start;
    align-items: center;
    margin-left: 15px;
  }

  .label-location {
    margin-left: -11px;
    padding-bottom: 10px;
  }

  .input-info-url {
    max-width: 378px;
  }

  .textarea-wrapper {
    margin-left: 14px;
  }

  .textarea-info {
    min-width: 100%;
    min-height: 144px;
  }

  .location-wrapper {
    margin-right: -14px;
    margin-left: -4px;
    height: 48px;
  }

  .progress-bar {
    width: calc(200% / 3);
  }


  // Page 3 - Service Selection
  // --------------------------
  .wrapper-search {
    align-items: center;
    margin-top: 45px;
    margin-bottom: 8px;
    .text-h3 {
      margin-right: 10px;
      font-family: OpenSansBold;
    }
  }

  // bootstrap override
  .nav-tabs {
    border: 0;
  }

  .nav-tabs > li > a {
    height: 25px;
    display: flex;
    align-items: center;
    &:hover {
      color: @blueDefault;
      border-color: transparent;
      background-color: white;
    }
  }

  .nav-tabs > li.active > a {
    color: white;
    background-color: @blueDefault;
    border-color: transparent;
    border-radius: 15px;
  }

  .wrapper-showmore {
    .container-x;
    .flex-content-centered;
    margin-bottom: 40px;
  }

  .thumbnail-grid {
    &.selected-services {
      justify-content: flex-start;
      margin-top: 0;
    }
  }

  // Page 3 - Service Configuration
  // ------------------------------

  .apply-service-config {

    .service-description {
      p {
        .text-p-bold;
      }
      li {
        .text-p;
      }
    }

    .wrapper-btn-done {
      margin: 20px 0 50px;
      > .btn {
        height: 40px;
        width: 128px;
      }
    }

    .wrapper-icons {
      .flex-content-centered;
      padding: 50px 0;
      font-size: .8em;
    }

    .embed {
      padding-bottom: 4px;
    }

    .label-import-link {
      .text-h3;
      .flex-content-centered;
    }
  }

  .extra-offer {
    height: 80px;
    width: calc(200% / 3px);
  }

  .optional-header-part {
    margin-left: 10px;
  }

  .separator-text {
    .text-m;
    .text-light;
    .flex-content-centered;
    flex-shrink: 0;
    margin: 0 15px;
  }

  .separator-text-l {
    .separator-text;
    margin: 0px 15px 0px 0px;
  }

  .select-deadline {
    min-width: 78px;
  }

  .wrapper-disc {
    padding: 30px 0;
  }

  .wrapper-price {
    min-width: 50px;
  }

  .input-price {
    width: 78px;
  }

  .panel {
    min-width: 332px;
  }

  .pricing {
    .optional-header-part {
      @media screen and (max-height: 768px) {
        margin-top: 2px;
      }
      @media screen and (min-height: 768px) {
        margin-top: 3px;
      }
    }
  }

  .choice-name {
    .text-p-bold;
    .flex-1;
    align-items: center;
  }
}
