// Landing page fullscreen backgrounds
// -------------------------
.bg0 {
  background-image: url(../../images/backgrounds/bg0.jpg);
}

.bg1 {
  background-image: url(../../images/backgrounds/bg1.jpg);
}

.bg2 {
  background-image: url(../../images/backgrounds/bg2.jpg);
}

.bg3 {
  background-image: url(../../images/backgrounds/bg3.jpg);
}

// Icons
// -------------------------

.icon-centered {
  background-position: 50% 50%;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  height: 100%;
}

.fa-centered {
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
}

.fa-centered:before {
  align-self: center;
}

.icon-linkedIn, .icon-behance {
  font-size: 38px;
}

.icon-odesk {
  /*  TODO add proper icon  */
  -webkit-filter: invert(100%);
  background-size: 70% 70%;
  background-image: url('../../fonts/odesk.svg');
  .wrapper-lightgrey & {
    -webkit-filter: invert(20%);
  }
  .selected & {
    -webkit-filter: none;
  }
}

.icon-elance {
  /*  TODO add a proper icon  */
  font-size: calc(40 / 48em);
  line-height: 75px;
  text-align: center;
  font-weight: 700;
  padding-top: 2px;
}

.icon-dribbble {
  padding-top: 4px;
}

.icon-freelancer {
  /*  TODO add a proper icon  */
  background-image: url('../../images/icons/freelancer-logo.svg');
  .wrapper-lightgrey & {
    opacity: .4;
  }
}

.icon-pph {
  .wrapper-round;
  position: absolute;
  border: 4px solid black;
  width: 56%;
  height: 56%;
  top: 22%;
  left: 22%;
  -mox-box-shadow: 0 0 2px black;
  -webkit-box-shadow: 0 0 2px black;
  box-shadow: 0 0 2px black;
  .wrapper-lightgrey & {
    border: 4px solid @lightGrey;
    -mox-box-shadow: 0 0 2px @lightGrey;
    -webkit-box-shadow: 0 0 2px @lightGrey;
    box-shadow: 0 0 2px @lightGrey;
    .circle-s {
      background-color: @lightGrey;
    }
    .selected & {
      background-color: white;
      .circle-s {
        border: 1px solid @lightGrey;
        background-color: @lightGrey;
        -mox-box-shadow: 0 0 1px @lightGrey;
        -webkit-box-shadow: 0 0 1px @lightGrey;
        box-shadow: 0 0 1px @lightGrey;
      }
    }
  }
  .circle-s {
    border: 1px solide black;
    border-radius: 50%;
    background: black;
    position: absolute;
    width: 8px;
    height: 8px;
    top: 55%;
    -mox-box-shadow: 0 0 1px black;
    -webkit-box-shadow: 0 0 1px black;
    box-shadow: 0 0 1px black;

    .wrapper-lightgrey & {
      border: 1px solid @lightGrey;
      -mox-box-shadow: 0 0 1px @lightGrey;
      -webkit-box-shadow: 0 0 1px @lightGrey;
      box-shadow: 0 0 1px @lightGrey;
    }
  }
  .quarter-tl {
    position: absolute;
    top: 0px;
    height: 50%;
    width: 50%;
    .circle-s {
      left: 25%;
    }
  }
  .quarter-tr {
    position: absolute;
    top: 0px;
    right: 0;
    height: 50%;
    width: 50%;
    .circle-s {
      right: 25%;
    }
  }
}
