body, html {
  font-family: GothamMedium;
  @media screen and (max-height: 768px) {
    body {
      font-size: 38px;
    }
  }
  @media screen and (min-height: 768px) {
    body {
      font-size: 48px;
    }
  }
}

.text-centered {
  text-align: center;
}

// FontFace
// -------------------------
@font-face {
  font-family: 'GothamMedium';
  src: local('GothamMedium'),
    url('../../fonts/gotham-medium-webfont.svg') format(svg),
    url('../../fonts/gotham-medium-webfont.ttf') format(TrueType);
}

@font-face {
  font-family: 'GothamBold';
  src: local('GothamBold'),
    url('../../fonts/gotham-bold-webfont.svg') format(svg),
    url('../../fonts/gotham-bold-webfont.ttf') format(TrueType);
}

@font-face {
  font-family: 'OpenSansRegular';
  src: local('OpenSansRegular'),
    url('../../fonts/OpenSans-Regular-webfont.svg') format(svg),
    url('../../fonts/OpenSans-Regular.ttf') format(TrueType);
}

@font-face {
  font-family: 'OpenSansBold';
  src: local('OpenSansRegular'),
    url('../../fonts/OpenSans-Bold-webfont.svg') format(svg),
    url('../../fonts/OpenSans-Bold.ttf') format(TrueType);
}

@font-face {
  font-family: 'OpenSansLight';
  src: local('OpenSansLight'),
    url('../../fonts/OpenSans-Light-webfont.svg') format(svg),
    url('../../fonts/OpenSans-Light.ttf') format(TrueType);
}

// Size
// -------------------------
.text-h1 {
  font-size : 1em;
  line-height: calc(60 / 48em);
  margin-bottom: 4px;
}

.text-h2 {
  font-size: calc(24 / 48em);
  line-height: calc(26 / 24em);
}

.text-h3 {
  font-size: calc(18 / 48em);
  line-height: calc(26 / 18em);
  font-family: OpenSansRegular;
}

.text-m {
  font-size: calc(16 / 48em);
  line-height: calc(22 / 16em);
}

.text-m-os {
  .text-m;
  font-family: OpenSansRegular;
}

.text-p {
  font-size: calc(14 / 48em);
  line-size: calc(20 / 14em);
  font-family: OpenSansRegular;
}

.text-p-bold {
  font-size: calc(14 / 48em);
  line-size: calc(20 / 14em);
  font-family: OpenSansBold;
}

.text-t {
  font-size: calc(13 / 48em);
  line-height: calc(18 / 13em);
  font-family: OpenSansRegular;
}

.text-i {
  font-size: calc(12 / 48em);
  line-height: calc(18 / 13em);
  font-family: OpenSansRegular;
}

// Color
// -------------------------
.text-black {
  color: black;
}

.text-white {
  color: white !important;
}

.text-silver {
  color: silver;
}

.text-blue {
  color: @blueDefault;
}

.text-darkBlue {
  color: @blueActive;
}

.text-lightGrey {
  color: @lightGrey;
}

.text-grey {
  color: @grey;
}

.text-grey-dark {
  color: @greyDark;
}

.text-green {
  color: @green;
}

// Weight

.text-light {
  font-family: OpenSansLight;
}
.text-w-900 {
  font-weight: 900;
}

.text-w-800 {
  font-weight: 800;
}

.text-w-700 {
  font-weight: 700;
}

.text-w-400 {
  font-weight: 400;
}

.text-w-300 {
  font-weight: 300;
}
