body, html {
  font-family: 'Lato';
}

.text-centered {
  text-align: center;
}

// Color

.text-black {
  color: black;
}

.text-white {
  color: white;
}

.text-silver {
  color: silver;
}

// Weight
.text-w-900 {
  font-weight: 900;
}

.text-w-800 {
  font-weight: 800;
}

.text-w-700 {
  font-weight: 700;
}

.text-w-400 {
  font-weight: 400;
}

.text-w-300 {
  font-weight: 300;
}

// Size

.text-header-l {
  .text-w-900;
  font-size: 46px;
}

.text-header-m {
  .text-w-800;
  font-size: 32px;
}

.text-50 {
  font-size: 50px;
}

.text-20 {
  font-size: 20px;
}

.text-18 {
  font-size: 18px;
}

.text-16 {
  font-size: 16px;
}

.text-12 {
  font-size: 12px;
}
