.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/*
::-webkit-scrollbar {
display: none;
}
*/

.bg {
  height: 100%;
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-white {
  background-color: white;
}

.bg-darkblue {
  background-color: #303fd0;
}

.cover {
  position: absolute;
  left: 0;
  right: 0;
  min-height: 100%;
  display: flex;
}

.indicator {
  position: fixed;
  right: 40px;
  top: 50%;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.centered {
  .text-centered;
  margin: auto;
}

.logo {
  padding: 8px 0 0;
}

.degree:after {
  content: "\00b0";
}

.landing {
  // offset positioning due to pag navigation button of fv-slider
  &.container-page {
    position: absolute;
    bottom: 90px;
    .box {
      .flex-content-spread;
      min-height: 260px;
    }
  }

  .icons-import {
    .container-x;
    .flex-content-spread;
    padding: 90px 0;
  }
}

.description {
  .text-centered;
  .text-w-400;
  .text-18;
  line-height: 1.5em;
  padding: 5px 0 20px;
}

.content-center {
  .container-x;
  .flex-content-spread;
  padding: 60px 0;
}
