// Backgrounds
// -------------------------

.bg-grey95 {
  background-color: @grey95;
}

.bg-white {
  background-color: white;
}

.bg-grey-dark {
  background-color: @greyDark;
}

.bg-greyMed {
  background-color: @greyMed;
}

.bg-blue-default {
  color: white;
  background-color: @blueDefault;
}

// Margins
// -------------------------

.space-left {
  margin-left: 10px !important;
}

.space-left-2x {
  margin-left: 20px !important;
}

.space-left-05 {
  margin-left: 5px !important;
}

.space-right {
  margin-right: 10px !important;
}

.space-right-2x {
  margin-right: 20px !important;
}

.space-right-4x {
  margin-right: 40px !important;
}

.space-right-05 {
  margin-right: 5px !important;
}

.space-x {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.space-y {
  margin: 10px 0 !important;
}

.space-bottom {
  margin-bottom: 10px !important;
}

.space-bottom-0 {
  margin-bottom: 0 !important;
}

.space-bottom-05 {
  margin-bottom: 5px !important;
}

.space-bottom-2x {
  margin-bottom: 20px !important;
}

.space-top-bottom {
  margin: 10px 0 !important;
}

.space-top-bottom-2x {
  margin: 20px 0 !important;
}

.space-bottom-4x {
  margin-bottom: 40px !important;
}

.space-top {
  margin-top: 10px !important;
}

.space-top-05 {
  margin-top: 5px !important;
}

.space-top-2x {
  margin-top: 20px !important;
}

.space-top-4x {
  margin-top: 40px !important;
}

.no-margin {
  margin: 0 !important;
}

// Paddings
// -------------------------

.space-inner-bottom {
  padding-bottom: 10px;
}

// Borders
// -------------------------

.border-radius-standard {
  border-radius: 4px;
}

.round {
  border-radius: 50%;
}

.border-lightGrey {
  border-color: @lightGrey;
}

// Various
// -------------------------

.no-padding {
  padding: 0 !important;
}

.space-after:after {
  content: '\00a0';
}

.clickable {
  cursor: pointer;
}

.unclickable {
  cursor: default !important;
}

.fv-page-header {
  .text-centered;
  max-width: 989px;
  margin: 0 auto;
  .text-h1;
  @media screen and (max-width: 1600px) {
    .text-h2;
  }
  @media screen and (min-width: 1600px) {
    font-size: 34px;
  }
}

.transparent {
  opacity: 0;
  cursor: default;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
