// Backgrounds
// -------------------------

.bg-grey95 {
  background-color: @grey95;
}

.bg-white {
  background-color: white;
}

.bg-grey-dark {
  background-color: @greyDark;
}

.bg-blue-default {
  color: white;
  background-color: @blueDefault;
}

// Various
// -------------------------

.no-padding {
  padding: 0 !important;
}

.space-after:after {
  content: '\00a0';
}

.clickable {
  cursor: pointer;
}

.fv-page-header {
  .text-centered;
  max-width: 989px;
  margin: 0 auto;
  .text-h1;
  @media screen and (max-width: 1600px) {
    .text-h2;
  }
  @media screen and (min-width: 1600px) {
    font-size: 34px;
  }
}

.space-left {
  margin-left: 10px;
}

.space-top-bottom-2x {
  margin: 20px 0;
}
