.my-orders {
  .container-page {
    /* navbar space */
    padding-top: 88px;
  }

  .main-title {
    .text-h2;
    .ellipsis;
    padding: 35px 0;
  }

  .dropdown {
    .btn-default {
      .btn-flat;
      .text-t;
      .container-x;
      .flex-items-centered;
      .flex-content-spread;
      min-width: 180px;
    }
  }

  .table-l {
    thead {
      tr {
        td {
          font-size: 11px;
        }
      }
    }
    tbody {
      tr {
        td:last-child {
          a {
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }


  .wf-label {
    display: inline;
    border-radius: 4px;
    padding: 3px 3px 3px 2px;
    font-size: 75%;
    font-weight: bold;
    color: white;
    border-radius: .25em;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
  }

  .wf-label-new, .wf-label-delivered, .wf-label-completed {
    .label-success;
  }

  .wf-label-indiscussion {
    background-color: #777;
  }

  .wf-label-delayed, .wf-label-cancelled {
    .label-danger;
  }

  .wf-label-in-progress {
    .label-warning;
  }

}
