.reset-password {
  top: 160px;

  .header-wrap {
    font-family: GothamBold;
    font-size: .7em;
    margin-bottom: 13px;
  }

  .reg-form {
    margin: auto;

    .subtitle {
      margin-bottom: 57px;
    }

    .wrapper-inner {
      max-width: 313px;
      margin: auto;
    }
  }
}
