.fullscreen-y {
  height: 100%;
  min-height: 100%;
}

.fullscreen-x {
  width: 100%;
  margin: 0;
}

.fullscreen {
  height: 100%;
  min-height: 100%;
  width: 100%;
  margin: 0;
}

body, html {
  .fullscreen;
}

// CUSTOM FLEX CLASSES

.flex {
  display: flex;
}

.flex-1 {
  .flex;
  flex: 1;
}

.flex-2 {
  .flex;
  flex: 2;
}

.flex-centered {
  display: flex;
  align-self: center;
}

.flex-content-centered {
  .flex;
  justify-content: center;
  align-items: center;
}

.flex-content-spread {
  .flex;
  justify-content: space-between;
}

.flex-content-spread {
  .flex;
  justify-content: space-between;
}

.flex-content-end {
  .flex;
  justify-content: flex-end;
}

.flex-content-start {
  .flex;
  justify-content: flex-start;
}

// CONTAINERS
.container-x {
  display: flex;
  flex-direction: row;
}

.container-y {
  display: flex;
  flex-direction: column;
}

.container-page {
  .container-y;
  top: 0;
  align-content: space-between;
  width: 66.66666667%; // .col-md-8
  margin-left: 16.66666667%; // .col-sm-offset-2
  padding-top: 54px; // header bar height
}

.container-page-inner {
  width: 80%;
  margin: 0 auto;
}

// BOX CLASSES
.box-s {
  max-width: 276px;
}

// WRAPPER CLASSES
.wrapper-row {
  display: flex;
  justify-content: space-around;
  padding: 60px 40px 20px;
}

.wrapper-column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
}

.wrapper-round {
  padding: 0px;
  border-radius: 50%;
}

.wrapper-lightgrey {
  border: 1px solid @lightGrey;
  -webkit-box-shadow: 0 0 2px @lightGrey;
  -mox-box-shadow: 0 0 2px @lightGrey;
  box-shadow: 0 0 2px @lightGrey;
  > div, i, span {
    color: @lightGrey;
  }
  .selected & {
    background-color: @lightGrey;
    > div, i, span {
      color: white;
    }
  }
}

.wrapper-black {
  -webkit-box-shadow: 0 0 2px white;
  -mox-box-shadow: 0 0 2px white;
  box-shadow: 0 0 2px white;
  > div, i, span {
    color: black;
  }
}

.wrapper-darkGrey {
  border: 1px solid @darkGrey;
  -mox-box-shadow: 0 0 1px @darkGrey;
  -webkit-box-shadow: 0 0 1px @darkGrey;
  box-shadow: 0 0 1px @darkGrey;
}
