// Color Palette
// -------------------------
@darkBlue:          #303fd0;
@darkSlateBlue:     #5962c9;

// Other Colors
// -------------------------
@fbBlue:            #3b5999;
@fbLightBlue:       #eeeff4;
