// Color Palette
// ---------------------------------------

// Blue
// ---------------------------------------
@blueDefault:                     #2f40d1;
@blueActive:                      #1a2bb5;
@blueFb:                          #3c4eaa;
@blueFbHover:                     #2e409a;
@blueLi:                          #2289c4;
@blueLiHover:                     #187ab1;
@blueBehance:      rgba(0, 121, 254, 255);
@blueElance:        rgba(0, 96, 159, 255);
@blueFreelancer: rgba(108, 192, 229, 255);
@blueSpinner:                     #0050e2;
@blueFileDoc:                     #008AFF;


// Purple
// --------------------------------------
@purpleLight:                     #a088f2;
@purpleDark:                      #58539e;
@purpleFileDefault:               #B557C3;

// Grey
// --------------------------------------
@greyDark:          rgba(66, 66, 66, 255);
@greyDarker:        rgba(51, 51, 51, 255);
@greyBlack:         rgba(49, 49, 49, 255);
@grey:           rgba(128, 128, 128, 255);
@grey80:         rgba(204, 204, 204, 255);
@lightGrey:      rgba(213, 213, 213, 255);
@greyBorder:     rgba(219, 219, 219, 255);
@greyMed:        rgba(232, 236, 240, 255);
@grey95:         rgba(242, 242, 242, 255);

// Red
// --------------------------------------
@red:              rgba(243, 57, 79, 255);
@redError:                        #fa556e;
@redFilePdf:                      #E53729;

// Yellow
// --------------------------------------
@yellow:                          #f9c90f;
@yellowLight:    rgba(255, 251, 232, 255);
@gold:            rgba(239, 171, 57, 255);
@yellowFileRtf:                   #FAC90F;

// Green
// --------------------------------------
@green:            rgba(2, 196, 102, 255);
@greenLight:       rgba(0, 187, 103, 255);
@greenOdesk:      rgba(112, 182, 57, 255);
@greenFileExcel:                  #2DB965;

// Orange
// --------------------------------------
@orangePph:       rgba(255, 107, 10, 255);
@orangeFilePpt:                   #F58220;

// Other Colors
// ---------------------------------------
@pink:            rgba(242, 64, 133, 255);
@blackMagenta:                    #20192e;


// z-index
// ---------------------------------------
@zindexMax:                            10;
