.workstream {
  .container-page {
    /* navbar space */
    padding-top: 88px;
  }

  .container-page-inner {
    width: 100%;
    max-width: 1140px;
  }

	ul {
		padding-left: 16px;
		&.list-unstyled {
			padding-left: 0;
		}
	}

  .avatar {
    .round;
    height: 42px;
    width: 42px;
  }

  .main-title {
    .text-h2;
    .ellipsis;
    padding: 35px 0;
  }

  .column-right {
    max-width: 288px;
    min-width: 288px;
    padding-left: 28px;
  }

  .warning-note {
    .border-radius-standard;
    .space-bottom-2x;
    background-color: @yellowLight;
  }

  .wrapper-file-img {
    .space-x;
    width: 30px;
	height: 30px;
	img {
		  height: 30px;
	  }
  }

  .img-download {
    width: 20px;
    height: 20px;
  }
}
