<div class="container-y workflow-message">
  <div class="container-x">
    <!-- Avatar column -->
    <div class="container-y">
      <img class="avatar space-top space-right" src="images/seller0.png">
    </div>
    <!-- Arrow head -->
    <div class="arrow-left"></div>
    <!-- Message panel -->
    <div class="flex-1 panel container-y">
      <!-- Message title -->
      <div class="message-title">Pending Order Requirements - Reminder</div>
      <!-- Message body -->
      <div class="text-i space-bottom">
        <span>Sometimes things get in the way, we understand. You placed an order on the </span>
        <span>{Date}</span>
        <span>but haven't sent</span>
        <span>{Seller}</span>
        the required information. To prevent cancellation of your order, please submit the information as soon as you can. Note that the delivery date for your order will be calculated from the time you supply the required information.
      </div>
    </div>
  </div>
  <div class="container-x flex-content-end">
    <div class="text-grey text-i">Nov 17, 2014</div>
  </div>
</div>
