<div class="container-y workflow-message">
  <div class="container-x">
    <!-- Avatar column -->
    <div class="container-y">
      <img class="avatar space-top space-right" src="images/seller0.png">
    </div>
    <!-- Arrow head -->
    <div class="arrow-left"></div>
    <!-- Message panel -->
    <div class="flex-1 panel container-y">
      <!-- Message title -->
      <div class="message-title">Delivery Approval Pending - Reminder</div>
      <!-- Message body -->
      <div class="text-i space-bottom">
        <span>{Seller}</span>
        <span>has delivered your order on
        <span>{Mon, 07 Nov 2014}</span>
        <span>
          , but you haven't reviewed the deliverables yet. Please take the time to review the work. If everything looks good, all you have to do is accept the work and we'll release the funds. If you're not happy with the quality of work, or if it's incomplete, you can reject the request. You will need to clearly state a reason for rejection.
        </span>
        <!-- Notice -->
        <div class="space-top">
          <span>IMPORTANT: If you are unable to accept or reject the Delivery Approval Request within the next 3 days, the delivery will be automatically approved on</span>
          <span>{Mon, 17 Nov 2015}</span>
          <span>and the funds will be released to</span>
          <span>{Seller}</span>
        </div>
      </div>
      <div class="text-p-bold space-top space-bottom">Expected Deliverables</div>
      <!-- Order requirements -->
      <ul class="text-t italic list-unstyled space-top-05 space-bottom-05">
        <!-- Repeat: requirement in requirements -->
        <li class="order-requirement">
          <img class="icon text-p" src="images/svg/tick.svg">
          <span>Your pre-existing high-resolution logo file in one of the following vector formats: .AI, .EPS, .PSD</span>
        </li>
        <li class="order-requirement">
          <img class="icon text-p" src="images/svg/tick.svg">
          <span>Website URL</span>
        </li>
        <li class="order-requirement">
          <img class="icon text-p" src="images/svg/tick.svg">
          <span>Examples of logo animations that you like, or any aesthetic style that you have in mind</span>
        </li>
        <li class="order-requirement">
          <img class="icon text-p" src="images/svg/tick.svg">
          <span>Any pre-existing guidelines for colour schemes in relation to your branding</span>
        </li>
        <li class="order-requirement">
          <img class="icon text-p" src="images/svg/tick.svg">
          <span>Brief description of your customers/target audience and any additional specific information regarding their buying habits</span>
        </li>
        <li class="order-requirement">
          <img class="icon text-p" src="images/svg/tick.svg">
          <span>Any ethical considerations that need to be raised</span>
        </li>
        <li class="order-requirement">
          <img class="icon text-p" src="images/svg/tick.svg">
          <span>Any aspects or elements you would like to include or avoid</span>
        </li>
      </ul>
      <div class="text-p-bold space-top">Work Delivered</div>
      <!-- Attachments -->
        <div class="attachments space-top-2x container-y text-i">
        <!-- Repeat 0-5 times -->
        <!-- attachment: doc file -->
        <div class="container-x flex-content-spread flex-items-centered">
          <div class="container-x">
            <div class="wrapper-file-img">
              <img class="img-responsive" src="images/svg/file-doc.svg">
            </div>
            <!-- Bind: file name -->
            <div class="container-x flex-items-centered">Documentation.doc</div>
          </div>
          <!-- Bind: file size -->
          <div class="container-x">
            <div class="space-right-05">
              <span>150</span>
              <span>KB</span>
            </div>
            <a class="space-left space-right-4x" href="" target="_blank">
              <img class="img-responsive img-download" src="images/svg/download.svg">
            </a>
          </div>
        </div>
        <div class="divider"></div>
        <!-- attachment: pdf file -->
        <div class="container-x flex-content-spread flex-items-centered">
          <div class="container-x">
            <div class="wrapper-file-img">
              <img class="img-responsive" src="images/svg/file-pdf.svg">
            </div>
            <!-- Bind: file name -->
            <div class="container-x flex-items-centered">Documentation.pdf</div>
          </div>
          <!-- Bind: file size -->
          <div class="container-x">
            <div class="space-right-05">
              <span>150</span>
              <span>KB</span>
            </div>
            <a class="space-left space-right-4x" href="" target="_blank">
              <img class="img-responsive img-download" src="images/svg/download.svg">
            </a>
          </div>
        </div>
        <div class="divider"></div>
        <!-- attachment: xls file -->
        <div class="container-x flex-content-spread flex-items-centered">
          <div class="container-x">
            <div class="wrapper-file-img">
              <img class="img-responsive" src="images/svg/file-excel.svg">
            </div>
            <!-- Bind: file name -->
            <div class="container-x flex-items-centered">Timesheet.xsl</div>
          </div>
          <!-- Bind: file size -->
          <div class="container-x">
            <div class="space-right-05">
              <span>150</span>
              <span>KB</span>
            </div>
            <a class="space-left space-right-4x" href="" target="_blank">
              <img class="img-responsive img-download" src="images/svg/download.svg">
            </a>
          </div>
        </div>
        <!-- Conditional class: last. Add on the last visible divider -->
        <div class="divider last"></div>
      </div>
      <!-- Actions -->
      <div class="container-x flex-content-end">
        <button class="btn btn-white btn-m text-i space-right-2x">Reject</button>
        <button class="btn btn-blue btn-m text-i space-left">Accept</button>
      </div>
    </div>
  </div>
  <div class="container-x flex-content-end">
    <div class="text-grey text-i">Nov 17, 2014</div>
  </div>
</div>
