<div class="container-y workflow-message">
  <div class="container-x">
    <!-- Avatar column -->
    <div class="container-y">
      <img class="avatar space-top space-right" src="images/seller0.png">
    </div>
    <!-- Arrow head -->
    <div class="arrow-left"></div>
    <!-- Message panel -->
    <div class="flex-1 panel container-y">
      <!-- Message title -->
      <div class="message-title">Order Delivery Pending</div>
      <!-- Message body -->
      <div class="text-i space-bottom">
        <span>We see that your order hasn't been delivered yet. We  suggest you to get in touch with the</span>
        <span>{Seller}</span>
        <span> as soon as possible to check if they need anything that prevents them from deliverying the order.</span>
      </div>
    </div>
  </div>
  <div class="container-x flex-content-end">
    <div class="text-grey text-i">Nov 17, 2014</div>
  </div>
</div>
