<div class="container-y workflow-message">
  <div class="container-x">
    <!-- Avatar column -->
    <div class="container-y">
      <!-- Systyem message "avatar" -->
      <img class="avatar space-top space-right" src="images/svg/system.svg">
    </div>
    <!-- Arrow head -->
    <div class="arrow-left"></div>
    <!-- Message panel -->
    <div class="flex-1 panel container-y">
      <!-- Message body -->
      <div class="text-i highlighted bg-grey95 italic space-bottom ">
        I had ordered the same gig 2 months ago, but unfortunately after showing suggestions to our users, they didn't like any one. So i am buying again and i hope this time to find smth that works. Based on the user feedback, we have to focus. 1. Our business is an amazon of digital services. Like fiverr but with productized services. 2. Amazon 3. The ideal name for me is digitalservices.com. But it's taken.
      </div>
      <!-- Attachments -->
      <div class="attachments container-y text-i">
        <!-- Repeat 0-5 times -->
        <!-- attachment: doc file -->
        <div class="container-x flex-content-spread flex-items-centered">
          <div class="container-x">
            <div class="wrapper-file-img">
              <img class="img-responsive" src="images/svg/file-doc.svg">
            </div>
            <!-- Bind: file name -->
            <div class="container-x flex-items-centered">Documentation.doc</div>
          </div>
          <!-- Bind: file size -->
          <div class="container-x flex-items-centered">
            <div class="space-right">
              <span>120</span>
              <span>KB</span>
            </div>
            <!-- Bind: file path -->
            <a class="space-left space-right-4x" href="" target="_blank">
              <img class="img-responsive img-download" src="images/svg/download.svg">
            </a>
          </div>
        </div>
        <div class="divider"></div>
        <!-- attachment: pdf file -->
        <div class="container-x flex-content-spread flex-items-centered">
          <div class="container-x">
            <div class="wrapper-file-img">
              <img class="img-responsive" src="images/svg/file-pdf.svg">
            </div>
            <!-- Bind: file name -->
            <div class="container-x flex-items-centered">Documentation.pdf</div>
          </div>
          <!-- Bind: file size -->
          <div class="container-x flex-items-centered">
            <div class="space-right">
              <span>150</span>
              <span>KB</span>
            </div>
            <!-- Bind: file path -->
            <a class="space-left space-right-4x" href="" target="_blank">
              <img class="img-responsive img-download" src="images/svg/download.svg">
            </a>
          </div>
        </div>
        <div class="divider"></div>
        <!-- attachment: xls file -->
        <div class="container-x flex-content-spread flex-items-centered">
          <div class="container-x">
            <div class="wrapper-file-img">
              <img class="img-responsive" src="images/svg/file-excel.svg">
            </div>
            <!-- Bind: file name -->
            <div class="container-x flex-items-centered">Timesheet.xsl</div>
          </div>
          <!-- Bind: file size -->
          <div class="container-x flex-items-centered">
            <div class="space-right">
              <span>120</span>
              <span>KB</span>
            </div>
            <!-- Bind: file path -->
            <a class="space-left space-right-4x" href="" target="_blank">
              <img class="img-responsive img-download" src="images/svg/download.svg">
            </a>
          </div>
        </div>
        <!-- Conditional class: last. Add on the last visible divider -->
        <div class="divider last"></div>
      </div>
    </div>
  </div>
  <div class="container-x flex-content-end">
    <div class="text-grey text-i">Nov 17, 2014</div>
  </div>
</div>
