<div class="container-y workflow-message">
  <div class="container-x">
    <!-- Avatar column -->
    <div class="container-y">
      <img class="avatar space-top space-right" src="images/seller0.png">
    </div>
    <!-- Arrow head -->
    <div class="arrow-left"></div>
    <!-- Message panel -->
    <div class="flex-1 panel container-y">
      <!-- Message title -->
      <div class="message-title">Order Details</div>
      <!-- Message body -->
      <div class="container-y">
        <!-- Order overview -->
        <div class="container-x flex-content-spread">
          <!-- bind Service logo -->
          <div class="container-x">
            <div class="thumbnail-s space-right">
              <img class="img-responsive" src="images/thumb.png">
            </div>
            <div class="container-y flex-content-spread">
              <!-- Bind: link to offer page -->
              <a class="text-p flex" href="">Blog post writing</a>
              <div class="container-x text-i">
                <span class="space-after">Seller:</span>
                <!-- Bind: seller name -->
                <span class="space-after">{katie S.}</span>
                <span class="space-after">|</span>
                <span class="space-after">Order:</span>
                <!-- Bind: orderID -->
                <span class="space-after">{#DGS345134}</span>
                <span class="space-after">|</span>
                <span class="space-after">Delivery in</span>
                <!-- Offer choice: day discriminator -->
                <span class="space-after">{5</span>
                <span>days}</span>
              </div>
            </div>
          </div>
          <!-- Bind: price -->
          <div class="text-h3 text-bold">$30</div>
        </div>
        <!-- Order details -->
        <div class="container-y text-i">
          <div class="container-x space-top-2x space-bottom-2x">
            <span class="space-after">Quantity:</span>
            <!-- Bind: quantity -->
            <span>3</span>
          </div>
          <div class="container-x">
            <!-- Bind: service option -->
            <div class="flex-1">500 words</div>
            <div class="flex-1">
              <!-- Bind: price discriminator -->
              <span class="space-after">$10</span>
              <span class="space-after">in</span>
              <!-- Bind: days discriminator -->
              <span class="space-after">2</span>
              <!-- If days > 1 -->
              <span>days</span>
              <!-- If days === 1 -->
              <!-- <span>day</span> -->
            </div>
          </div>
          <div class="divider space-y"></div>
          <div class="container-x">
            <!-- Bind: service option -->
            <div class="flex-1">Unlimited revisions</div>
            <div class="flex-1">
              <!-- Bind: price discriminator -->
              <span class="space-after">+$20</span>
              <span class="space-after">within</span>
              <!-- Bind: days discriminator -->
              <span class="space-after">2</span>
              <span>days</span>
            </div>
          </div>
          <div class="divider space-y"></div>
          <div class="container-x">
            <!-- Bind: service addon -->
            <div class="flex-1">1-day delivery (Express)</div>
            <!-- Bind: choice -->
            <div class="flex-1">+$30</div>
          </div>
          <div class="divider space-y"></div>
          <p>Thank you for your order. Your advance payment of {$50} will be held in escrow until the order is delivered. You can release it to {Seller} when you receive the work, if you're happy with the result.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container-x flex-content-end">
    <div class="text-grey text-i">Nov 17, 2014</div>
  </div>
</div>
