<div class="container-x space-bottom-2x">
  <button class="btn btn-link text-p" ng-click="toggleActiveWorkSamples()">
    <span class="space-after">&lt;&lt;</span>
    <span>Back to selected work samples</span>
  </button>
  <!--
<div  class="container-x" ng-show="saveImportedDataInProgress">
<div class="loader flex-items-centered space-right space-top-05"></div>
<div class="text-i flex-items-centered text-grey">Adding imported items to your offer...</div>
</div>
-->
</div>
<div class="container-y">
  <div class="text-p space-bottom space-x">Click to select imported samples you want to showcase as part of this service</div>
  <!-- Finished importers -->
  <div ng-repeat="importer in importersFinished" class="space-bottom">
    <div class="container-x flex-items-centered">
      <!-- This check has been added for cases where checkStatus Count and actualt fetched portfolios are inconsistent -->
      <svg  class="icon icon-green text-p space-left" ng-if="(importer | fetchedPortfoliosCount:importedPortfolios) > 0">
        <use xlink:href="#tick"></use>
      </svg>
      <svg class="icon icon-red-error text-i space-left" ng-if="(importer | fetchedPortfoliosCount:importedPortfolios) === 0">
        <use xlink:href="#close"></use>
      </svg>
      <div class="text-p-bold space-left">{{importer | getProviderName}}</div>
      <div class="text-p space-after"> - </div>
      <div class="text-p space-after">{{importer | fetchedPortfoliosCount:importedPortfolios}}</div>
      <div class="text-p space-after">portfolio items imported</div>
    </div>
  </div>
  <!-- Importers in progress-->
  <div ng-repeat="importer in importersInProgress" class="space-bottom progress-row">
    <div class="container-x flex-items-centered">
      <div class="loader"></div>
      <div class="text-p-bold space-left">{{importer | getProviderName}}</div>
      <div class="text-p space-after"> - </div>
      <div class="text-p space-after">{{importer | fetchedPortfoliosCount:importedPortfolios}}</div>
      <div class="text-p space-after">portfolio items imported</div>
    </div>
  </div>
  <!-- Failed importers -->
  <div ng-repeat="importer in importersFailed" class="space-bottom progress-row">
    <div class="container-x flex-items-centered">
      <svg class="icon icon-red-error text-i space-left">
        <use xlink:href="#close"></use>
      </svg>
      <div class="text-p-bold space-left">{{importer | getProviderName}}</div>
      <div class="text-p space-after"> - </div>
      <div class="text-p space-after">No portfolios could be imported presently.</div>
    </div>
  </div>
</div>
<!-- Accordeon: one tab for each importer that has at least one showcase item-->
<div ng-repeat="portfolio in importedPortfolios | hasShowcaseItems">
  <div class="panel-inner">
    <div class="text-p-bold">{{ portfolio.Provider }}</div>
    <!-- By default, show only 10 showcase items. toggleExpansion() toggles the expansion state. -->
    <button class="btn no-padding btn-link text-p" ng-click="toggleExpansion(portfolio)" ng-if="portfolio.data.length > 10">
      <span ng-if="portfoliosExpanded.indexOf(portfolio) === -1">+ Show all</span>
      <span ng-if="portfoliosExpanded.indexOf(portfolio) > -1">- Collapse</span>
    </button>
  </div>
  <!-- Imported Showcases -->
  <div class="flex-wrap">
    <div ng-repeat="item in portfoliosExpanded.indexOf(portfolio) === -1 ? portfolio.data.slice(0, 10) : portfolio.data">
      <div ng-include="'views/partials/editOffer/importedShowcase.html'"></div>
    </div>
  </div>
</div>
