<div class="apply box col-md-8 col-md-offset-2">
  <div class="box-title">FREELANCING REVOLUTIONIZED</div>
  <div class="box-description">
    XXX is where freelancing meets ecommerce. It's like your very own creative storefront, stocked with the services you want to sell. Open your store to see the new face of online work.
  </div>
  <div class="box-button-wrap">
    <button type="button" class="btn btn-lg btn-primary bg-darkblue" ng-click="go('/apply')">Apply to Join in less than a minute</button>
  </div>
</div>
