<div class="container-y">
<div class="register box col-md-6 col-md-offset-3">
  <div class="header-wrap">
    <div class="text-h1">LOGIN TO YOUR SERVICE BUCKET ACCOUNT</div>
  </div>
  <div class="content-wrap">
    <div class="social-btn-wrap">
      <div class="text-grey text-p">Sign in with an existing LinkedIn or Facebook Account</div>
      <button type="button" class="btn btn-blue btn-lg btn-big btn-li" ng-click="login('LinkedIn')">
        <svg class="icon icon-light text-p">
          <use xlink:href="#linkedIn"></use>
        </svg>
        <span>Sign in with LinkedIn</span>
      </button>
      <button type="button" class="btn btn-blue btn-lg btn-big btn-fb" ng-click="login('Facebook')">
        <svg class="icon icon-light text-p">
          <use xlink:href="#facebook"></use>
        </svg>
        <span>Sign in with Facebook</span>
      </button>
      <div class="text-grey text-i">Don't worry, we'll never post anything on your profile</div>
    </div>
    <!--inline divider-->
    <div class="divider text-p"><span>OR</span></div>
    <!--The actual login form-->
    <form name="loginForm" class="reg-form width-2-3" role="form" ng-submit="login()" autocomplete="on">
      <label class="label-title text-grey text-p">Sign in with an email account</label>
      <!-- email input -->
      <div class="form-group" ng-class="{'has-error': loginForm.inputEmail.$error.emailPattern && loginForm.inputEmail.$viewValue.length > 0}">
        <input type="email" name="inputEmail" class="form-control" ng-model="email"
               ui-validate="{emailPattern: 'isEmail($value)'}"
               ng-change="clearAuthError()"
               placeholder="Enter email"
               ng-required="true"
               autocomplete="on">
        <label ng-show="loginForm.inputEmail.$error.emailPattern && loginForm.inputEmail.$viewValue.length > 0" class="label-warn" for="inputEmail">
          Please include a '@' in the email address.
        </label>
      </div>
      <!-- password input -->
      <div class="form-group" ng-class="{'has-error': loginForm.inputPassword.$error.minlength}">
        <input type="password" name="inputPassword" class="form-control"
               ng-model="password"
               ng-change="clearAuthError()"
               ng-minlength="6"
               ui-validate="{digits: 'hasDigits($value)', lowercase: 'hasLowercase($value)', uppercase: 'hasUppercase($value)', alphanumeric: 'hasNonAlphanumeric($value)'}"
               placeholder="Password"
               ng-required="true"
               autocomplete="on">
        <label ng-show="loginForm.inputPassword.$error.minlength" class="label-warn" for="inputPassword">
          This field needs to be at least 6 characters long.
        </label>
        <label ng-show="loginForm.inputPassword.$error.digits && password.length > 0" class="text-start label-warn" for="inputPassword">
          The password must contain at least one digit.
        </label>
        <label ng-show="loginForm.inputPassword.$error.uppercase && password.length > 0" class="text-start label-warn" for="inputPassword">
          The password must contain at least one upper case character.
        </label>
        <label ng-show="loginForm.inputPassword.$error.lowercase && password.length > 0" class="text-start label-warn" for="inputPassword">
          The password must contain at least one lower case character.
        </label>
        <label ng-show="loginForm.inputPassword.$error.alphanumeric && password.length > 0" class="text-start label-warn" for="inputPassword">
          The password must contain at least one non-alphanumeric character.
        </label>
      </div>
      <!-- Options -->
      <div class="form-group container-x flex-items-centered flex-content-spread">
        <div class="container-x">
          <input type="checkbox" name="rememberMe" ng-model="rememberMe">
          <div class="space-left text-i text-grey">Remember me</div>
        </div>
        <a ng-click="go('/forgotPassword')" class="text-i">Forgot password?</a>
      </div>
      <label ng-show="authError" class="label-error text-start label-warn" for="inputPassword">{{authError}}</label>
      <div class="flex">
        <button type="submit" class="btn btn-blue btn-lg btn-big flex-1 flex-content-centered" ng-disabled="loginForm.$invalid || authError || loginInProgress">
          <span>Submit</span>
          <div class="wrapper-loader space-left" ng-show="loginInProgress">
            <div class="loader"></div>
          </div>
        </button>
      </div>
    </form>
    <div class="link-box text-grey text-p">Don't have an account?
      <span class="text-darkBlue" ng-click="go('/register')">Create one here.</span>
    </div>
  </div>
</div>
<div ng-include="'views/partials/footer.html'"></div>
</div>
