<div ng-controller="LoginCtrl" class="register box col-md-6 col-md-offset-3">
  <div class="header-wrap">
    <div class="text-h1">LOGIN TO YOUR SERVICE BUCKET ACCOUNT</div>
  </div>
  <div class="content-wrap">
    <div class="social-btn-wrap">
      <div class="text-grey text-p">Sign in with an existing LinkedIn or Facebook Account</div>
      <button type="button" class="btn btn-blue btn-lg btn-big btn-li" ng-click="loginLi()">
        <i class="fa fa-lg fa-linkedin"></i>
        <span>Sign in with LinkedIn</span>
      </button>
      <button type="button" class="btn btn-blue btn-lg btn-big btn-fb" ng-click="loginFb()">
        <i class="fa fa-lg fa-facebook"></i>
        <span>Sign in with Facebook</span>
      </button>
      <div class="text-grey text-i">Don't worry, we'll never post anything on your profile</div>
    </div>
    <!--inline divider-->
    <div class="divider text-p"><span>OR</span></div>
    <!--The actual login form-->
    <form name="loginForm" class="reg-form" role="form" ng-submit="login(newUser)">
      <label class="label-title text-grey text-p">Sign in with an email account</label>
      <!-- email input -->
      <div class="form-group" ng-class="{'has-error': loginForm.inputEmail.$error.email || authError.invalidEmail || authError.invalidUser}">
        <input type="email" name="inputEmail" class="form-control" ng-model="newUser.email" ng-change="clearAuthError()" placeholder="Enter email" ng-required="true" autocomplete="on">
        <label ng-show="loginForm.inputEmail.$error.email" class="label-warn" for="inputEmail">
          Please include a '@' in the email address.
        </label>
        <label ng-show="authError.invalidEmail && authError.invalidEmail === newUser.email" class="control-label label-s text-i" for="inputEmail">
          The specified email address is incorrect.
        </label>
        <label ng-show="authError.invalidUser && authError.invalidUser === newUser.email" class="control-label label-s text-i" for="inputEmail">
          The specified user does not exist.
        </label>
      </div>
      <!-- password input -->
      <div class="form-group" ng-class="{'has-error': loginForm.inputPassword.$error.minlength || authError.invalidPassword}">
          <input type="password" name="inputPassword" class="form-control" ng-model="newUser.password" ng-minlength="6" placeholder="Password" ng-required="true" autocomplete="on">
        <label ng-show="loginForm.inputPassword.$error.minlength" class="label-warn" for="inputPassword">
          This field needs to be at least 6 characters long.
        </label>
        <label ng-show="authError.invalidPassword && authError.invalidPassword === newUser.password" class="control-label label-s text-i" for="inputPassword">
          The specified password is incorrect.
        </label>
      </div>
      <button type="submit" class="btn btn-blue btn-lg btn-big" ng-disabled="loginForm.$invalid">Submit</button>
    </form>
    <div class="link-box text-grey text-p">Don't have an account?
      <span class="text-darkBlue" ng-click="go('/register')">Create one here.</span>
    </div>
  </div>
</div>
