<div class="offer container-page">
  <div class="container-page-inner flex-content-spread">
    <div class="container-left">
      <div class="fv-page-header">Bespoke Logo Design for only $100</div>
      <!-- Anchor navigation tabs -->
      <div class="fv-tabs" fv-tabs>
        <div class="fv-tab active" fv-pane>Overview</div>
        <a class="fv-tab" href="#info-header" offset="80" du-smooth-scroll fv-pane>The Seller</a>
        <a class="fv-tab" href="#description-header" offset="80" du-smooth-scroll fv-pane>Description</a>
        <a class="fv-tab" href="#reviews-header" offset="80" du-smooth-scroll fv-pane>Reviews</a>
      </div>
      <!-- Portfolio voiewer - ensure portfolio items have been fetched form the server before compilation -->
      <div ng-if="portfolio.items && portfolio.items.length > 0">
        <fv-portfolio-viewer></fv-portfolio-viewer>
      </div>
      <!-- User Info -->
      <div id="info-header" class="text-gotham text-h3">
        <span>About</span>
        <span>{{ user.firstName }}</span>
      </div>
      <div class="container-x clickable" ng-click="showContactModal()">
        <div class="wrapper-icon-video flex-content-centered">
          <svg class="icon icon-light text-p">
            <use xlink:href="#camera"></use>
          </svg>
        </div>
        <div class="flex-content-centered text-blue text-i">
          <span class="space-after">View</span>
          <span class="space-after">{{ user.firstName }}</span>
          <span>live!</span>
        </div>
      </div>
      <div class="info-description">
        <div>
          <p class="text-p-bold">
            <span class="space-after">{{ user.firstName }}</span>
            <span>'s Experience in Logo Design</span>
          </p>
          <p class="text-p">
            I have created more than 100 bespoke logos and I am sure I can adress any need you have and create a logo according to your taste.
          </p>
        </div>
        <div>
          <p class="text-p-bold">
            <span class="space-after">Why buy from</span>
            <span >{{ user.firstName }}</span>
          </p>
          <p class="text-p">
            You will get superb logo designs and I will also provide support and make any changes required for the next 6 months.
          </p>
        </div>
      </div>
      <!-- Service Description -->
      <div id="description-header" class="text-gotham text-h3">Service Description</div>
      <div class="service-description" ng-bind-html="service.Description"></div>
      <!-- Reviews -->
      <div>
        <div class="container-x">
          <div id="reviews-header" class="text-h3 text-gotham flex-1">Reviews</div>
        </div>
        <div class="review" ng-repeat="review in reviews" ng-class="{'last': $index === reviews.length - 1}">
          <div class="content container-x">
            <div class="wrapper-reviewer-img">
              <div class="reviewer-img">D</div>
            </div>
            <div class="container-y flex-1 flex-content-spread">
              <div class="container-x review-text">{{ review.text }}</div>
              <div class="container-x flex-content-spread">
                <div class="container-x">
                  <div class="icon-provider-xs"></div>
                  <div class="text-i text-lightGrey space-after">{{ review.reviewer.firstName }},</div>
                  <div class="text-i text-lightGrey">{{ review.timeAgo }}</div>
                </div>
                <div class="container-x text-p">
                  <!-- full stars -->
                  <div class="text-yellow" ng-repeat="star in range(review.rating)">
                    <span class="glyphicon glyphicon-star"></span>
                  </div>
                  <!-- empty stars -->
                  <div class="text-yellow" ng-repeat="star in range(5 - review.rating)">
                    <span class="glyphicon glyphicon-star-empty"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Show More -->
      <div class="container-x flex-content-centered">
        <div class="wrapper-showmore">
          <button class="btn btn-link text-p" >
            <span>Show more reviews</span>
          </button>
        </div>
      </div>
    </div>
    <div class="container-right">
      <fv-order-box offer={{offer}} class="wrapper-order-box"></fv-order-box>
    </div>
  </div>
</div>
<div ng-include="'views/partials/footer.html'"></div>
