<div class="container-page ">
  <div class="container-y container-page-inner">
    <!-- Reviews -->
    <div ng-if="reviews.length > 0">
      <!-- Divider -->
      <div class="container-x flex-content-centered">
        <div class="col-md-2 divider"></div>
      </div>
      <div class="container-x">
        <div id="reviews-header" class="text-h3 flex-content-centered flex-1">Reviews</div>
      </div>
      <div class="review" ng-repeat="review in reviews" ng-class="{'last': $index === reviews.length - 1}">
        <div class="content container-x">
          <div class="wrapper-reviewer-img">
            <div class="reviewer-img">D</div>
          </div>
          <div class="container-y flex-1 flex-content-spread">
            <div class="container-x review-text">{{ review.text }}</div>
            <div class="container-x flex-content-spread">
              <div class="container-x">
                <div class="icon-provider-xs"></div>
                <div class="text-i text-lightGrey space-after">{{ review.reviewer.firstName }},</div>
                <div class="text-i text-lightGrey">{{ review.timeAgo }}</div>
              </div>
              <div class="container-x text-p">
                <!-- full stars -->
                <div class="text-yellow" ng-repeat="star in range(review.rating)">
                  <i class="fa fa-star"></i>
                </div>
                <!-- empty stars -->
                <div class="text-yellow" ng-repeat="star in range(5 - review.rating)">
                  <i class="fa fa-star-o"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Reviews -->
    <div ng-if="profile.bio.length > 0">
      <!-- Divider -->
      <div class="container-x flex-content-centered">
        <div class="col-md-2 divider"></div>
      </div>
      <div class="container-x flex-content-centered">
        <div class="container-x flex-items-end">
          <div id="bio-header" class="text-h3">About me</div>
          <div class="text-blue text-p clickable" ng-click="editProfileSection('info')">
            <i class="fa fa-pencil"></i>
            Edit
          </div>
        </div>
      </div>
      <div class="bio">{{ profile.bio }}</div>
    </div>
  </div>
</div>
