<div class="offer container-page">
  <div class="container-page-inner">
    <div class="container-y flex-2">
      <div class="fv-page-header">Bespoke Logo Design for only $100</div>
      <!-- Anchor navigation tabs -->
      <div class="fv-tabs" fv-tabs>
        <div class="fv-tab active" fv-pane>Overview</div>
        <a class="fv-tab" href="#info-header" offset="80" du-smooth-scroll fv-pane>The Seller</a>
        <a class="fv-tab" href="#description-header" offset="80" du-smooth-scroll fv-pane>Description</a>
        <a class="fv-tab" href="#reviews-header" offset="80" du-smooth-scroll fv-pane>Reviews</a>
      </div>
      <div class="portfolio-viewer" ng-controller="PortfolioViewerCtrl">
        <!-- main carousel -->
        <div class="wrapper-showcase container-y">
          <!-- Slides -->
          <ul rn-carousel rn-carousel-index="showcaseIndex" class="viewer-top image">
            <li ng-repeat="item in portfolio.items">
              <div class="layer">
                <!-- If image -->
                 <img data-src="holder.js/100%x180" alt="100%x180" src="images/backgrounds/bg0.jpg">
                <!-- If PrizmView doc -->
<!--
                <div class="embed-responsive embed-responsive-4by3">
                  <iframe class="viewer embed-responsive-item"
                          allowfullscreen="true"
                          ng-src="{{ item.url | prizmUrl | trusted }}"
                          allowtransparency="true"></iframe>
                </div>
-->
              </div>
            </li>
          </ul>
          <!-- Navigation buttons -->
          <div class="wrapper-nav">
            <div class="container-x flex-content-spread">
              <div class="clickable" ng-class="{'invisible': showcaseIndex === 0}" ng-click="showcasePrev()">
                <i class="fa fa-chevron-left"></i>
              </div>
              <div class="clickable" ng-class="{'invisible': showcaseIndex === portfolio.items.length - 1}" ng-click="showcaseNext()">
                <i class="fa fa-chevron-right"></i>
              </div>
            </div>
          </div>
          <!-- Gallery -->
          <div class="gallery">
            <ul rn-carousel rn-carousel-index="galleryIndex" class="image">
              <li ng-repeat="item in portfolio.items" ng-click="goToShowcaseItem($index)">
                <div ng-class="{'layer': true, 'active': $index === showcaseIndex}">
                  <img data-src="holder.js/100%x180" alt="100%x180" src="images/thumb.jpg" class="img-responsive">
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- User Info -->
      <div id="info-header" class="text-gotham text-h3">
        <span>About</span>
        <span>{{ user.firstName }}</span>
      </div>
      <div class="container-x">
        <div class="wrapper-icon-video">
          <i class="fa-centered fa fa-camera"></i>
        </div>
        <div class="flex-content-centered text-blue text-i">
          <span class="space-after">View</span>
          <span class="space-after">{{ user.firstName }}</span>
          <span>live!</span>
        </div>
      </div>
      <!-- Service Description -->
      <div id="description-header" class="text-gotham text-h3">Service Description</div>
      <div class="service-description" ng-bind-html="service.Description"></div>
      <!-- Reviews -->
      <div>
        <div class="container-x">
          <div id="reviews-header" class="text-h3 text-gotham flex-1">Reviews</div>
        </div>
        <div class="review" ng-repeat="review in reviews" ng-class="{'last': $index === reviews.length - 1}">
          <div class="content container-x">
            <div class="wrapper-reviewer-img">
              <div class="reviewer-img">D</div>
            </div>
            <div class="container-y flex-1 flex-content-spread">
              <div class="container-x review-text">{{ review.text }}</div>
              <div class="container-x flex-content-spread">
                <div class="container-x">
                  <div class="icon-provider-xs"></div>
                  <div class="text-i text-lightGrey space-after">{{ review.reviewer.firstName }},</div>
                  <div class="text-i text-lightGrey">{{ review.timeAgo }}</div>
                </div>
                <div class="container-x text-p">
                  <!-- full stars -->
                  <div class="text-yellow" ng-repeat="star in range(review.rating)">
                    <i class="fa fa-star"></i>
                  </div>
                  <!-- empty stars -->
                  <div class="text-yellow" ng-repeat="star in range(5 - review.rating)">
                    <i class="fa fa-star-o"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Show More -->
      <div class="container-x flex-content-centered">
        <div class="wrapper-showmore">
          <button class="btn btn-link text-p" >
            <span>Show more reviews</span>
          </button>
        </div>
      </div>
    </div>
    <div class="container-x flex-1">
      <fv-order-box offer={{offer}} class="wrapper-order-box"></fv-order-box>
    </div>
  </div>
</div>
