<div ng-controller="LoginCtrl" class="apply box col-md-6 col-md-offset-3">
  <div class="header-wrap">
    <div class="text-header-m">APPLY TO JOIN OUR EXCLUSIVE COMMUNITY</div>
    <div class="text-header-m">OF HIGH-END FREELANCERS</div>
  </div>
  <div class="content-wrap">
    <div class="social-btn-wrap">
      <div class="text-silver text-16">Already have an account? <span class="link-box-darkblue" ng-click="go('/login')">Log in here.</span></div>
      <div class="text-silver text-w-700 text-16">Sign up with an existing LinkedIn or Facebook Account</div>
      <button type="button" class="btn btn-primary btn-lg" ng-click="loginLi()">
        <i class="fa fa-lg fa-linkedin"></i>
        <span class="text-16">Sign up with LinkedIn</span>
      </button>
      <button type="button" class="btn btn-primary btn-lg btn-fb" ng-click="loginFb()">
        <i class="fa fa-lg fa-facebook"></i>
        <span class="text-16">Sign up with Facebook</span>
      </button>
      <div class="text-silver">Don't worry, we'll never post anything on your profile</div>
    </div>
    <!--inline divider-->
    <div class="divider"><span>OR</span></div>
    <!--The actual login form-->
    <form name="loginForm" class="reg-form" role="form" ng-submit="register(credentials)">
      <label class="label-title">Sign up with an email account</label>
      <!-- first name input-->
      <div class="form-group">
        <input type="text" name="inputFirstName" class="form-control" ng-model="newUser.firstName" placeholder="First name" ng-required="true">
      </div>
      <!-- last name input -->
      <div class="form-group">
        <input type="text" name="inputLastName" class="form-control" ng-model="newUser.lastName" placeholder="Last name" ng-required="true">
      </div>
      <!-- email input -->
      <div class="form-group" ng-class="{'has-error': loginForm.inputEmail.$error.email || authError.emailTaken}">
        <input type="email" name="inputEmail" class="form-control" ng-model="newUser.email" ng-change="clearAuthError()" placeholder="Enter email" ng-required="true">
        <label ng-show="loginForm.inputEmail.$error.email" class="control-label label-s" for="inputEmail">
          Please include a '@' in the email address.
        </label>
        <label ng-show="authError.emailTaken && authError.emailTaken === newUser.email" class="control-label label-s" for="inputEmail">
          The specified email address is already in use.
        </label>
        <label ng-show="authError.invalidEmail && authError.invalidEmail === newUser.email" class="control-label label-s" for="inputEmail">
          The specified email address is incorrect.
        </label>
      </div>
      <!-- password input -->
      <div class="form-group" ng-class="{'has-error': loginForm.inputPassword.$error.minlength}">
        <input type="password" name="inputPassword" class="form-control" ng-model="newUser.password" ng-minlength="6" placeholder="Password" ng-required="true">
        <label ng-show="loginForm.inputPassword.$error.minlength" class="control-label label-s" for="inputPassword">
          The specified password is incorrect.
        </label>
      </div>
      <button type="submit" class="text-16 btn btn btn-primary btn-lg bg-darkblue" ng-disabled="{{loginForm.$invalid}}">Submit</button>
    </form>
  </div>
</div>
