<div class="container-y">
<div class="register">
  <div class="header-wrap">
    <div class="text-h1">APPLY TO JOIN OUR EXCLUSIVE COMMUNITY</div>
    <div class="text-h1">OF HIGH-END FREELANCERS</div>
  </div>
  <div class="content-wrap">
    <div class="social-btn-wrap">
      <div class="text-grey text-p">Sign in with an existing LinkedIn or Facebook Account</div>
      <button type="button" class="btn btn-normal btn-li text-white" ng-click="login('LinkedIn')">
        <span class="no-margin"><img class="icon text-h2 space-bottom" src="images/svg/linkedIn-white.svg"></span>
        <span>Sign in with LinkedIn</span>
      </button>
      <button type="button" class="btn btn-normal btn-fb text-white" ng-click="login('Facebook')">
        <span class="no-margin"><img class="icon text-h2" src="images/svg/facebook-white.svg"></span>
        <span>Sign in with Facebook</span>
      </button>
      <div class="text-grey text-i">Don't worry, we'll never post anything on your profile</div>
    </div>
    <!--inline divider-->
    <div class="divider text-p"><span>OR</span></div>
    <!--The actual registration form-->
    <form name="registrationForm" class="reg-form width-2-3" role="form" ng-submit="register()">
      <label class="label-title text-grey text-p text-normal">Sign up with an email account</label>
      <!-- email input -->
      <div class="form-group" ng-class="{'has-error': registrationForm.inputEmail.$error.email || registrationForm.inputEmail.$error.emailPattern && registrationForm.inputEmail.$viewValue.length > 0}">
        <input type="email" name="inputEmail" class="form-control input-l" ng-model="newUser.email"
               ui-validate="{emailPattern: 'isEmail($value)'}"
               ng-change="clearAuthError()"
               placeholder="Email"
               ng-required="true">
        <label ng-show="registrationForm.inputEmail.$error.emailPattern && registrationForm.inputEmail.$viewValue.length > 0" class="label-s text-grey" for="inputEmail">
           Please provide a valid email.
        </label>
        <label ng-show="authError" class="control-label label-s text-red-error space-bottom" for="inputEmail">{{authError}}</label>
      </div>
      <!-- password input -->
      <div class="form-group" ng-class="{'has-error': !registrationForm.inputPassword.$valid && registrationForm.inputPassword.$viewValue.length > 0}">
        <input type="password" name="inputPassword" class="form-control input-l"
               ng-model="newUser.password"
               ng-minlength="6"
               ui-validate="{digits: 'hasDigits($value)', lowercase: 'hasLowercase($value)', uppercase: 'hasUppercase($value)', alphanumeric: 'hasNonAlphanumeric($value)'}"
               placeholder="Password"
               ng-required="true">
        <label ng-show="registrationForm.inputPassword.$error.minlength" class="label-s text-grey" for="inputPassword">
          This field needs to be at least 6 characters long.
        </label>
        <label ng-show="registrationForm.inputPassword.$error.digits && newUser.password.length > 0" class="text-start label-s text-grey" for="inputPassword">
          The password must contain at least one digit.
        </label>
        <label ng-show="registrationForm.inputPassword.$error.uppercase && newUser.password.length > 0" class="text-start label-s text-grey" for="inputPassword">
          The password must contain at least one upper case character.
        </label>
        <label ng-show="registrationForm.inputPassword.$error.lowercase && newUser.password.length > 0" class="text-start label-s text-grey" for="inputPassword">
          The password must contain at least one lower case character.
        </label>
        <label ng-show="registrationForm.inputPassword.$error.alphanumeric && newUser.password.length > 0" class="text-start label-s text-grey" for="inputPassword">
          The password must contain at least one non-alphanumeric character.
        </label>
      </div>
      <!-- first name input-->
      <div class="form-group">
        <input type="text" name="inputFirstName" class="form-control input-l" ng-model="newUser.firstName" placeholder="First name" ng-required="true">
      </div>
      <!-- last name input -->
      <div class="form-group">
        <input type="text" name="inputLastName" class="form-control input-l" ng-model="newUser.lastName" placeholder="Last name" ng-required="true">
      </div>
      <div class="flex">
        <button type="submit" class="btn btn-blue btn-normal flex-1 flex-content-centered" ng-disabled="registrationForm.$invalid || authEror || registrationInProgress">
          <div class="container-x flex-content-centered">
            <div>Sign up</div>
            <div class="wrapper-loader space-left" ng-show="registrationInProgress">
              <div class="loader"></div>
            </div>
          </div>
        </button>
      </div>
      <div class="link-tc text-grey text-i space-top">By clicking SignUp you agree to our
        <span class="text-grey-dark">T&C's</span>
      </div>
    </form>
    <div class="link-box text-grey text-p">Already have an account?
      <span class="text-darkBlue" ng-click="go('/login')">Sign in here.</span>
    </div>
  </div>
</div>
<div ng-include="'views/partials/footer.html'"></div>
</div>
