<div ng-controller="ResetPwdCtrl" class="box col-md-6 col-md-offset-3 reset-password container-y flex-content-centered">
  <div class="header-wrap">
    <div class="text-h1">CHANGE PASSWORD</div>
  </div>
  <div class="text-grey content-wrap">
    <form name="resetPwdForm" class="reg-form" role="form" ng-submit="resetPassword()">
      <label class="label-title text-grey text-p">In order to change your password, please enter your old password</label>
      <!-- Old password -->
      <div class="form-group container-y flex-1">
        <input type="password" name="oldPassword" class="form-control" ng-model="oldPassword" placeholder="Enter old password" ng-required="true" ng-minlength="6" autocomplete="on">
        <label ng-show="resetPwdForm.oldPassword.$error.minlength" class="label-warn" for="oldPassword">
          This field needs to be at least 6 characters long.
        </label>
      </div>
      <!-- New password -->
      <div class="form-group container-y flex-1">
        <input type="password" name="newPassword" class="form-control" ng-model="newPassword" placeholder="Enter new Password" ng-minlength="6" ng-required="true">
        <label ng-show="resetPwdForm.newPassword.$error.minlength" class="label-warn" for="newPassword">
          This field needs to be at least 6 characters long.
        </label>
      </div>
      <!-- Retype New password -->
      <div class="form-group container-y flex-1">
        <input type="password" name="confirmPassword" class="form-control" placeholder="Confirm new password"
               ui-validate=" '$value === newPassword' "
               ui-validate-watch=" 'newPassword' "
               ng-model="confirmPassword"
               ng-minlength="6"
               ng-required="true">
        <label ng-show="resetPwdForm.confirmPassword.$error.validator && resetPwdForm.confirmPassword.$dirty" class="label-warn" for="confirmPassword">
          Your passwords do not match yet.
        </label>
      </div>
      <button type="submit" class="btn btn-blue btn-lg btn-big fullscreen-x" ng-disabled="resetPwdForm.$invalid">Submit</button>
    </form>
  </div>
</div>
<div ng-include="'views/partials/footer.html'"></div>
