<div class="container-page storefront">
  <div class="container-y container-page-inner">
    <!--Profile completion timeline-->
    <fv-timeline-h active-step="activeStep" current-user="currentUser"></fv-timeline-h>
    <!-- Profile picture -->
    <div class="wrapper-pic">
      <!-- Modal shown only if user === currentUser -->
      <div class="wrapper-pic-inner" ng-click="showImageCropModal()">
        <div ng-if="avatar"
             class="image-profile profile-picture-m flex-content-centered flex-items-centered"
             ng-class="{'clickable': isCurrentUser}"
             fv-bg-image={{avatar}}>
          <div class="wrapper-camera">
            <img class="img-responsive" src="images/svg/camera-white.svg">
          </div>
        </div>
        <div class="flex-content-centered nopic" ng-if="!avatar && isCurrentUser">
          <img class="img-responsive" src="images/svg/camera-lightGrey.svg">
        </div>
        <div class="flex-content-centered nopic" ng-if="!avatar && !isCurrentUser">
          <img class="img-responsive" src="images/svg/avatar_placeholder.svg.svg">
        </div>
      </div>
      <!-- Profile details -->
      <div class="container-y wrapper-details">
        <div class="container-x text-h2">
          <div class="wrapper-name">{{ user.FirstName }}</div>
          <div class="wrapper-name">{{ user.LastName }}</div>
        </div>
        <div class="container-x text-p">
          <div>{{profile.Title.Literals[0].Text}}</div>
        </div>
        <div class="container-x text-p" ng-if="profile && profile.hasOwnProperty('getCity')">
          <div>{{profile.getCity()}}</div>
        </div>
      </div>
    </div>
    <div class="profile-cover-container">
      <!-- Cover picture -->
      <div class="profile-cover-bg" fv-bg-image="images/backgrounds/bg3.jpg"></div>
      <!-- Anchor navigation tabs -->
      <div class="fv-tabs" fv-tabs>
        <div class="placeholder"></div>
        <div class="fv-tab active">SERVICES</div>
        <a class="fv-tab" href="#portfolio-header">PORTFOLIO</a>
        <a class="fv-tab" href="#reviews-header">REVIEWS</a>
        <a class="fv-tab" href="#bio-header">ABOUT ME</a>
        <div class="wrapper-link text-t">
<!--
          <a ng-href="http://{{ profile.personalUrl }}" target="_blank">
            <svg class="icon icon-blue text-p">
              <use xlink:href="#url"></use>
            </svg>
            <span>{{ profile.personalUrl }}</span>
          </a>
-->
          <!-- Share btn -->
          <div class="wrapper-share-btn" ng-if="isCurrentUser">
            <button class="button btn btn-blue" ng-click="editProfile()">Edit profile</button>
          </div>
          <!-- Contact btn -->
          <div class="wrapper-contact-btn" ng-if="!isCurrentUser">
            <button class="button btn btn-blue" ng-click="showContactModal()">Contact</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Offered Services Section -->
    <div ng-if="offers.length > 0">
      <!-- User === currentUser -->
      <div class="container-x flex-content-spread flex-items-end" ng-if="isCurrentUser">
        <!-- Placeholder -->
        <div class="title-placeholder"></div>
        <span class="anchor">Services Offered</span>
        <a class="wrapper-edit" ng-click="editProfileSection('service_selection')">
          <img src="images/svg/edit-blue.svg">
          <span>Edit</span>
        </a>
      </div>
      <!-- User !== currentUser -->
      <div class="container-x flex-content-centered" ng-if="!isCurrentUser">
        <span class="anchor">Services Offered</span>
      </div>
      <!-- Thumnail grid: offered services -->
      <div class="thumbnail-grid flex-wrap">
        <div ng-repeat="offer in offers" class="col-sm-6 col-md-3 wrapper-thumb">
          <div class="thumbnail">
            <div class="wrapper-img flex-content-centered">
              <img ng-if="!offer.Service.ThumbnailFile.Url" data-src="holder.js/100%x180" alt="100%x180" src="images/thumb.png" class="img-responsive">
              <img ng-if="offer.Service.ThumbnailFile.Url" ng-src="{{offer.Service.ThumbnailFile.Url}}" class="img-responsive">
            </div>
            <a class="thumb-overlay" ng-href="#/offers/{{offer.ID}}">
              <span class="text-white text-h3">View details</span>
            </a>
<!--
            <div class="thumb-overlay" ng-if="isCurrentUser">
              <div class="thumb-overlay-inner" ng-click="editOffer(offer)">
                <svg class="icon icon-light">
                  <use xlink:href="#edit"></use>
                </svg>
              </div>
              <div class="divider-thumb-overlay"></div>
              <div class="thumb-overlay-inner" ng-click="removeOffer(offer)">
                <svg class="icon icon-light">
                  <use xlink:href="#close"></use>
                </svg>
              </div>
            </div>
-->
            <div class="caption">
              <div class="container-x flex-content-spread">
                <div class="text-p-bold">{{ offer.Service.ShortTitle.Literals[0].Text }}</div>
                <div class="text-p-bold">{{ offer.lowestPrice }}</div>
              </div>
            </div>
          </div>
        </div>
        <!-- 'Add service' placeholder -->
        <div class="col-sm-6 col-md-3 wrapper-thumb-placeholder" ng-if="isCurrentUser" ng-click="editProfileSection('service_selection')">
          <div class="thumb-placeholder flex-content-centered">+</div>
        </div>
      </div>
    </div>
    <!-- Portfolio Section -->
    <div ng-if="showcaseItems.length > 0">
      <!-- Divider -->
      <div class="container-x flex-content-centered">
        <div class="col-md-2 divider"></div>
      </div>
      <div class="container-x">
        <a id="portfolio-header" name="portfolio-header" class="anchor">Portfolio</a>
      </div>
      <div class="portfolio-items flex-wrap flex-content-spread">
        <div class="showcase" ng-repeat="item in showcaseItems" ng-click="showPortfolioViewerModal($index)">
          <img ng-src="{{item.link}}" class="img-responsive" ng-class="{'file-placeholder': !item.hasOwnThumbnail}">
          <div class="text-i caption">{{ item.name }}</div>
        </div>
      </div>
      <div class="portfolio-footer" ng-if="isCurrentUser">
        <div class="text-p text-grey space-after">To add a new portfolio item, you must first associate it with a service. Visit the</div>
        <button class="btn btn-link text-p no-padding" ng-click="editProfileSection('service_selection')">
          <span class="space-after">service selection</span>
        </button>
        <div class="text-p text-grey">page to do so.</div>
      </div>
    </div>
    <!-- Reviews Section -->
    <div ng-if="reviews.length > 0">
      <!-- Divider -->
      <div class="container-x flex-content-centered">
        <div class="col-md-2 divider"></div>
      </div>
      <div class="container-x">
        <a id="reviews-header" id="reviews-header" class="anchor">Reviews</a>
      </div>
      <div class="review" ng-repeat="review in reviews" ng-class="{'last': $index === reviews.length - 1}">
        <div class="content container-x">
          <div class="wrapper-reviewer-img">
            <div class="reviewer-img">D</div>
          </div>
          <div class="container-y flex-1 flex-content-spread">
            <div class="container-x review-text">{{ review.Text.Literals[0].Text }}</div>
            <div class="container-x flex-content-spread">
              <div class="container-x">
                <fv-dynamic-icon class="space-right container-icon-light import-link-min wrapper-darkGrey bg-lightgrey" provider={{review.Provider}}></fv-dynamic-icon>
                <div class="icon-provider-xs"></div>
                <div class="text-i text-silver space-after">{{ review.Moniker }},</div>
                <div class="text-i text-silver">
                  <span am-time-ago="review.Date"></span>
                </div>
              </div>
              <div class="container-x text-p">
                <!-- full stars -->
                <div class="text-yellow" ng-repeat="star in range(review.Rating)">
                  <span class="glyphicon glyphicon-star"></span>
                </div>
                <!-- empty stars -->
                <div class="text-yellow" ng-repeat="star in range(5 - review.Rating)">
                  <span class="glyphicon glyphicon-star-empty"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- About -->
    <div ng-if="profile.Description">
      <!-- Divider -->
      <div class="container-x flex-content-centered">
        <div class="col-md-2 divider"></div>
      </div>
      <!-- User === currentUser -->
      <div class="container-x flex-content-spread flex-items-end" ng-if="isCurrentUser">
        <!-- Placeholder -->
        <div class="title-placeholder"></div>
        <a id="about-header" name="about-header" class="anchor">About me</a>
        <a class="wrapper-edit" ng-click="editProfileSection('info')">
          <img src="images/svg/edit-blue.svg">
          <span>Edit</span>
        </a>
      </div>
      <!-- User !== currentUser -->
      <div class="container-x flex-content-centered flex-items-end" ng-if="!isCurrentUser">
        <div class="text-h3">
          <a id="about-header" name="about-header" class="anchor">About</a>
          <span>{{ user.FirstName }}</span>
        </div>
      </div>
      <div class="bio">{{ profile.Description.Literals[0].Text }}</div>
    </div>
  </div>
</div>
<div ng-include="'views/partials/footer.html'"></div>
